# Data Prepare

In [2]:
from collections import Counter
from itertools import combinations
import re

import pandas as pd
import numpy as np

from sklearn.preprocessing import StandardScaler
from sklearn.preprocessing import LabelEncoder
from sklearn.metrics.pairwise import cosine_similarity

import matplotlib.pyplot as plt
import seaborn as sns

import pickle as pk

from jupyterthemes import jtplot
jtplot.style(figsize=(15, 9))

## Genres

### One-Hot Encoding

In [26]:
genres = pd.read_csv('../data/popular_10000_movies/movies_dataset_CLEAN.csv', index_col='id')

genres = genres['genres'].to_frame()
genres.dropna(inplace=True)

genres.head()

                                               genres
id
385687                        Action, Crime, Thriller
697843                               Action, Thriller
603692                        Action, Thriller, Crime
569094  Action, Adventure, Animation, Science Fiction
502356  Animation, Family, Adventure, Fantasy, Comedy

In [3]:
genres.shape

(9144, 1)

In [4]:
genres.isna().sum()

genres    0
dtype: int64

In [5]:
genres['genres'].nunique()

2131

In [4]:
unique_genres = [
    'Action',
    'Adventure',
    'Animation',
    'Comedy',
    'Crime',
    'Documentary',
    'Drama',
    'Family',
    'Fantasy',
    'History',
    'Horror',
    'Music',
    'Mystery',
    'Romance',
    'Science Fiction',
    'TV Movie',
    'Thriller',
    'War',
    'Western'
]

In [33]:
with open('data/unique_genres_list.pickle', 'wb') as f:
    pk.dump(unique_genres, f, pk.HIGHEST_PROTOCOL)

In [ ]:
genres_vectors = pd.DataFrame(index=genres.index, columns=unique_genres)
genres_vectors.head()

In [28]:
for i in range(genres.shape[0]):
    df = np.full(len(unique_genres), 0)
    
    for j in str(genres['genres'].iloc[i]).split(', '):
        df[unique_genres.index(j)] = 1

    genres_vectors.iloc[i] = df
        
genres_vectors.head()

,Action,Adventure,Animation,Comedy,Crime,Documentary,Drama,Family,Fantasy,History,Horror,Music,Mystery,Romance,Science Fiction,TV Movie,Thriller,War,Western
id,,,,,,,,,,,,,,,,,,,
385687,1,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,1,0,0
697843,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0
603692,1,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,1,0,0
569094,1,1,1,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0
502356,0,1,1,1,0,0,0,1,1,0,0,0,0,0,0,0,0,0,0

### Labels for Genres

In [3]:
# if we have that genre in list it will be dominant, from most to least
labels = [
    'Documentary',
    'Music',
    'Animation',
    'Family',
    'Science Fiction',
    'Horror',
    'History',
    'Thriller',
]

In [30]:
labels_df = pd.DataFrame(index=genres.index, columns=['label'])
labels_df.head()

       label
id
385687   NaN
697843   NaN
603692   NaN
569094   NaN
502356   NaN

In [31]:
for i in range(genres.shape[0]):
    genres_l = str(genres['genres'].iloc[i]).split(', ')
    labels_df.iloc[i] = genres_l[0]
    for j in labels:
        if j in genres_l:
            labels_df.iloc[i] = j
            break
        
labels_df.head()

            label
id
385687   Thriller
697843   Thriller
603692   Thriller
569094  Animation
502356  Animation

In [32]:
le = LabelEncoder()
le.fit(labels_df['label'])

labels_df['label_encoder'] = le.transform(labels_df['label'])
labels_df.head()

            label  label_encoder
id
385687   Thriller             16
697843   Thriller             16
603692   Thriller             16
569094  Animation              2
502356  Animation              2

In [33]:
labels_df.shape

(9144, 2)

### Add Labels to Genres

In [34]:
df = pd.merge(genres_vectors, labels_df, on='id', how='inner')
df.head()

,Action,Adventure,Animation,Comedy,Crime,Documentary,Drama,Family,Fantasy,History,...,Music,Mystery,Romance,Science Fiction,TV Movie,Thriller,War,Western,label,label_encoder
id,,,,,,,,,,,,,,,,,,,,,
385687,1,0,0,0,1,0,0,0,0,0,...,0,0,0,0,0,1,0,0,Thriller,16
697843,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,1,0,0,Thriller,16
603692,1,0,0,0,1,0,0,0,0,0,...,0,0,0,0,0,1,0,0,Thriller,16
569094,1,1,1,0,0,0,0,0,0,0,...,0,0,0,1,0,0,0,0,Animation,2
502356,0,1,1,1,0,0,0,1,1,0,...,0,0,0,0,0,0,0,0,Animation,2

In [35]:
df.shape

(9144, 21)

In [37]:
df.to_csv('data/one-hot_genres_w_labels.csv')

### Cosine Similarity

In [43]:
genres_list = list(genres['genres'].unique())

In [44]:
for i, g in enumerate(genres_list):
    genres_list[i] = g.split(', ')

In [45]:
genres_list[:20]

[['Action', 'Crime', 'Thriller'],
 ['Action', 'Thriller'],
 ['Action', 'Thriller', 'Crime'],
 ['Action', 'Adventure', 'Animation', 'Science Fiction'],
 ['Animation', 'Family', 'Adventure', 'Fantasy', 'Comedy'],
 ['Action', 'Adventure', 'Science Fiction'],
 ['Animation', 'Comedy', 'Family', 'Fantasy', 'Romance'],
 ['Mystery', 'Thriller', 'Science Fiction'],
 ['Science Fiction', 'Action', 'Adventure'],
 ['Action', 'Science Fiction', 'Adventure'],
 ['Science Fiction', 'Adventure', 'Action'],
 ['Action', 'Horror', 'Thriller'],
 ['Adventure', 'Family', 'Fantasy', 'Romance'],
 ['Thriller', 'Horror'],
 ['Horror', 'Thriller'],
 ['War', 'Action', 'Thriller'],
 ['Drama', 'Romance'],
 ['Action', 'Fantasy', 'Thriller'],
 ['Comedy', 'Action', 'Fantasy'],
 ['Comedy', 'Drama']]

In [46]:
un_genres_list = [genre for genres in genres_list for genre in genres]

In [47]:
len(genres_list), len(un_genres_list)

(2131, 7856)

In [48]:
un_genres_list = list(set(un_genres_list))

In [49]:
len(un_genres_list)

19

In [50]:
un_genres_list

['TV Movie',
 'Thriller',
 'Action',
 'Mystery',
 'Crime',
 'Documentary',
 'Adventure',
 'Science Fiction',
 'Drama',
 'Animation',
 'Music',
 'Fantasy',
 'Family',
 'Romance',
 'Western',
 'War',
 'History',
 'Horror',
 'Comedy']

In [51]:
genres_list[:20]

[['Action', 'Crime', 'Thriller'],
 ['Action', 'Thriller'],
 ['Action', 'Thriller', 'Crime'],
 ['Action', 'Adventure', 'Animation', 'Science Fiction'],
 ['Animation', 'Family', 'Adventure', 'Fantasy', 'Comedy'],
 ['Action', 'Adventure', 'Science Fiction'],
 ['Animation', 'Comedy', 'Family', 'Fantasy', 'Romance'],
 ['Mystery', 'Thriller', 'Science Fiction'],
 ['Science Fiction', 'Action', 'Adventure'],
 ['Action', 'Science Fiction', 'Adventure'],
 ['Science Fiction', 'Adventure', 'Action'],
 ['Action', 'Horror', 'Thriller'],
 ['Adventure', 'Family', 'Fantasy', 'Romance'],
 ['Thriller', 'Horror'],
 ['Horror', 'Thriller'],
 ['War', 'Action', 'Thriller'],
 ['Drama', 'Romance'],
 ['Action', 'Fantasy', 'Thriller'],
 ['Comedy', 'Action', 'Fantasy'],
 ['Comedy', 'Drama']]

In [52]:
genres_counter = {}
l = []
for g in un_genres_list:
    for gs in genres_list:
        if g in gs:
            l.extend(gs)
    genres_counter[g] = dict(Counter(l))
    l = []

genres_counter['Animation']

{'Action': 129,
 'Adventure': 216,
 'Animation': 407,
 'Science Fiction': 99,
 'Family': 298,
 'Fantasy': 160,
 'Comedy': 215,
 'Romance': 26,
 'Music': 38,
 'Drama': 31,
 'TV Movie': 36,
 'Crime': 14,
 'Thriller': 12,
 'Horror': 18,
 'Mystery': 40,
 'Western': 7,
 'War': 5,
 'History': 4}

In [53]:
genres_df = pd.DataFrame(columns=un_genres_list, index=un_genres_list)
genres_df.head()

,TV Movie,Thriller,Action,Mystery,Crime,Documentary,Adventure,Science Fiction,Drama,Animation,Music,Fantasy,Family,Romance,Western,War,History,Horror,Comedy
TV Movie,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Thriller,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Action,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Mystery,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Crime,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [54]:
for genre in un_genres_list:
    g = {}
    for u_genre in un_genres_list:
        if u_genre in genres_counter[genre].keys():
            g[u_genre] =  genres_counter[genre][u_genre]
        else:
            g[u_genre] = 0
    genres_df.loc[genre] = g

In [55]:
genres_df.head()

,TV Movie,Thriller,Action,Mystery,Crime,Documentary,Adventure,Science Fiction,Drama,Animation,Music,Fantasy,Family,Romance,Western,War,History,Horror,Comedy
TV Movie,176,25,38,12,10,3,44,39,55,36,23,46,77,22,3,5,10,20,79
Thriller,25,615,264,196,197,1,111,154,285,12,4,73,8,72,19,38,38,159,98
Action,38,264,759,73,153,5,348,234,208,129,8,152,137,52,38,66,50,115,210
Mystery,12,196,73,342,98,3,59,72,141,40,5,52,41,36,6,6,9,84,85
Crime,10,197,153,98,348,3,43,25,166,14,9,15,15,39,13,2,19,36,116

In [56]:
cs_df = pd.DataFrame(columns=genres_df.index, index=genres_df.index)
cs_df.head()

,TV Movie,Thriller,Action,Mystery,Crime,Documentary,Adventure,Science Fiction,Drama,Animation,Music,Fantasy,Family,Romance,Western,War,History,Horror,Comedy
TV Movie,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Thriller,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Action,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Mystery,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Crime,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [2]:
def get_cosine_similarity_mertric(df1, df2):
    return np.dot(df1, df2)/ \
    (np.sqrt(np.power(df1, 2).sum()) * np.sqrt(np.power(df2, 2).sum()))

In [70]:
for i in genres_df.columns:
    for j in genres_df.columns:
        cs_df.loc[i][j] = get_cosine_similarity_mertric(genres_df[i], genres_df[j])

In [71]:
cs_df

,TV Movie,Thriller,Action,Mystery,Crime,Documentary,Adventure,Science Fiction,Drama,Animation,Music,Fantasy,Family,Romance,Western,War,History,Horror,Comedy
TV Movie,1.0,0.394733,0.513236,0.39673,0.364897,0.273702,0.592527,0.53523,0.511371,0.599006,0.580721,0.61596,0.676505,0.495483,0.354297,0.326719,0.332524,0.410583,0.677208
Thriller,0.394733,1.0,0.717784,0.803086,0.803562,0.252943,0.478655,0.632004,0.747659,0.276127,0.26195,0.419476,0.280956,0.495854,0.468874,0.527351,0.504018,0.717057,0.440748
Action,0.513236,0.717784,1.0,0.554684,0.650536,0.291962,0.797106,0.781199,0.623967,0.589238,0.364484,0.625936,0.571553,0.473524,0.555539,0.573059,0.479258,0.612385,0.641312
Mystery,0.39673,0.803086,0.554684,1.0,0.702164,0.263122,0.456686,0.554591,0.662259,0.365163,0.314863,0.449878,0.36879,0.471931,0.387748,0.379926,0.384377,0.646352,0.491783
Crime,0.364897,0.803562,0.650536,0.702164,1.0,0.289151,0.422055,0.450467,0.70113,0.281047,0.310511,0.34936,0.297321,0.481107,0.460968,0.420063,0.462907,0.507797,0.503363
Documentary,0.273702,0.252943,0.291962,0.263122,0.289151,1.0,0.247916,0.216827,0.337446,0.169529,0.257017,0.192158,0.198267,0.221919,0.214639,0.240606,0.312933,0.220365,0.274301
Adventure,0.592527,0.478655,0.797106,0.456686,0.422055,0.247916,1.0,0.719617,0.537524,0.801408,0.530574,0.794288,0.831916,0.530338,0.53405,0.451217,0.386237,0.464983,0.784823
Science Fiction,0.53523,0.632004,0.781199,0.554591,0.450467,0.216827,0.719617,1.0,0.512783,0.598825,0.354121,0.613756,0.575048,0.428716,0.385528,0.382743,0.295121,0.641385,0.601664
Drama,0.511371,0.747659,0.623967,0.662259,0.70113,0.337446,0.537524,0.512783,1.0,0.351065,0.497333,0.496137,0.432878,0.725442,0.603654,0.706889,0.748685,0.516213,0.542533
Animation,0.599006,0.276127,0.589238,0.365163,0.281047,0.169529,0.801408,0.598825,0.351065,1.0,0.590689,0.775147,0.926371,0.421453,0.339857,0.239284,0.19883,0.339585,0.789651
Music,0.580721,0.26195,0.364484,0.314863,0.310511,0.257017,0.530574,0.354121,0.497333,0.590689,1.0,0.609684,0.677975,0.59703,0.319886,0.277159,0.303492,0.281107,0.711368
Fantasy,0.61596,0.419476,0.625936,0.449878,0.34936,0.192158,0.794288,0.613756,0.496137,0.775147,0.609684,1.0,0.827836,0.550375,0.382767,0.303073,0.259801,0.54539,0.781311
Family,0.676505,0.280956,0.571553,0.36879,0.297321,0.198267,0.831916,0.575048,0.432878,0.926371,0.677975,0.827836,1.0,0.521147,0.373618,0.264771,0.244276,0.334294,0.857971
Romance,0.495483,0.495854,0.473524,0.471931,0.481107,0.221919,0.530338,0.428716,0.725442,0.421453,0.59703,0.550375,0.521147,1.0,0.498564,0.486483,0.473519,0.373366,0.641448
Western,0.354297,0.468874,0.555539,0.387748,0.460968,0.214639,0.53405,0.385528,0.603654,0.339857,0.319886,0.382767,0.373618,0.498564,1.0,0.429411,0.433182,0.347704,0.455509
War,0.326719,0.527351,0.573059,0.379926,0.420063,0.240606,0.451217,0.382743,0.706889,0.239284,0.277159,0.303073,0.264771,0.486483,0.429411,1.0,0.799357,0.335557,0.334201
History,0.332524,0.504018,0.479258,0.384377,0.462907,0.312933,0.386237,0.295121,0.748685,0.19883,0.303492,0.259801,0.244276,0.473519,0.433182,0.799357,1.0,0.285758,0.298909
Horror,0.410583,0.717057,0.612385,0.646352,0.507797,0.220365,0.464983,0.641385,0.516213,0.339585,0.281107,0.54539,0.334294,0.373366,0.347704,0.335557,0.285758,1.0,0.46611
Comedy,0.677208,0.440748,0.641312,0.491783,0.503363,0.274301,0.784823,0.601664,0.542533,0.789651,0.711368,0.781311,0.857971,0.641448,0.455509,0.334201,0.298909,0.46611,1.0

In [72]:
cs_df.to_csv('data/genres_cosine_similarity.csv')

---

## Keywords

In [2]:
keywords = pd.read_csv('../data/popular_10000_movies/movies_dataset_CLEAN.csv', index_col='id')
keywords = keywords['keywords'].to_frame()

In [3]:
keywords.head()

                                                 keywords
id
385687  [{'id': 9663, 'name': 'sequel'}, {'id': 9748, ...
697843  [{'id': 3070, 'name': 'mercenary'}, {'id': 966...
603692  [{'id': 242, 'name': 'new york city'}, {'id': ...
569094  [{'id': 2858, 'name': 'sacrifice'}, {'id': 328...
502356  [{'id': 282, 'name': 'video game'}, {'id': 690...

In [4]:
keywords.iloc[22]

keywords    [{'id': 160130, 'name': 'invisible person'}, {...
Name: 1131438, dtype: object

In [5]:
keywords.iloc[3398] = "[{'id': 5424, 'name': 'women's prison'}]"
keywords.iloc[8550] = "[{'id': 15101, 'name': 'based on children's book'}]"
keywords.iloc[9035] = "[{'id': 210450, 'name': 'noah's ark'}]"

In [6]:
keywords.iloc[2709].to_list()[0], keywords.iloc[4485].to_list()[0]

("[{'id': 18021, 'name': 'detroit, michigan'}]",
 "[{'id': 588, 'name': 'rome, italy'}]")

In [7]:
kw = keywords.iloc[2709].to_list()[0][1:-1]
l = re.findall("'name': '[\w()\-,\. ]+'", kw)
l2 = [i.replace("'name': ", "").replace("'", '') for i in l]
l, l2

(["'name': 'detroit, michigan'"], ['detroit, michigan'])

In [8]:
full_keywords_l = []
keywords_list_of_list = []
for i in range(keywords.shape[0]):
    kw = keywords.iloc[i].to_list()[0][1:-1]
    l = re.findall("'name': '[\w()\-,\. ]+'", kw)
    l2 = [i.replace("'name': ", "").replace("'", '') for i in l]
    if not l2:
        print(i)
    full_keywords_l.extend(l2)
    keywords_list_of_list.append(l2)

In [9]:
keywords_list_of_list[:5]

[['sequel', 'revenge', 'racing', 'family', 'cars'],
 ['mercenary',
  'sequel',
  'rescue mission',
  'long take',
  'based on graphic novel'],
 ['new york city',
  'martial arts',
  'hitman',
  'sequel',
  'organized crime',
  'osaka, japan',
  'aftercreditsstinger',
  'hunted',
  'professional assassin',
  'neo-noir',
  'berlin'],
 ['sacrifice',
  'villain',
  'comic book',
  'sequel',
  'superhero',
  'based on comic',
  'alternate dimension',
  'alternate version',
  'super power',
  'brooklyn, new york city',
  'superhero team',
  'spider bite',
  'super villain',
  'cliffhanger',
  'teen superhero',
  'alternate universe',
  'female superhero',
  'cartoon spider'],
 ['video game',
  'gorilla',
  'plumber',
  'magic mushroom',
  'anthropomorphism',
  'based on video game',
  'toad',
  'aftercreditsstinger',
  'duringcreditsstinger',
  'damsel in distress',
  'piano',
  'white gloves',
  'brother brother relationship',
  'evil king']]

In [160]:
keywords_list_of_str = [', '.join(l) for l in keywords_list_of_list] # bad idea with ', '
keywords_list_of_str[0]

'sequel, revenge, racing, family, cars'

In [10]:
len(full_keywords_l), len(keywords_list_of_list)

(82292, 9144)

In [11]:
unique_keywords = list(set(full_keywords_l))

In [22]:
for i in unique_keywords:
    if len(i)<3:
        print(i)

pc
gi
ax
ya
dj
بظ
3d
bp
iq
vr
rv
k2
살인
青春
uk

In [12]:
len(unique_keywords)

14239

In [24]:
keywords_counter = {}
l = []
for k in list(set(full_keywords_l)):
    for ks in keywords_list_of_list:
        if k in ks:
            l.extend(ks)
    keywords_counter[k] = dict(Counter(l))
    l = []

keywords_counter['sequel']

{'sequel': 457,
 'revenge': 31,
 'racing': 2,
 'family': 11,
 'cars': 1,
 'mercenary': 6,
 'rescue mission': 7,
 'long take': 1,
 'based on graphic novel': 1,
 'new york city': 12,
 'martial arts': 20,
 'hitman': 5,
 'organized crime': 2,
 'osaka, japan': 1,
 'aftercreditsstinger': 37,
 'hunted': 1,
 'professional assassin': 2,
 'neo-noir': 7,
 'berlin': 1,
 'sacrifice': 2,
 'villain': 10,
 'comic book': 1,
 'superhero': 31,
 'based on comic': 30,
 'alternate dimension': 5,
 'alternate version': 1,
 'super power': 16,
 'brooklyn, new york city': 2,
 'superhero team': 7,
 'spider bite': 1,
 'super villain': 2,
 'cliffhanger': 1,
 'teen superhero': 1,
 'alternate universe': 1,
 'female superhero': 1,
 'cartoon spider': 1,
 'hero': 7,
 'mad scientist': 4,
 'space opera': 5,
 'raccoon': 1,
 'duringcreditsstinger': 44,
 'marvel cinematic universe (mcu)': 12,
 'cosmic': 1,
 'outer space': 1,
 'chosen family': 1,
 'loss of loved one': 10,
 'dying and death': 3,
 'alien life-form': 4,
 'resurrection': 9,
 'dysfunctional family': 2,
 'alien planet': 3,
 'distant future': 1,
 'adopted child': 1,
 'rebirth': 1,
 'family dynamics': 1,
 'adopted son': 1,
 'stronger villain': 1,
 'war': 1,
 'machete': 3,
 'murder': 42,
 'gore': 17,
 'diner': 3,
 'dog': 6,
 'blood': 1,
 'terrorists': 1,
 'sibling relationship': 8,
 'earthquake': 3,
 'pregnancy': 7,
 'los angeles, california': 16,
 'demon': 5,
 'evil': 6,
 'necronomicon': 2,
 'reboot': 4,
 'demonic possession': 3,
 'motherhood': 1,
 'sisterhood': 2,
 'sister sister relationship': 4,
 'body horror': 1,
 'apartment': 1,
 'ant': 2,
 'philadelphia, pennsylvania': 1,
 'husband wife relationship': 4,
 'deaf': 1,
 'sports': 8,
 'orphan': 2,
 'former best friend': 1,
 'ex-con': 1,
 'childhood friends': 1,
 'juvenile detention center': 1,
 'boxing': 2,
 'prodigy': 1,
 'mask': 9,
 'trauma': 3,
 'halloween': 17,
 'college': 9,
 'fake identity': 3,
 'public murder': 1,
 'serial killer': 19,
 'conspiracy theory': 1,
 'social commentary': 1,
 'police corruption': 2,
 'slasher': 34,
 'whodunit': 4,
 'multiple stabbings': 1,
 'brutality': 5,
 'killing spree': 1,
 'self-referential': 2,
 'crime spree': 3,
 'movie fan': 1,
 'copycat killer': 2,
 'masked villain': 2,
 'stabbed to death': 2,
 'fbi agent': 1,
 'post credit scene': 1,
 'masked killer': 1,
 'feminism': 1,
 'flashback': 6,
 'prologue': 1,
 'knife fight': 1,
 'archaeologist': 2,
 'adventurer': 5,
 '1960s': 1,
 'relic hunter': 1,
 'showdown': 7,
 'secret identity': 4,
 'magic': 14,
 'dangerous': 2,
 'vigilante': 6,
 'portal': 1,
 'alternate reality': 1,
 'masked vigilante': 1,
 'spider web': 1,
 'teenage hero': 2,
 'fight for justice': 1,
 'superhero teamup': 1,
 'returning hero': 1,
 'crossover': 1,
 'teamwork': 2,
 'royal family': 2,
 'royalty': 4,
 'underwater': 7,
 'death in family': 1,
 'mourning': 1,
 'death of brother': 1,
 'death of king': 1,
 'hidden civilization': 1,
 'yucatan': 1,
 'mayans': 1,
 'music video': 1,
 'alien': 14,
 'based on toy': 2,
 'giant robot': 2,
 'robot': 7,
 'fighter pilot': 1,
 'u.s. navy': 2,
 'nuclear weapons': 2,
 'military': 5,
 'franchise': 1,
 'insidious': 1,
 'supernatural horror': 13,
 'directorial debut': 1,
 'fifth part': 1,
 'clown': 4,
 'killer': 9,
 'killer clown': 1,
 'evil clown': 2,
 'halloween night': 2,
 'graphic violence': 1,
 'megaslasher': 1,
 'based on video game': 3,
 'hedgehog': 1,
 'live action and animation': 4,
 'ex-girlfriend': 1,
 'greek mythology': 1,
 'shadow': 1,
 'norse mythology': 3,
 'heroes': 1,
 'norse god': 2,
 'god of thunder': 1,
 'colorless': 1,
 'child abduction': 1,
 'thor': 1,
 'nude male lead': 1,
 'giant monster': 2,
 'dinosaur': 7,
 'child kidnapping': 1,
 'jurassic': 1,
 'animal sanctuary': 1,
 'exorcism': 1,
 'supernatural': 15,
 'connecticut': 1,
 'paranormal investigation': 2,
 '1980s': 2,
 'religious horror': 1,
 'misfit': 1,
 'space': 8,
 'anti hero': 4,
 'psychopath': 18,
 'creature': 27,
 'fear': 2,
 'symbiote': 2,
 'carnage': 2,
 'venom character': 1,
 '1970s': 2,
 'spin off': 2,
 'minions': 2,
 'gentleminions': 1,
 'undercover': 3,
 'fbi': 5,
 'disguise': 3,
 'impersonation': 1,
 'obsession': 1,
 'experiment': 6,
 'electrocution': 1,
 'italy': 2,
 'assassin': 6,
 'gun': 5,
 'roof': 1,
 'secret organization': 3,
 'shootout': 12,
 'gun fu': 1,
 'handshake': 1,
 'dark': 1,
 'fight scenes': 1,
 'dogs': 1,
 'based on novel or book': 38,
 'carnival': 1,
 'remake': 3,
 'maine': 1,
 'ancient evil': 3,
 'loss of a friend': 1,
 '2016': 1,
 'speed': 1,
 'family relationships': 5,
 'fast car': 1,
 'brother brother relationship': 1,
 'casablanca': 1,
 'morocco': 2,
 'secret society': 1,
 'black humor': 1,
 'sahara desert': 2,
 'russian mafia': 1,
 'one man army': 2,
 'baba yaga': 1,
 'dog man friendship': 1,
 'space travel': 5,
 'time travel': 9,
 'time machine': 2,
 'alien invasion': 5,
 'alternate timeline': 1,
 'father daughter relationship': 5,
 'artificial intelligence': 6,
 'fictitious country': 1,
 'evil robot': 1,
 'saving the world': 8,
 'cyborg': 5,
 'killer robot': 1,
 'future': 3,
 'dystopia': 20,
 'terminator': 2,
 'clock': 1,
 'queen': 1,
 'dark fantasy': 2,
 'mad hatter': 1,
 'live action remake': 2,
 'venice, italy': 1,
 'europe': 5,
 'school trip': 2,
 'destruction': 1,
 'tower of london': 1,
 'eroticism': 2,
 'bdsm': 4,
 'civil war': 1,
 'united states': 1,
 'submarine': 2,
 'street race': 3,
 'betrayal': 5,
 'criminal mastermind': 1,
 'mysterious woman': 1,
 'sperm bank': 1,
 'buddy': 5,
 'courthouse': 1,
 'teddy bear': 2,
 'toy comes to life': 4,
 'android': 4,
 'spacecraft': 5,
 'infection': 2,
 'engineer': 1,
 'scientist': 9,
 'genocide': 1,
 'creation': 1,
 'acid': 1,
 'xenomorph': 3,
 'alien technology': 1,
 'genetic mutation': 2,
 'prison': 14,
 'wife': 1,
 'accidental death': 1,
 'fighting': 3,
 'fight': 7,
 'maze': 1,
 'imprisonment': 3,
 'post-apocalyptic future': 9,
 'terminal illness': 1,
 'survival': 3,
 'trial': 1,
 'zombie': 6,
 'doctor': 5,
 'battle': 4,
 'vaccine': 1,
 'desert': 4,
 'labyrinth': 2,
 'combat': 3,
 'illness': 1,
 'cure': 1,
 'zombie apocalypse': 1,
 'runner': 1,
 'universal cure': 1,
 'based on young adult novel': 8,
 'island': 7,
 'radio transmission': 1,
 'child in peril': 1,
 'psychological thriller': 1,
 'parenting': 2,
 'survival horror': 8,
 'alien monster': 2,
 'human vs alien': 1,
 'sign languages': 2,
 'alien attack': 1,
 'hearing impaired': 1,
 'fairy tale': 4,
 'musical': 10,
 'wish': 3,
 'princess': 7,
 'streaming': 1,
 'liberation': 3,
 'honeymoon': 1,
 'prince': 7,
 'parents-in-law': 1,
 'kingdom': 5,
 'enchantment': 1,
 'transformation': 6,
 'anthropomorphism': 10,
 'dragon': 7,
 'ogre': 3,
 'cartoon donkey': 2,
 'child abuse': 1,
 'kidnapping': 8,
 'stalking': 1,
 'teenage girl': 4,
 'mental illness': 4,
 'multiple personality': 2,
 'traumatic childhood': 1,
 'dissociative identity disorder': 2,
 'mutant': 5,
 'dual identity': 2,
 'amnesia': 5,
 'sandstorm': 3,
 'forgiveness': 1,
 'spider': 1,
 'wretch': 2,
 'egomania': 1,
 'sand': 1,
 'narcism': 1,
 'hostility': 1,
 'car race': 5,
 'best friend': 5,
 'museum': 2,
 'prosecution': 2,
 'identity crisis': 2,
 'airplane': 6,
 'flea market': 1,
 'collector': 1,
 'friendship': 10,
 'rescue team': 1,
 'garage sale': 1,
 'personification': 3,
 'inanimate objects come to life': 2,
 'sea': 1,
 'ship': 3,
 'artifact': 1,
 'treasure map': 1,
 'pirate': 2,
 'period drama': 1,
 'monkey': 2,
 'swashbuckler': 1,
 'ghost': 8,
 'caribbean sea': 2,
 'trident': 1,
 'cướp biển': 1,
 'hải tặc': 1,
 'baby': 6,
 'boss': 1,
 'sibling': 1,
 'prehistory': 1,
 'flying': 4,
 'overpopulation': 1,
 'viking': 3,
 'love interest': 1,
 'dna': 1,
 'tyrannosaurus rex': 2,
 'velociraptor': 1,
 'animal attack': 9,
 'primal fear': 1,
 'disaster': 3,
 'escape': 7,
 'park': 1,
 'amusement park': 4,
 'theme park': 3,
 'genetic engineering': 3,
 'raptor': 1,
 'animal horror': 2,
 'mosasaurus': 1,
 'witch': 7,
 'sister': 2,
 'high school': 7,
 'salem, massachusetts': 1,
 'trainer': 1,
 'travel': 2,
 'high tech': 1,
 'resistance': 1,
 'female protagonist': 3,
 'bow and arrow': 2,
 'game': 1,
 'future war': 1,
 'revolt': 1,
 'class prejudice': 1,
 'human subjugation': 1,
 'small town': 2,
 'ghostbuster': 1,
 'nostalgia': 1,
 'afterlife': 1,
 'dead grandfather': 1,
 'otherworldly beings': 1,
 'paranormal events': 1,
 'father absence': 1,
 'ghostbusters': 1,
 'werewolf': 2,
 'supernatural creature': 2,
 'based on movie': 2,
 'banshee': 1,
 'northern california': 1,
 'based on tv series': 2,
 '2020s': 1,
 'shotgun': 1,
 'prison cell': 1,
 'champion': 1,
 'fighter': 3,
 'blood splatter': 3,
 'beating': 1,
 'jail': 1,
 'tournament': 3,
 'jail cell': 1,
 'prison fight': 2,
 'carrot': 1,
 'female villain': 2,
 'loki': 1,
 'cartoon': 6,
 'cowboy': 2,
 'psychiatric hospital': 1,
 'comic book shop': 1,
 'surveillance specialist': 1,
 'bounty hunter': 3,
 'genetics': 1,
 'cyberpunk': 3,
 'las vegas': 3,
 'tech noir': 1,
 'blade runner': 1,
 '2040s': 2,
 'self-destruction': 1,
 'immortality': 2,
 'road trip': 7,
 'neo-western': 1,
 'troubled past': 1,
 'aging superhero': 1,
 'life on the margin': 1,
 'detective': 11,
 'greece': 3,
 'mona lisa (la gioconda)': 1,
 'investigation': 7,
 'satire': 3,
 'billionaire': 2,
 'puzzle box': 2,
 'clue': 1,
 'identical twin': 1,
 'murder mystery': 1,
 'arrested development': 1,
 'covid-19': 2,
 'texas': 3,
 'prequel': 3,
 'purge': 3,
 'family surviving alone': 1,
 'guns and weapons': 1,
 'california': 5,
 'gas station': 2,
 'suspicion of murder': 1,
 'golf': 1,
 'bodyguard': 2,
 'funeral': 2,
 'penthouse apartment': 1,
 'car crash': 3,
 'morgue': 2,
 'on the run': 2,
 'confusion': 1,
 'fugitive': 3,
 'police chase': 1,
 'explosion': 13,
 'foot chase': 6,
 'anger': 1,
 'group of friends': 2,
 'death of mother': 2,
 'surveillance camera': 1,
 'murder investigation': 1,
 'failing marriage': 1,
 'ex-husband ex-wife relationship': 1,
 'police surveillance': 1,
 'wanted man': 1,
 'police inspector': 1,
 'framed for murder': 1,
 'protective father': 1,
 'gps': 1,
 'money problems': 1,
 'elevator': 1,
 'prime suspect': 1,
 'college student': 1,
 'rich husband': 1,
 'ex special forces': 1,
 'ex-cia agent': 1,
 'unhappy marriage': 1,
 'unplanned pregnancy': 1,
 'spetsnaz': 1,
 'secret hideout': 1,
 'innocent suspect': 1,
 'lost money': 1,
 'army veteran': 2,
 'associates': 1,
 'secret investigation': 1,
 'homicide investigation': 1,
 'russian': 1,
 'deep sadness': 1,
 'enemy': 1,
 'evasion': 1,
 'in love with ex': 1,
 'mystery': 1,
 'tense': 1,
 'honorable': 1,
 'stepfather stepdaughter relationship': 1,
 'death of ex': 1,
 'spy tech': 1,
 'outsmart': 1,
 'special skills': 1,
 'owe money to criminals': 1,
 'ice age': 2,
 'bridge': 1,
 'insanity': 2,
 'prehistoric': 3,
 'jungle': 6,
 'birth': 2,
 'london, england': 7,
 'dancehall girl': 1,
 'male stripper': 1,
 'bar dancer': 1,
 'dancefilm': 1,
 'abusive relationship': 1,
 'rivalry': 3,
 'dedicated': 1,
 'box ring': 1,
 'ukraine': 1,
 'hostage': 4,
 'daycare': 1,
 'ambush': 2,
 'sadness': 1,
 'stage': 1,
 'liberation of prisoners': 2,
 'traitor': 1,
 'shipwreck': 1,
 'theater play': 1,
 'conciliation': 1,
 'tricks': 1,
 'heir to the throne': 2,
 'assault': 1,
 'boarding school': 2,
 'teacher': 2,
 'cowardliness': 1,
 'capture': 2,
 'victorian england': 1,
 'female detective': 1,
 'sherlock holmes': 3,
 'paris, france': 5,
 'spy': 6,
 'helicopter': 8,
 'plutonium': 2,
 'norway': 1,
 'countdown': 1,
 'race against time': 1,
 'motorcycle': 3,
 'bomb remote detonator': 1,
 'handgun': 3,
 'hand to hand combat': 4,
 'kashmir': 1,
 'monster': 12,
 'damage': 1,
 'army': 1,
 'kaiju': 1,
 'robot suits': 1,
 'mount fuji': 1,
 'secret government organization': 1,
 'agent': 2,
 'statesman': 1,
 'rape': 8,
 'cia': 3,
 'hurricane': 1,
 'drug dealer': 1,
 'gang': 5,
 'massacre': 3,
 'elite forces': 1,
 'vigilante justice': 6,
 'competition': 4,
 'dynamite': 1,
 'forest': 6,
 'west virginia': 2,
 'woods': 8,
 'road accident': 1,
 'cannibal': 5,
 'incest': 2,
 'ex soldier': 1,
 'voyeur': 4,
 'ballet dancer': 1,
 'parody': 2,
 'spoof': 5,
 'horror spoof': 1,
 'paranormal activity': 3,
 'horror parody': 1,
 'married couple': 3,
 'detective story': 1,
 'missing person': 3,
 'found footage': 7,
 'abuse': 1,
 'amateur sleuth': 1,
 'mother daughter relationship': 3,
 'screenlife': 1,
 'colombia': 1,
 'boat': 5,
 'kiss': 1,
 'budapest, hungary': 1,
 'terrorist': 1,
 'skyscraper': 1,
 'seattle, washington': 1,
 'secret intelligence service': 1,
 'satellite': 2,
 'mumbai (bombay), india': 1,
 'secret agent': 5,
 'dubai': 1,
 'prison escape': 3,
 'bombing': 1,
 'jet': 1,
 'nuclear threat': 1,
 'moscow, russia': 3,
 'field agent': 1,
 'analyst': 1,
 'nuclear submarine': 1,
 'kremlin': 1,
 'disavowed': 1,
 'nuclear launch codes': 1,
 'burj khalifa': 1,
 'scaling a building': 1,
 'leader': 1,
 'colony': 1,
 'ape': 2,
 'medical research': 1,
 'plague': 1,
 '2030s': 2,
 'bus': 1,
 'assault rifle': 1,
 'sniper': 4,
 'rampage': 3,
 'masked man': 1,
 'death': 11,
 'martyr': 1,
 'gatling gun': 1,
 'shotguns': 1,
 'arms dealer': 1,
 'hospital': 5,
 'sledgehammer': 1,
 'revolver': 2,
 'book of the dead': 1,
 'interracial friendship': 1,
 'supernatural power': 6,
 'china': 1,
 'kung fu': 2,
 'village': 3,
 'panda': 1,
 'wuxia': 2,
 'woman director': 12,
 'mexico city, mexico': 1,
 'plane crash': 1,
 'volcano': 3,
 'wild animal': 1,
 'prehistoric creature': 2,
 'monster island': 1,
 'parent child relationship': 4,
 'rescue': 5,
 'death of father': 2,
 'death of husband': 1,
 'warrior': 4,
 'mother son relationship': 2,
 'austria': 1,
 'mission': 1,
 'conspiracy': 5,
 'vienna, austria': 1,
 'vienna opera': 1,
 'mammoth': 2,
 'sloth': 1,
 'barrier ice': 1,
 'ice melting': 1,
 'iceberg': 1,
 'flooding': 1,
 'lovers': 1,
 'deluge': 1,
 'saber-toothed tiger': 1,
 'murder spree': 3,
 'sexuality': 1,
 'bondage': 1,
 'whip': 1,
 'masochism': 1,
 'sex therapy': 1,
 'chapter': 1,
 'sadomasochism': 1,
 'love': 2,
 'nymphomaniac': 1,
 'romance': 3,
 'loneliness': 1,
 'tragedy': 1,
 'sexual violence': 2,
 'masturbation': 2,
 'therapy': 1,
 'addict': 1,
 'story telling': 1,
 'sexual pleasure': 1,
 'sexually aggressive woman': 1,
 'unhappy': 1,
 'pleasure': 1,
 'virginity': 1,
 'abortion': 1,
 'extreme pain': 1,
 'sex': 2,
 'corruption': 2,
 'drugs': 3,
 'cartel': 1,
 'mexican cartel': 2,
 'tattoo': 2,
 'extreme sports': 1,
 'parachute': 1,
 'swimming pool': 5,
 'back from the dead': 4,
 'dominican republic': 1,
 'free fall': 1,
 'police officer': 4,
 'power plant': 1,
 'usa president': 2,
 'secret service': 2,
 'framed for a crime': 1,
 'terrorist plot': 1,
 'assassination attempt': 2,
 'survivalism': 1,
 'u.s. secret service agent': 1,
 'manhunt': 1,
 'father son relationship': 4,
 'falsely accused': 1,
 'opium': 1,
 'homicide': 1,
 'new orleans, louisiana': 1,
 'false accusations': 1,
 'hdd': 1,
 'holiday': 10,
 'burglar': 2,
 'slapstick comedy': 7,
 'little boy': 2,
 'home invasion': 4,
 'precocious child': 2,
 'home alone': 2,
 'mischievous child': 3,
 'christmas': 9,
 'kids on their own': 2,
 'child rescue': 2,
 'police': 18,
 'body count': 1,
 'procedural': 1,
 'mystery killings': 2,
 'murder of a policeman': 1,
 'propaganda': 1,
 'games': 1,
 'president': 1,
 'uprising': 1,
 'rebellion': 1,
 'video game': 2,
 'internet': 1,
 'lethal virus': 1,
 'online gaming': 1,
 'family reunion': 1,
 'scat': 1,
 'high school reunion': 2,
 'quitting a job': 1,
 'milf': 1,
 'africa': 6,
 'jealousy': 1,
 'dance': 2,
 'hunger': 1,
 'lion': 2,
 'zoo': 2,
 'hippopotamus': 1,
 'giraffe': 1,
 'chimp': 1,
 'penguin': 1,
 'madagascar': 1,
 'zebra': 1,
 'friends': 1,
 'shark': 12,
 'animal': 7,
 'lemur': 1,
 'talking animal': 1,
 'bunker': 1,
 'space battle': 1,
 'failure': 1,
 'defeat': 1,
 'military operation': 1,
 'hunter': 1,
 'predator': 2,
 'yakuza': 1,
 'hunting human beings': 2,
 'soldier': 2,
 'fairy': 3,
 'home': 4,
 'invasion': 1,
 'sin': 1,
 'gunfight': 5,
 'blind': 1,
 'criminal': 3,
 'blind man': 1,
 'hammer': 1,
 'new jersey': 6,
 'church': 3,
 'social media': 1,
 'staten island, new york city': 1,
 'abuse of power': 1,
 'apartment buildings': 1,
 'insect': 2,
 'dream': 7,
 'nuclear missile': 2,
 'chase': 4,
 'van': 1,
 'shrinking': 1,
 'giant insect': 1,
 'house arrest': 1,
 'tragic villain': 1,
 'laboratory': 3,
 'school': 1,
 'miniaturization': 1,
 'montage': 1,
 'toy car': 1,
 'giant man': 1,
 'giant': 2,
 'action hero': 15,
 'anthology': 1,
 'cartoon mouse': 1,
 'fairy godmother': 2,
 'baker': 1,
 'seal (animal)': 1,
 'prehistoric times': 1,
 'melting ice': 1,
 'floating ice': 1,
 'land bridge': 1,
 'era': 1,
 'glaciale': 1,
 'deriva': 1,
 'vietnam veteran': 3,
 'submachine gun': 1,
 'prisoner': 2,
 'prisoner of war': 1,
 'leech': 1,
 'vietnam': 1,
 'vietnam war': 1,
 'machinegun': 1,
 'us army': 2,
 'photography': 1,
 'government': 2,
 'torture': 12,
 'exploding body': 1,
 'russian army': 1,
 'electrical torture': 1,
 'denunciation': 1,
 'post traumatic stress disorder': 3,
 'arizona': 1,
 'human trafficking': 1,
 'father figure': 1,
 'last stand': 1,
 'horse ranch': 1,
 'mexican american border': 1,
 'revenge plot': 1,
 'revolution': 2,
 'missionary': 1,
 'river': 2,
 'pastor': 1,
 'snake': 2,
 'border': 1,
 'thailand': 1,
 'burma': 1,
 'campus': 1,
 'slaughter': 8,
 'university': 3,
 'police detective': 3,
 'buddy cop': 8,
 'buddy comedy': 3,
 'buddy film': 2,
 'mass murder': 2,
 'decapitation': 3,
 'leatherface': 3,
 'chainsaw': 5,
 'body mutilation': 2,
 'gentrification': 1,
 'skinning': 1,
 'massacres': 1,
 'simulation': 1,
 'super computer': 3,
 'utopia': 1,
 'computer program': 1,
 'computer simulation': 1,
 'deception': 4,
 'computer game': 1,
 '80s style': 1,
 'autocracy': 1,
 'light cycle': 1,
 'animal kingdom': 1,
 'authority': 1,
 'ninja': 2,
 'underground fighting': 1,
 'centaur': 1,
 'good versus evil': 8,
 'route 66': 1,
 'grand canyon': 1,
 'vacation': 1,
 'family vacation': 1,
 'truck driver': 2,
 'roller coaster': 2,
 'bipolar disorder': 1,
 'plano texas': 1,
 'airplane pilot': 1,
 'murderer': 2,
 'house fire': 2,
 'vigilantism': 1,
 'escaped killer': 3,
 'prostitute': 2,
 'horse race': 1,
 'heart': 1,
 'cigarette': 1,
 'strip club': 2,
 'electric shock': 4,
 'tourette syndrome': 1,
 'mansion': 1,
 'surgery': 1,
 'taser': 1,
 'absurdism': 1,
 'ultraviolence': 1,
 'mechanic': 1,
 'around the world': 1,
 'moon': 2,
 'space marine': 1,
 'coffee': 1,
 'bomb planting': 1,
 'anarchic comedy': 1,
 'calvary': 1,
 'legalized murder': 1,
 'attack on politician': 1,
 'military attack': 1,
 'suicide': 3,
 'slavery': 1,
 'avalanche': 1,
 'virus': 3,
 'avatar': 1,
 'detention': 2,
 'explorer': 1,
 'gaming': 1,
 'quest': 1,
 'cartographer': 1,
 'zoologist': 1,
 'chipmunk': 1,
 'cruise ship': 1,
 'overboard': 1,
 'haunted house': 4,
 'psychic power': 1,
 'sadism': 16,
 'death match': 1,
 'suicide by hanging': 1,
 'mind game': 1,
 'abduction': 1,
 'no escape': 1,
 'escape room': 1,
 'amazon rainforest': 2,
 'audition': 2,
 'parrots': 1,
 ...}

In [25]:
[] in keywords_list_of_list

False

In [50]:
with open('data/keywords_list_of_list.pickle', 'wb') as f:
    pk.dump(keywords_list_of_list, f, pk.HIGHEST_PROTOCOL)

In [51]:
with open('data/keywords_counter.pickle', 'wb') as f:
    pk.dump(keywords_counter, f, pk.HIGHEST_PROTOCOL)

In [28]:
df = pd.DataFrame(index=keywords.index, columns=['keywords_list'], data=np.array(keywords_list_of_list, dtype=object))
df.head()

                                            keywords_list
id
385687            [sequel, revenge, racing, family, cars]
697843  [mercenary, sequel, rescue mission, long take,...
603692  [new york city, martial arts, hitman, sequel, ...
569094  [sacrifice, villain, comic book, sequel, super...
502356  [video game, gorilla, plumber, magic mushroom,...

In [29]:
df.shape

(9144, 1)

In [140]:
df.to_csv('data/keywords_list.csv')

In [142]:
df = pd.DataFrame(index=keywords.index, columns=['keywords_str'], data=np.array(keywords_list_of_str))
df.head()

                                             keywords_str
id
385687              sequel, revenge, racing, family, cars
697843  mercenary, sequel, rescue mission, long take, ...
603692  new york city, martial arts, hitman, sequel, o...
569094  sacrifice, villain, comic book, sequel, superh...
502356  video game, gorilla, plumber, magic mushroom, ...

In [143]:
df.to_csv('data/keywords_str.csv')

In [2]:
keywords = pd.read_csv('data/keywords_list.csv', index_col='id')
keywords

                                            keywords_list
id
385687  ['sequel', 'revenge', 'racing', 'family', 'cars']
697843  ['mercenary', 'sequel', 'rescue mission', 'lon...
603692  ['new york city', 'martial arts', 'hitman', 's...
569094  ['sacrifice', 'villain', 'comic book', 'sequel...
502356  ['video game', 'gorilla', 'plumber', 'magic mu...
...                                                   ...
15017              ['stripper', 'friends', 'best friend']
79509   ['new york city', 'detective', 'obsession', 'a...
13370                     ['mockumentary', 'folk singer']
480623  ['single father', 'christmas', 'mountain resor...
465109  ['wedding planner', 'marriage', 'wedding party...

[9144 rows x 1 columns]

In [3]:
genres = pd.read_csv('data/unique_keywords_genres_count_with_labels.csv', index_col=0)
genres

,Action,Adventure,Animation,Comedy,Crime,Documentary,Drama,Family,Fantasy,History,Horror,Music,Mystery,Romance,Science Fiction,TV Movie,Thriller,War,Western,label
car crash,20,10,1,16,11,0,15,4,5,0,8,1,6,3,9,1,25,0,0,"Thriller, Action, Comedy"
liposuction,0,0,0,1,0,0,1,0,1,0,0,0,0,0,0,0,0,0,0,"Comedy, Drama, Fantasy"
stasis,0,1,0,0,0,0,0,0,0,0,0,0,1,0,1,0,0,0,0,"Adventure, Mystery, Science Fiction"
giant vegetable,0,1,1,1,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,"Adventure, Animation, Comedy"
monster,48,43,22,41,0,0,17,27,50,0,71,1,12,0,55,8,29,1,0,"Horror, Science Fiction, Fantasy"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
mad,0,0,0,1,1,0,1,0,0,0,0,0,1,0,0,0,0,0,0,"Comedy, Crime, Drama"
ophthalmologist,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,"Thriller, Action, Adventure"
gossip,0,0,0,3,0,0,1,0,0,0,0,0,0,2,0,0,0,0,0,"Comedy, Romance, Drama"
burial ground,0,0,0,0,0,0,1,0,0,0,1,0,0,0,0,0,0,0,1,"Drama, Horror, Western"
"reykjavík, iceland",1,0,0,0,0,0,1,0,0,0,0,0,1,0,0,0,2,0,0,"Thriller, Action, Drama"

In [8]:
keywords_vectors_sum = pd.DataFrame(index=keywords.index, columns=genres.columns)
keywords_vectors_sum

,Action,Adventure,Animation,Comedy,Crime,Documentary,Drama,Family,Fantasy,History,Horror,Music,Mystery,Romance,Science Fiction,TV Movie,Thriller,War,Western,label
id,,,,,,,,,,,,,,,,,,,,
385687,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
697843,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
603692,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
569094,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
502356,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
15017,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
79509,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
13370,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
480623,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
465109,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [9]:
keywords

                                            keywords_list
id
385687  ['sequel', 'revenge', 'racing', 'family', 'cars']
697843  ['mercenary', 'sequel', 'rescue mission', 'lon...
603692  ['new york city', 'martial arts', 'hitman', 's...
569094  ['sacrifice', 'villain', 'comic book', 'sequel...
502356  ['video game', 'gorilla', 'plumber', 'magic mu...
...                                                   ...
15017              ['stripper', 'friends', 'best friend']
79509   ['new york city', 'detective', 'obsession', 'a...
13370                     ['mockumentary', 'folk singer']
480623  ['single father', 'christmas', 'mountain resor...
465109  ['wedding planner', 'marriage', 'wedding party...

[9144 rows x 1 columns]

In [17]:
def vector_sum(row):
    _id = row.name
    _id_uk = genres.loc[keywords.loc[_id].to_list()[0][2:-2].split("', '")]
    return _id_uk.sum()

In [33]:
def cast_vector_sum(row):
    _id = row.name
    _id_uk = cast_genres.loc[cast.loc[_id].to_list()[0][2:-2].split("', '")]
    return _id_uk.sum()

In [19]:
keywords_vectors_sum = keywords.apply(vector_sum, axis=1)

In [21]:
keywords_vectors_sum.to_csv('data/keywords_vectors_sum.csv')

In [22]:
cast = pd.read_csv('data/cast_list.csv', index_col='id')
cast.head()

                                                cast_list
id
385687  ['Vin Diesel', 'Michelle Rodriguez', 'Tyrese G...
697843  ['Chris Hemsworth', 'Golshifteh Farahani', 'Ad...
603692  ['Keanu Reeves', 'Donnie Yen', 'Bill Skarsgård...
569094  ['Shameik Moore', 'Hailee Steinfeld', 'Brian T...
502356  ['Chris Pratt', 'Anya Taylor-Joy', 'Charlie Da...

In [32]:
cast_genres = pd.read_csv('data/unique_actors_genres_count.csv', index_col=0)
cast_genres.head()

,Action,Adventure,Animation,Comedy,Crime,Documentary,Drama,Family,Fantasy,History,Horror,Music,Mystery,Romance,Science Fiction,TV Movie,Thriller,War,Western
Sheldon Jett,0,0,0,1,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0
Jocelyn Ott,0,1,0,1,0,0,1,1,1,0,0,0,0,1,0,0,0,0,0
Mel Archer,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,1
Tony Aitken,0,0,0,0,0,0,1,0,0,0,0,0,0,1,0,0,0,0,0
J.K. Simmons,24,24,12,31,9,2,30,12,9,4,3,3,2,9,12,1,14,0,3

In [34]:
cast_vectors_sum = pd.DataFrame(index=keywords.index, columns=genres.columns)
cast_vectors_sum = cast.apply(cast_vector_sum, axis=1)

In [35]:
cast_vectors_sum.to_csv('data/cast_vectors_sum.csv')

### Unique Keywords and Genres

In [18]:
uk = pd.DataFrame(0, index=unique_keywords, columns=[unique_genres])
uk.head()

,Action,Adventure,Animation,Comedy,Crime,Documentary,Drama,Family,Fantasy,History,Horror,Music,Mystery,Romance,Science Fiction,TV Movie,Thriller,War,Western
car crash,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
liposuction,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
stasis,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
giant vegetable,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
monster,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0

In [23]:
kw_list = pd.read_csv('data/keywords_list.csv', index_col='id')
kw_list.head()

                                            keywords_list
id
385687  ['sequel', 'revenge', 'racing', 'family', 'cars']
697843  ['mercenary', 'sequel', 'rescue mission', 'lon...
603692  ['new york city', 'martial arts', 'hitman', 's...
569094  ['sacrifice', 'villain', 'comic book', 'sequel...
502356  ['video game', 'gorilla', 'plumber', 'magic mu...

In [21]:
genres.head()

                                               genres
id
385687                        Action, Crime, Thriller
697843                               Action, Thriller
603692                        Action, Thriller, Crime
569094  Action, Adventure, Animation, Science Fiction
502356  Animation, Family, Adventure, Fantasy, Comedy

In [36]:
kw_list = kw_list.merge(genres, on='id')

In [37]:
kw_list

,keywords_list,genres
id,,
385687,"['sequel', 'revenge', 'racing', 'family', 'cars']","Action, Crime, Thriller"
697843,"['mercenary', 'sequel', 'rescue mission', 'lon...","Action, Thriller"
603692,"['new york city', 'martial arts', 'hitman', 's...","Action, Thriller, Crime"
569094,"['sacrifice', 'villain', 'comic book', 'sequel...","Action, Adventure, Animation, Science Fiction"
502356,"['video game', 'gorilla', 'plumber', 'magic mu...","Animation, Family, Adventure, Fantasy, Comedy"
...,...,...
15017,"['stripper', 'friends', 'best friend']","Comedy, Romance"
79509,"['new york city', 'detective', 'obsession', 'a...","Action, Thriller, Comedy"
13370,"['mockumentary', 'folk singer']","Comedy, Music"
480623,"['single father', 'christmas', 'mountain resor...","Romance, TV Movie"
465109,"['wedding planner', 'marriage', 'wedding party...",Comedy

In [46]:
len(kw_list)

9144

In [47]:
for i in range(len(kw_list)):
    for j in kw_list.iloc[i]['keywords_list'][2:-2].split("', '"):
        for z in kw_list.iloc[i]['genres'].split(', '):
            uk.loc[j][z] += 1

In [48]:
uk

,Action,Adventure,Animation,Comedy,Crime,Documentary,Drama,Family,Fantasy,History,Horror,Music,Mystery,Romance,Science Fiction,TV Movie,Thriller,War,Western
car crash,20,10,1,16,11,0,15,4,5,0,8,1,6,3,9,1,25,0,0
liposuction,0,0,0,1,0,0,1,0,1,0,0,0,0,0,0,0,0,0,0
stasis,0,1,0,0,0,0,0,0,0,0,0,0,1,0,1,0,0,0,0
giant vegetable,0,1,1,1,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0
monster,48,43,22,41,0,0,17,27,50,0,71,1,12,0,55,8,29,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
mad,0,0,0,1,1,0,1,0,0,0,0,0,1,0,0,0,0,0,0
ophthalmologist,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0
gossip,0,0,0,3,0,0,1,0,0,0,0,0,0,2,0,0,0,0,0
burial ground,0,0,0,0,0,0,1,0,0,0,1,0,0,0,0,0,0,0,1
"reykjavík, iceland",1,0,0,0,0,0,1,0,0,0,0,0,1,0,0,0,2,0,0

In [ ]:
uk.to_csv('data/unique_keywords_genres_count.csv')

In [50]:
uk.loc['space']

Action             30
Adventure          33
Animation           7
Comedy              9
Crime               1
Documentary         1
Drama              14
Family             12
Fantasy            10
History             2
Horror              8
Music               0
Mystery             5
Romance             2
Science Fiction    59
TV Movie            4
Thriller           17
War                 0
Western             0
Name: space, dtype: int64

In [52]:
uk.describe()

,Action,Adventure,Animation,Comedy,Crime,Documentary,Drama,Family,Fantasy,History,Horror,Music,Mystery,Romance,Science Fiction,TV Movie,Thriller,War,Western
count,14239.000000,14239.000000,14239.000000,14239.000000,14239.000000,14239.000000,14239.000000,14239.000000,14239.000000,14239.000000,14239.000000,14239.000000,14239.000000,14239.000000,14239.000000,14239.000000,14239.000000,14239.000000,14239.000000
mean,1.494276,1.119742,0.383946,1.802023,0.912775,0.062785,2.522930,0.656437,0.654049,0.314278,0.909755,0.182527,0.598708,0.910317,0.765012,0.091018,1.729265,0.200857,0.119671
std,6.525073,4.654708,2.513819,6.741369,4.572784,0.418348,9.902872,3.609652,3.151062,2.038377,4.353006,1.251284,2.720059,4.028732,4.093476,0.608737,7.000619,1.443207,0.849551
min,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
50%,0.000000,0.000000,0.000000,1.000000,0.000000,0.000000,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
75%,1.000000,1.000000,0.000000,1.000000,1.000000,0.000000,2.000000,0.000000,0.000000,0.000000,1.000000,0.000000,0.000000,1.000000,1.000000,0.000000,1.000000,0.000000,0.000000
max,226.000000,209.000000,91.000000,270.000000,223.000000,17.000000,631.000000,126.000000,124.000000,136.000000,207.000000,97.000000,155.000000,214.000000,183.000000,26.000000,368.000000,95.000000,39.000000

In [22]:
labels = [
    'Documentary',
    'Music',
    'Animation',
    'Family',
    'Science Fiction',
    'Horror',
    'History',
    'Thriller'
]

In [55]:
uk = pd.read_csv('data/unique_keywords_genres_count_with_labels.csv', index_col=0)
uk.drop('label', axis=1, inplace=True)
uk.head()

,Action,Adventure,Animation,Comedy,Crime,Documentary,Drama,Family,Fantasy,History,Horror,Music,Mystery,Romance,Science Fiction,TV Movie,Thriller,War,Western
car crash,20,10,1,16,11,0,15,4,5,0,8,1,6,3,9,1,25,0,0
liposuction,0,0,0,1,0,0,1,0,1,0,0,0,0,0,0,0,0,0,0
stasis,0,1,0,0,0,0,0,0,0,0,0,0,1,0,1,0,0,0,0
giant vegetable,0,1,1,1,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0
monster,48,43,22,41,0,0,17,27,50,0,71,1,12,0,55,8,29,1,0

In [48]:
for i in uk.index.to_list():
    most_pop_genres = sorted(uk.loc[i].to_dict().items(), key=lambda x:x[1], reverse=True)
    uk.loc[i, 'label'] = ', '.join([x[0] for x in most_pop_genres][:3])

In [49]:
uk.head()

,Action,Adventure,Animation,Comedy,Crime,Documentary,Drama,Family,Fantasy,History,Horror,Music,Mystery,Romance,Science Fiction,TV Movie,Thriller,War,Western,label
car crash,20,10,1,16,11,0,15,4,5,0,8,1,6,3,9,1,25,0,0,"Thriller, Action, Comedy"
liposuction,0,0,0,1,0,0,1,0,1,0,0,0,0,0,0,0,0,0,0,"Comedy, Drama, Fantasy"
stasis,0,1,0,0,0,0,0,0,0,0,0,0,1,0,1,0,0,0,0,"Adventure, Mystery, Science Fiction"
giant vegetable,0,1,1,1,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,"Adventure, Animation, Comedy"
monster,48,43,22,41,0,0,17,27,50,0,71,1,12,0,55,8,29,1,0,"Horror, Science Fiction, Fantasy"

In [53]:
uk[uk['label']=='Adventure, Animation, Comedy']

,Action,Adventure,Animation,Comedy,Crime,Documentary,Drama,Family,Fantasy,History,Horror,Music,Mystery,Romance,Science Fiction,TV Movie,Thriller,War,Western,label
giant vegetable,0,1,1,1,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,"Adventure, Animation, Comedy"
escape from jail,1,2,2,2,1,0,0,2,1,0,0,0,0,0,0,0,0,0,0,"Adventure, Animation, Comedy"
eyebrow,0,1,1,1,0,0,1,1,0,0,0,0,0,0,0,0,0,0,1,"Adventure, Animation, Comedy"
discworld,0,1,1,1,0,0,0,1,1,0,0,0,0,0,0,0,0,0,0,"Adventure, Animation, Comedy"
samba,0,1,1,1,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,"Adventure, Animation, Comedy"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
world series,0,1,1,1,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,"Adventure, Animation, Comedy"
sausage,0,1,1,1,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,"Adventure, Animation, Comedy"
blase,0,1,1,1,0,0,0,0,1,0,0,1,0,0,0,0,0,0,0,"Adventure, Animation, Comedy"
psychadelic,0,1,1,1,0,0,0,0,1,0,0,1,0,0,0,0,0,0,0,"Adventure, Animation, Comedy"
meta fiction,0,1,1,1,0,0,1,1,1,0,0,0,0,0,0,0,0,0,0,"Adventure, Animation, Comedy"

In [50]:
uk.to_csv('data/unique_keywords_genres_count_with_labels.csv')

In [2]:
uk = pd.read_csv('data/unique_keywords_genres_count_with_labels.csv', index_col=0)
uk

,Action,Adventure,Animation,Comedy,Crime,Documentary,Drama,Family,Fantasy,History,Horror,Music,Mystery,Romance,Science Fiction,TV Movie,Thriller,War,Western,label
car crash,20,10,1,16,11,0,15,4,5,0,8,1,6,3,9,1,25,0,0,"Thriller, Action, Comedy"
liposuction,0,0,0,1,0,0,1,0,1,0,0,0,0,0,0,0,0,0,0,"Comedy, Drama, Fantasy"
stasis,0,1,0,0,0,0,0,0,0,0,0,0,1,0,1,0,0,0,0,"Adventure, Mystery, Science Fiction"
giant vegetable,0,1,1,1,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,"Adventure, Animation, Comedy"
monster,48,43,22,41,0,0,17,27,50,0,71,1,12,0,55,8,29,1,0,"Horror, Science Fiction, Fantasy"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
mad,0,0,0,1,1,0,1,0,0,0,0,0,1,0,0,0,0,0,0,"Comedy, Crime, Drama"
ophthalmologist,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,"Thriller, Action, Adventure"
gossip,0,0,0,3,0,0,1,0,0,0,0,0,0,2,0,0,0,0,0,"Comedy, Romance, Drama"
burial ground,0,0,0,0,0,0,1,0,0,0,1,0,0,0,0,0,0,0,1,"Drama, Horror, Western"
"reykjavík, iceland",1,0,0,0,0,0,1,0,0,0,0,0,1,0,0,0,2,0,0,"Thriller, Action, Drama"

In [3]:
uk.groupby('label').count()

,Action,Adventure,Animation,Comedy,Crime,Documentary,Drama,Family,Fantasy,History,Horror,Music,Mystery,Romance,Science Fiction,TV Movie,Thriller,War,Western
label,,,,,,,,,,,,,,,,,,,
"Action, Adventure, Animation",131,131,131,131,131,131,131,131,131,131,131,131,131,131,131,131,131,131,131
"Action, Adventure, Comedy",187,187,187,187,187,187,187,187,187,187,187,187,187,187,187,187,187,187,187
"Action, Adventure, Crime",40,40,40,40,40,40,40,40,40,40,40,40,40,40,40,40,40,40,40
"Action, Adventure, Documentary",9,9,9,9,9,9,9,9,9,9,9,9,9,9,9,9,9,9,9
"Action, Adventure, Drama",199,199,199,199,199,199,199,199,199,199,199,199,199,199,199,199,199,199,199
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
"Western, Comedy, Drama",2,2,2,2,2,2,2,2,2,2,2,2,2,2,2,2,2,2,2
"Western, Drama, Action",7,7,7,7,7,7,7,7,7,7,7,7,7,7,7,7,7,7,7
"Western, Drama, Adventure",3,3,3,3,3,3,3,3,3,3,3,3,3,3,3,3,3,3,3
"Western, Romance, Comedy",1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1
"Western, Thriller, Action",1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1

In [10]:
for i in uk.index.to_list():
    for j in uk.loc[i, 'label'].split(', '):
        if j in labels:
            uk.loc[i, 'label'] = j
            break

In [11]:
uk.groupby('label').count()

,Action,Adventure,Animation,Comedy,Crime,Documentary,Drama,Family,Fantasy,History,Horror,Music,Mystery,Romance,Science Fiction,TV Movie,Thriller,War,Western
label,,,,,,,,,,,,,,,,,,,
"Action, Adventure, Comedy",187,187,187,187,187,187,187,187,187,187,187,187,187,187,187,187,187,187,187
"Action, Adventure, Crime",40,40,40,40,40,40,40,40,40,40,40,40,40,40,40,40,40,40,40
"Action, Adventure, Drama",199,199,199,199,199,199,199,199,199,199,199,199,199,199,199,199,199,199,199
"Action, Adventure, Fantasy",164,164,164,164,164,164,164,164,164,164,164,164,164,164,164,164,164,164,164
"Action, Adventure, Mystery",8,8,8,8,8,8,8,8,8,8,8,8,8,8,8,8,8,8,8
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
"Western, Comedy, Adventure",2,2,2,2,2,2,2,2,2,2,2,2,2,2,2,2,2,2,2
"Western, Comedy, Drama",2,2,2,2,2,2,2,2,2,2,2,2,2,2,2,2,2,2,2
"Western, Drama, Action",7,7,7,7,7,7,7,7,7,7,7,7,7,7,7,7,7,7,7
"Western, Drama, Adventure",3,3,3,3,3,3,3,3,3,3,3,3,3,3,3,3,3,3,3
"Western, Romance, Comedy",1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1

In [19]:
uk.head()

,Action,Adventure,Animation,Comedy,Crime,Documentary,Drama,Family,Fantasy,History,Horror,Music,Mystery,Romance,Science Fiction,TV Movie,Thriller,War,Western,label
car crash,20,10,1,16,11,0,15,4,5,0,8,1,6,3,9,1,25,0,0,Thriller
liposuction,0,0,0,1,0,0,1,0,1,0,0,0,0,0,0,0,0,0,0,"Comedy, Drama, Fantasy"
stasis,0,1,0,0,0,0,0,0,0,0,0,0,1,0,1,0,0,0,0,Science Fiction
giant vegetable,0,1,1,1,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,Animation
monster,48,43,22,41,0,0,17,27,50,0,71,1,12,0,55,8,29,1,0,Horror

In [12]:
uk.to_csv('data/unique_keywords_genres_count_with_labels_SHORTED_VERSION.csv')

In [ ]:
cs = cosine_similarity(uk.to_numpy(), uk.to_numpy())

In [4]:
uk_cos_sim = pd.DataFrame(index=uk.index, columns=uk.index, data=cs)
uk_cos_sim.shape

(14239, 14239)

In [14]:
# uk_cos_sim.to_csv('keywords_cosine_similarity.csv') ==> 2.5GB ))))

### Label Encoding

In [2]:
uk_le = pd.read_csv('data/unique_keywords_genres_count_with_labels_SHORTED_VERSION.csv', index_col=0)
uk_le.head()

,Action,Adventure,Animation,Comedy,Crime,Documentary,Drama,Family,Fantasy,History,Horror,Music,Mystery,Romance,Science Fiction,TV Movie,Thriller,War,Western,label
car crash,20,10,1,16,11,0,15,4,5,0,8,1,6,3,9,1,25,0,0,Thriller
liposuction,0,0,0,1,0,0,1,0,1,0,0,0,0,0,0,0,0,0,0,"Comedy, Drama, Fantasy"
stasis,0,1,0,0,0,0,0,0,0,0,0,0,1,0,1,0,0,0,0,Science Fiction
giant vegetable,0,1,1,1,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,Animation
monster,48,43,22,41,0,0,17,27,50,0,71,1,12,0,55,8,29,1,0,Horror

In [3]:
le = LabelEncoder()
le.fit(uk_le['label'])

uk_le['label_encoder'] = le.transform(uk_le['label'])
uk_le.head()

,Action,Adventure,Animation,Comedy,Crime,Documentary,Drama,Family,Fantasy,History,...,Music,Mystery,Romance,Science Fiction,TV Movie,Thriller,War,Western,label,label_encoder
car crash,20,10,1,16,11,0,15,4,5,0,...,1,6,3,9,1,25,0,0,Thriller,233
liposuction,0,0,0,1,0,0,1,0,1,0,...,0,0,0,0,0,0,0,0,"Comedy, Drama, Fantasy",82
stasis,0,1,0,0,0,0,0,0,0,0,...,0,1,0,1,0,0,0,0,Science Fiction,231
giant vegetable,0,1,1,1,0,0,0,1,0,0,...,0,0,0,0,0,0,0,0,Animation,63
monster,48,43,22,41,0,0,17,27,50,0,...,1,12,0,55,8,29,1,0,Horror,204

In [6]:
uk_le.to_csv('data/unique_keywords_genres_count_with_labels_SHORTED_VERSION_label_encoder.csv')

### One-Hot Labeling

In [31]:
keywords_ind = pd.read_csv('data/keywords_list.csv', index_col='id')
kw_vectors = pd.DataFrame(index=keywords_ind.index, columns=unique_keywords)
kw_vectors.shape

(9144, 14239)

In [32]:
keywords_ind.head()

                                            keywords_list
id
385687  ['sequel', 'revenge', 'racing', 'family', 'cars']
697843  ['mercenary', 'sequel', 'rescue mission', 'lon...
603692  ['new york city', 'martial arts', 'hitman', 's...
569094  ['sacrifice', 'villain', 'comic book', 'sequel...
502356  ['video game', 'gorilla', 'plumber', 'magic mu...

In [146]:
keywords_ind.isna().sum()

keywords_str    0
dtype: int64

In [30]:
'osaka, japan' in unique_keywords

True

In [41]:
keywords_ind['keywords_list'].iloc[2][2:-2].split("', '")

['new york city',
 'martial arts',
 'hitman',
 'sequel',
 'organized crime',
 'osaka, japan',
 'aftercreditsstinger',
 'hunted',
 'professional assassin',
 'neo-noir',
 'berlin']

In [42]:
len_kw_v = len(unique_keywords)

for i in range(kw_vectors.shape[0]):
    df = np.array(np.array([0]*len_kw_v))
    
    for j in keywords_ind['keywords_list'].iloc[i][2:-2].split("', '"):
        df[unique_keywords.index(j)] = 1

    kw_vectors.iloc[i] = df
        
kw_vectors.iloc[0:10, 0:10]

,sea world,expulsion,storm at sea,one-sided love,mobile home,muscular dystrophy,street art,undead,classic,rude male lead
id,,,,,,,,,,
385687,0,0,0,0,0,0,0,0,0,0
697843,0,0,0,0,0,0,0,0,0,0
603692,0,0,0,0,0,0,0,0,0,0
569094,0,0,0,0,0,0,0,0,0,0
502356,0,0,0,0,0,0,0,0,0,0
667538,0,0,0,0,0,0,0,0,0,0
976573,0,0,0,0,0,0,0,0,0,0
536437,0,0,0,0,0,0,0,0,0,0
298618,0,0,0,0,0,0,0,0,0,0
447365,0,0,0,0,0,0,0,0,0,0

In [47]:
kw_vectors['martial arts'].sum()

200

In [48]:
kw_vectors.to_csv('data/one-hot_keywords.csv')

---

## Cast

In [6]:
cast = pd.read_csv('../data/popular_10000_movies/movies_dataset_CLEAN.csv', index_col='id')
cast.head()

,genre_ids,overview,popularity,release_date,title,vote_average,vote_count,genres,cast,crew,keywords
id,,,,,,,,,,,
385687,"[28, 80, 53]",Over many missions and against impossible odds...,4654.279,2023-05-17,Fast X,7.3,2093,"Action, Crime, Thriller","[{'cast_id': 12835, 'name': 'Vin Diesel', 'cha...","[{'crew_id': 1302, 'name': 'Susie Figgis', 'de...","[{'id': 9663, 'name': 'sequel'}, {'id': 9748, ..."
697843,"[28, 53]",Tasked with extracting a family who is at the ...,2494.010,2023-06-09,Extraction 2,7.7,910,"Action, Thriller","[{'cast_id': 74568, 'name': 'Chris Hemsworth',...","[{'crew_id': 950, 'name': 'Pietro Scalia', 'de...","[{'id': 3070, 'name': 'mercenary'}, {'id': 966..."
603692,"[28, 53, 80]","With the price on his head ever increasing, Jo...",1920.127,2023-03-22,John Wick: Chapter 4,7.9,3344,"Action, Thriller, Crime","[{'cast_id': 6384, 'name': 'Keanu Reeves', 'ch...","[{'crew_id': 3615, 'name': 'Manfred Banach', '...","[{'id': 242, 'name': 'new york city'}, {'id': ..."
569094,"[28, 12, 16, 878]","After reuniting with Gwen Stacy, Brooklyn’s fu...",2013.795,2023-05-31,Spider-Man: Across the Spider-Verse,8.6,1796,"Action, Adventure, Animation, Science Fiction","[{'cast_id': 587506, 'name': 'Shameik Moore', ...","[{'crew_id': 7624, 'name': 'Stan Lee', 'depart...","[{'id': 2858, 'name': 'sacrifice'}, {'id': 328..."
502356,"[16, 10751, 12, 14, 35]","While working underground to fix a water main,...",1539.037,2023-04-05,The Super Mario Bros. Movie,7.8,5165,"Animation, Family, Adventure, Fantasy, Comedy","[{'cast_id': 73457, 'name': 'Chris Pratt', 'ch...","[{'crew_id': 70851, 'name': 'Jack Black', 'dep...","[{'id': 282, 'name': 'video game'}, {'id': 690..."

In [7]:
cast = cast['cast'].to_frame()
cast.head()

                                                     cast
id
385687  [{'cast_id': 12835, 'name': 'Vin Diesel', 'cha...
697843  [{'cast_id': 74568, 'name': 'Chris Hemsworth',...
603692  [{'cast_id': 6384, 'name': 'Keanu Reeves', 'ch...
569094  [{'cast_id': 587506, 'name': 'Shameik Moore', ...
502356  [{'cast_id': 73457, 'name': 'Chris Pratt', 'ch...

In [8]:
cast.drop(cast[cast['cast']=='[]'].index, inplace=True)

In [9]:
cast[cast['cast']=='[]']

Empty DataFrame
Columns: [cast]
Index: []

In [10]:
cast.iloc[978].to_list()

['[{\'cast_id\': 94421, \'name\': \'Bobby Campo\', \'character\': "Nick O\'Bannon"}, {\'cast_id\': 94423, \'name\': \'Shantel VanSanten\', \'character\': \'Lori Milligan\'}, {\'cast_id\': 34, \'name\': \'Mykelti Williamson\', \'character\': \'George Lanter\'}, {\'cast_id\': 84076, \'name\': \'Nick Zano\', \'character\': \'Hunt Wynorski\'}, {\'cast_id\': 94424, \'name\': \'Haley Webb\', \'character\': \'Janet Cunningham\'}, {\'cast_id\': 21858, \'name\': \'Krista Allen\', \'character\': \'Samantha Lane\'}, {\'cast_id\': 94427, \'name\': \'Stephanie Honoré\', \'character\': "Mechanic\'s Girlfriend"}, {\'cast_id\': 65699, \'name\': \'Andrew Fiscella\', \'character\': \'Mechanic\'}, {\'cast_id\': 74136, \'name\': \'Justin Welborn\', \'character\': \'Racist\'}, {\'cast_id\': 94428, \'name\': \'Lara Grice\', \'character\': "Racist\'s Wife"}, {\'cast_id\': 94429, \'name\': \'Jackson Walker\', \'character\': \'Cowboy\'}, {\'cast_id\': 21249, \'name\': \'Jedda Jones\', \'character\': \'Nurse\'}, {\'cast_id\': 143264, \'name\': \'Trey Burvant\', \'character\': \'Theater Manager\'}, {\'cast_id\': 1905539, \'name\': \'Eric Paulsen\', \'character\': \'Anchorman\'}, {\'cast_id\': 92058, \'name\': \'Phil Austin\', \'character\': "MILF\'s Husband"}, {\'cast_id\': 1905540, \'name\': \'Chris Fry\', \'character\': \'Greensman\'}, {\'cast_id\': 147085, \'name\': \'Tina Parker\', \'character\': \'Cheyenne\'}, {\'cast_id\': 1905541, \'name\': \'Cecile Monteyne\', \'character\': \'Dee Dee\'}, {\'cast_id\': 60874, \'name\': \'Dane Rhodes\', \'character\': \'Grandstate Manager\'}, {\'cast_id\': 1905544, \'name\': \'William Aguillard\', \'character\': \'Kid #1\'}, {\'cast_id\': 1099652, \'name\': \'Brendan Aguillard\', \'character\': \'Kid #2\'}, {\'cast_id\': 1392604, \'name\': \'Harold Evans\', \'character\': \'Homeless Man\'}, {\'cast_id\': 568046, \'name\': \'Gabrielle Chapin\', \'character\': \'Girl on Top\'}, {\'cast_id\': 1957871, \'name\': \'Joshua Hinson\', \'character\': \'Movie Goer With Feet on Seat (uncredited)\'}, {\'cast_id\': 109942, \'name\': \'Jenna Craig\', \'character\': \'Kid with Bolt (uncredited)\'}]']

In [11]:
kw = cast.iloc[0].to_list()[0][1:-1]
l = re.findall("'name': '[\w()\-,\. ]+'", kw)
l2 = [i.replace("'name': ", "").replace("'", '') for i in l]
l2

['Vin Diesel',
 'Michelle Rodriguez',
 'Tyrese Gibson',
 'Ludacris',
 'John Cena',
 'Nathalie Emmanuel',
 'Jordana Brewster',
 'Sung Kang',
 'Jason Momoa',
 'Scott Eastwood',
 'Daniela Melchior',
 'Alan Ritchson',
 'Helen Mirren',
 'Brie Larson',
 'Jason Statham',
 'Charlize Theron',
 'Rita Moreno',
 'Joaquim de Almeida',
 'Leo A. Perry',
 'Luis Da Silva Jr.',
 'Jaz Hutchins',
 'Luka Hays',
 'Alexander Capon',
 'Pete Davidson',
 'Shadrach Agozino',
 'Ludmilla',
 'Miraj Grbić',
 'Meadow Walker Thornton-Allan',
 'Michael Irby',
 'Shahir Figueira',
 'Ben-Hur Santos',
 'Debby Ryan',
 'Josh Dun',
 'Robert Bastens',
 'Dwayne Johnson',
 'Gal Gadot']

In [25]:
full_cast_l = []
cast_list_of_list = []
for i in range(cast.shape[0]):
    kw = cast.iloc[i].to_list()[0][1:-1]
    l = re.findall("'name': '[\w()\-,\. ]+'", kw)
    l2 = [i.replace("'name': ", "").replace("'", '') for i in l]
    if not l2:
        print(i)
    full_cast_l.extend(l2)
    cast_list_of_list.append(l2)

In [26]:
len(full_cast_l), len(cast_list_of_list)

(311707, 9133)

In [27]:
unique_actors = list(set(full_cast_l))
len(unique_actors)

145215

In [ ]:
actors_counter = {}
l = []
for k in list(set(full_cast_l)):
    for ks in cast_list_of_list:
        if k in ks:
            l.extend(ks)
    actors_counter[k] = dict(Counter(l))
    l = []

actors_counter['Jordana Brewster']

In [32]:
with open('data/cast_list_of_list.pickle', 'wb') as f:
    pk.dump(cast_list_of_list, f, pk.HIGHEST_PROTOCOL)

In [31]:
with open('data/actors_counter.pickle', 'wb') as f:
    pk.dump(actors_counter, f, pk.HIGHEST_PROTOCOL)

In [35]:
df = pd.DataFrame(index=cast.index, columns=['cast_list'], data=np.array(cast_list_of_list, dtype=object))

In [37]:
df.to_csv('data/cast_list.csv')

In [9]:
cast_list = pd.read_csv('data/cast_list.csv', index_col='id')
cast_list.head()

                                                cast_list
id
385687  ['Vin Diesel', 'Michelle Rodriguez', 'Tyrese G...
697843  ['Chris Hemsworth', 'Golshifteh Farahani', 'Ad...
603692  ['Keanu Reeves', 'Donnie Yen', 'Bill Skarsgård...
569094  ['Shameik Moore', 'Hailee Steinfeld', 'Brian T...
502356  ['Chris Pratt', 'Anya Taylor-Joy', 'Charlie Da...

In [10]:
with open('data/cast_list_of_list.pickle', 'rb') as f:
    cast_list_of_list = pk.load(f)

In [11]:
cast_list_of_list[:10]

[['Vin Diesel',
  'Michelle Rodriguez',
  'Tyrese Gibson',
  'Ludacris',
  'John Cena',
  'Nathalie Emmanuel',
  'Jordana Brewster',
  'Sung Kang',
  'Jason Momoa',
  'Scott Eastwood',
  'Daniela Melchior',
  'Alan Ritchson',
  'Helen Mirren',
  'Brie Larson',
  'Jason Statham',
  'Charlize Theron',
  'Rita Moreno',
  'Joaquim de Almeida',
  'Leo A. Perry',
  'Luis Da Silva Jr.',
  'Jaz Hutchins',
  'Luka Hays',
  'Alexander Capon',
  'Pete Davidson',
  'Shadrach Agozino',
  'Ludmilla',
  'Miraj Grbić',
  'Meadow Walker Thornton-Allan',
  'Michael Irby',
  'Shahir Figueira',
  'Ben-Hur Santos',
  'Debby Ryan',
  'Josh Dun',
  'Robert Bastens',
  'Dwayne Johnson',
  'Gal Gadot'],
 ['Chris Hemsworth',
  'Golshifteh Farahani',
  'Adam Bessa',
  'Tornike Gogrichiani',
  'Tornike Bziava',
  'Tinatin Dalakishvili',
  'Andro Japaridze',
  'Justin Howell',
  'Idris Elba',
  'Olga Kurylenko',
  'Sinéad Phelps',
  'Patrick Newall',
  'Daniel Bernhardt',
  'Levan Saginashvili',
  'George Lasha',
  'Sam Hargrave',
  'Miriam Kovziashvili',
  'Marta Kovziashvili',
  'Demetre Kavelashvili',
  'Giga Shavadze',
  'Dato Bakhtadze',
  'Davit Chogovadze',
  'Irakli Kvirikadze',
  'Paul Maynard',
  'Héctor Andreu',
  'Tite Komakhidze'],
 ['Keanu Reeves',
  'Donnie Yen',
  'Bill Skarsgård',
  'Ian McShane',
  'Laurence Fishburne',
  'Lance Reddick',
  'Clancy Brown',
  'Hiroyuki Sanada',
  'Rina Sawayama',
  'Scott Adkins',
  'Aimée Kwan',
  'Marko Zaror',
  'Natalia Tena',
  'Shamier Anderson',
  'George Georgiou',
  'Yoshinori Tashiro',
  'Hiroki Sumi',
  'Daiki Suzuki',
  'Julia Asuka Riedl',
  'Milena Rendón',
  'Ivy Quainoo',
  'Irina Trifanov',
  'Iryna Fedorova',
  'Andrej Kaminsky',
  'Sven Marquardt',
  'Raicho Vasilev',
  'Marie Pierra Kakoma',
  'Gina Aponte',
  'Christoph Hofmann'],
 ['Shameik Moore',
  'Hailee Steinfeld',
  'Brian Tyree Henry',
  'Luna Lauren Velez',
  'Jake Johnson',
  'Oscar Isaac',
  'Jason Schwartzman',
  'Issa Rae',
  'Daniel Kaluuya',
  'Karan Soni',
  'Shea Whigham',
  'Greta Lee',
  'Mahershala Ali',
  'Amandla Stenberg',
  'Jharrel Jerome',
  'Andy Samberg',
  'Jack Quaid',
  'Rachel Dratch',
  'Ziggy Marley',
  'Jorma Taccone',
  'J.K. Simmons',
  'Donald Glover',
  'Elizabeth Perkins',
  'Kathryn Hahn',
  'Ayo Edebiri',
  'Nicole Delaney',
  'Antonina Lentini',
  'Atsuko Okatsuka',
  'Peter Sohn',
  'Melissa Sturm',
  'Lorraine Velez',
  'Nic Novicki',
  'Taran Killam',
  'Metro Boomin',
  'Josh Keaton',
  'Sofia Barclay',
  'Danielle Perez',
  'Yuri Lowenthal',
  'Rita Rani Ahuja',
  'Ismail Bashey',
  'Oscar Camacho',
  'Freddy Ferrari',
  'Kerry Gutierrez',
  'Kamal Khan',
  'Angelo Sekou Kouyate',
  'Andrew Leviton',
  'David Michie',
  'Sumit Naig',
  'Juan Pacheco',
  'Chrystee Pharris',
  'Ben Pronsky',
  'Al Rodrigo',
  'Jaswant Dev Shrestha',
  'Libby Thomas Dickey',
  'Ruth Zalduondo',
  'Jasper Johannes Andrews',
  'Gredel Berrios Calladine',
  'Natalia Castellanos',
  'Russell Tyre Francis',
  'Deepti Gupta',
  'Sohm Kapila',
  'Pradnya Kuwadekar',
  'Ashley London',
  'Christopher Miller',
  'Andrea Navedo',
  'Lakshmi Patel',
  'Jacqueline Pinol',
  'Eliyas Qureshi',
  'Lashana Rodriguez',
  'Dennis Singletary',
  'Amanda Troop',
  'Sitara Attaie',
  'Mayuri Bhandari',
  'June Christopher',
  'Michelle Jubilee Gonzalez',
  'Marabina Jaimes',
  'Rez Kempton',
  'Lex Lang',
  'Phil Lord',
  'Richard Miro',
  'Doug Nicholas',
  'James Pirri',
  'Marley Ralph',
  'Michelle Ruff',
  'Narender Sood',
  'Cedric L. Williams',
  'Kimberly Bailey',
  'Sanjay Chandani',
  'Melanie Duke',
  'Jorge R. Gutierrez',
  'Miguel Jiron',
  'Deepti Kingra-Mickelsen',
  'Luisa Leschin',
  'Caitlin McKenna',
  'Richard Andrew Morgado',
  'Arthur Ortiz',
  'Eliana A. Perez',
  'Juan Pope',
  'Mike Rianda',
  'Stan Sellers',
  'Warren Sroka',
  'Jason Linere-White',
  'Kimiko Glenn',
  'Peggy Lu',
  'John Mulaney',
  'Andrew Garfield',
  'Denis Leary',
  'Tobey Maguire',
  'Cliff Robertson',
  'Alfred Molina',
  'Post Malone'],
 ['Chris Pratt',
  'Anya Taylor-Joy',
  'Charlie Day',
  'Jack Black',
  'Keegan-Michael Key',
  'Seth Rogen',
  'Fred Armisen',
  'Sebastian Maniscalco',
  'Charles Martinet',
  'Kevin Michael Richardson',
  'Khary Payton',
  'Rino Romano',
  'John DiMaggio',
  'Jessica DiCicco',
  'Eric Bauza',
  'Juliet Jelenic',
  'Scott Menville',
  'Carlos Alazraqui',
  'Jason Broad',
  'Ashly Burch',
  'Rachel Butera',
  'Cathy Cavadini',
  'Will Collyer',
  'Django Craig',
  'Willow Geer',
  'Aaron Hendry',
  'Andy Hirsch',
  'Barbara Harris',
  'Phil LaMarr',
  'Jeremy Maxwell',
  'Daniel Mora',
  'Eric Osmond',
  'Noreen Reardon',
  'Lee Shorten',
  'Cree Summer',
  'Nisa Ward',
  'Nora Wyman'],
 ['Anthony Ramos',
  'Dominique Fishback',
  'Peter Cullen',
  'Ron Perlman',
  'Peter Dinklage',
  'Michelle Yeoh',
  'Pete Davidson',
  'Liza Koshy',
  'Luna Lauren Velez',
  'Dean Scott Vazquez',
  'Tobe Nwigwe',
  'Sarah Stiles',
  'Leni Parker',
  'Frank Marrs',
  'Aidan Devine',
  'Kerwin Jackson',
  'Mike Chute',
  'Tyler Hall',
  'Sean Tucker',
  'Jay Farrar',
  'Lucas Huarancca',
  'Amiel Cayo',
  'Santusa Cutipa',
  'Yesenia Inquillay',
  'Josue Sallo',
  'Mellissa Alvarez',
  'Gloria Cusi',
  'Michael Kelly',
  'Jason D. Avalos',
  'Lesley Stahl',
  'John DiMaggio',
  'David Sobolov',
  'Michaela Jaé Rodriguez',
  'Colman Domingo',
  'Cristo Fernández',
  'Tongayi Chirisa',
  'Luke Jones'],
 ['Leah Lewis',
  'Mamoudou Athie',
  'Ronnie del Carmen',
  'Shila Ommi',
  'Wendi McLendon-Covey',
  'Mason Wertheimer',
  'Ronobir Lahiri',
  'Wilma Bonet',
  'Joe Pera',
  'Matthew Yang King',
  'Clara Lin Ding',
  'Reagan To',
  'Jeff Lapensee',
  'Ben Morris',
  'Jonathan Adams',
  'Alex Kapp',
  'P.L. Brown'],
 ['Ben Affleck',
  'Alice Braga',
  'J. D. Pardo',
  'Dayo Okeniyi',
  'Jeff Fahey',
  'Jackie Earle Haley',
  'William Fichtner',
  'Zane Holtz',
  'Ruben Javier Caballero',
  'Kelly Frye',
  'Sandy Avila',
  'Ryan Ryusaki',
  'Hala Finley',
  'Ionie Olivia Nieves',
  'Corina Calderon',
  'Nikki Dixon',
  'Bonnie Discepolo',
  'Kelly Phelan',
  'Evan Vines',
  'Patrick A. Grover',
  'Jordan Hunter Jones',
  'Justin Hall',
  'Lawrence Varnado',
  'Natalie D. Garcia',
  'Derek Russo',
  'Steve Brudniak',
  'Camila Téllez',
  'Dana Wing Lau',
  'Jose Barajas',
  'Sonia Izzolena',
  'Bobby Hernandez',
  'Georgia Foy'],
 ['Ezra Miller',
  'Sasha Calle',
  'Michael Keaton',
  'Michael Shannon',
  'Ron Livingston',
  'Maribel Verdú',
  'Kiersey Clemons',
  'Antje Traue',
  'Saoirse-Monica Jackson',
  'Rudy Mancuso',
  'Ed Wade',
  'Jeremy Irons',
  'Temuera Morrison',
  'Sanjeev Bhaskar',
  'Sean Rogers',
  'Kieran Hodgson',
  'Luke Brandon Field',
  'Ian Loh',
  'Karl Collins',
  'Nikolaj Coster-Waldau',
  'Poppy Shepherd',
  'Nina Barker-Francis',
  'Ava Hamada',
  'Maurice Chung',
  'Florence Wright',
  'Bastian Antonio Fuentes',
  'Andoni Gracia',
  'Alex Hank',
  'Miki Muschietti',
  'Rebecca Hiller',
  'Rob Hunt',
  'Jonny Stockwell',
  'Michael Byrch',
  'Bret Jones',
  'Sue Maund',
  'Alex Batareanu',
  'Andrei Nova',
  'Gabriel Constantin',
  'Oleg Mirochnikov',
  'Katia Elizarova',
  'Denis Khoroshko',
  'Zsuzsa Magyar',
  'Michael Lerman',
  'Rosie Ede',
  'Andy Muschietti',
  'Ellie Rawnsley',
  'Greg Lockett',
  'Chelsea Leigh Macleod',
  'Leslie Soo',
  'Freya Evans',
  'Sue Moore',
  'Lynn Farleigh',
  'Martin Pemberton',
  'Sarah Lawn',
  'David Calvitto',
  'Ben Affleck',
  'Gal Gadot',
  'Nicolas Cage',
  'George Clooney',
  'Jason Momoa'],
 ['Chris Pratt',
  'Zoe Saldaña',
  'Dave Bautista',
  'Karen Gillan',
  'Pom Klementieff',
  'Vin Diesel',
  'Bradley Cooper',
  'Sean Gunn',
  'Chukwudi Iwuji',
  'Will Poulter',
  'Maria Bakalova',
  'Elizabeth Debicki',
  'Sylvester Stallone',
  'Austin Freeman',
  'Stephen Blackehart',
  'Terence Rosemore',
  'Sarah Alami',
  'Jasmine Sunshine Munoz',
  'Giovannie Cruz',
  'Nico Santos',
  'Miriam Shor',
  'Noa Raskin',
  'Linda Cardellini',
  'Asim Chaudhry',
  'Mikaela Hoover',
  'Judy Greer',
  'Reinaldo Faberlle',
  'Tara Strong',
  'Jared Leland Gore',
  'Michael Rosenbaum',
  'Elan Gale',
  'Molly C. Quinn',
  'Gerardo Davila',
  'Dee Bradley Baker',
  'Hanna Pak',
  'Jennifer Holland',
  'Nathan Fillion',
  'Kyle Mclean',
  'Benjamin Byron Davis',
  'Tiffany Smith',
  'Joe Daru',
  'Daniela Melchior',
  'Jonathan Mercedes',
  'Jonathan Fritschi',
  'Diego Ward',
  'Max Bickelhaup',
  'Brandon Morales',
  'Renae Moneymaker',
  'Alexis Hadesty',
  'Tara Warren',
  'Candi VandiZandi',
  'Grecia Balboa',
  'Caleb Spillyards',
  'Darla Delgado',
  'Michelle Civile',
  'Ken Lyle',
  'Elodie Clarke',
  'John William Wright',
  'Autumn Griffin',
  'Skylar Huntley',
  'Randy Havens',
  'Dane DiLiegro',
  'Kai Zen',
  'Sarah Anne',
  'Yael Ocasio',
  'Adelynn Spoon',
  'Henry Heffernan',
  'Brooklyn Skye Oliver',
  'Scarlett Blum',
  'Baby Dro',
  'Emery Grilliot',
  'Amelia Waters',
  'Lloyd Kaufman',
  'Christopher Fairbank',
  'Rhett Miller',
  'Natalia Safran',
  'Murphy Weed',
  'Michael Rooker',
  'James Gunn',
  'Jessica Fontaine',
  'Karen Abercrombie',
  'Gregg Henry',
  'Adriana Leonard',
  'Bonnie Discepolo',
  'Clare Grant',
  'Grace Gunn',
  'Will Gunn',
  'Seth Green',
  'Pete Davidson']]

In [12]:
unique_actors = [actor for cast in cast_list_of_list for actor in cast]

In [13]:
unique_actors = list(set(unique_actors))

In [14]:
len(unique_actors)

145215

In [16]:
with open('data/unique_cast_list.pickle', 'wb') as f:
    pk.dump(unique_actors, f, pk.HIGHEST_PROTOCOL)

In [24]:
ua = pd.DataFrame(0, index=unique_actors, columns=[unique_genres])
ua.head()

,Action,Adventure,Animation,Comedy,Crime,Documentary,Drama,Family,Fantasy,History,Horror,Music,Mystery,Romance,Science Fiction,TV Movie,Thriller,War,Western
Sheldon Jett,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
Jocelyn Ott,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
Mel Archer,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
Tony Aitken,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
J.K. Simmons,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0

In [27]:
cast_list = cast_list.merge(genres, on='id')
cast_list.head()

,cast_list,genres
id,,
385687,"['Vin Diesel', 'Michelle Rodriguez', 'Tyrese G...","Action, Crime, Thriller"
697843,"['Chris Hemsworth', 'Golshifteh Farahani', 'Ad...","Action, Thriller"
603692,"['Keanu Reeves', 'Donnie Yen', 'Bill Skarsgård...","Action, Thriller, Crime"
569094,"['Shameik Moore', 'Hailee Steinfeld', 'Brian T...","Action, Adventure, Animation, Science Fiction"
502356,"['Chris Pratt', 'Anya Taylor-Joy', 'Charlie Da...","Animation, Family, Adventure, Fantasy, Comedy"

In [28]:
for i in range(len(cast_list)):
    for j in cast_list.iloc[i]['cast_list'][2:-2].split("', '"):
        for z in cast_list.iloc[i]['genres'].split(', '):
            ua.loc[j][z] += 1

In [54]:
ua.to_csv('data/unique_actors_genres_count.csv')

In [30]:
ua.head()

,Action,Adventure,Animation,Comedy,Crime,Documentary,Drama,Family,Fantasy,History,Horror,Music,Mystery,Romance,Science Fiction,TV Movie,Thriller,War,Western
Sheldon Jett,0,0,0,1,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0
Jocelyn Ott,0,1,0,1,0,0,1,1,1,0,0,0,0,1,0,0,0,0,0
Mel Archer,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,1
Tony Aitken,0,0,0,0,0,0,1,0,0,0,0,0,0,1,0,0,0,0,0
J.K. Simmons,24,24,12,31,9,2,30,12,9,4,3,3,2,9,12,1,14,0,3

In [ ]:
for i in ua.index.to_list():
    most_pop_genres = sorted(ua.loc[i].to_dict().items(), key=lambda x:x[1], reverse=True)
    ua.loc[i, 'label'] = ', '.join([x[0] for x in most_pop_genres][:3])

In [ ]:
ua.to_csv('data/unique_actors_genres_count_with_labels.csv')

In [ ]:
for i in ua.index.to_list():
    for j in ua.loc[i, 'label'].split(', '):
        if j in labels:
            ua.loc[i, 'label'] = j
            break

In [ ]:
ua.to_csv('data/unique_actors_genres_count_with_labels_SHORTED_VERSION.csv')

### Label Encoding

In [7]:
ua_le = pd.read_csv('data/unique_actors_genres_count_with_labels_SHORTED_VERSION.csv', index_col=0)
ua_le.head()

,Action,Adventure,Animation,Comedy,Crime,Documentary,Drama,Family,Fantasy,History,Horror,Music,Mystery,Romance,Science Fiction,TV Movie,Thriller,War,Western,label
Sheldon Jett,0,0,0,1,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,"Comedy, Romance, Action"
Jocelyn Ott,0,1,0,1,0,0,1,1,1,0,0,0,0,1,0,0,0,0,0,"Adventure, Comedy, Drama"
Mel Archer,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,1,"Drama, Western, Action"
Tony Aitken,0,0,0,0,0,0,1,0,0,0,0,0,0,1,0,0,0,0,0,"Drama, Romance, Action"
J.K. Simmons,24,24,12,31,9,2,30,12,9,4,3,3,2,9,12,1,14,0,3,"Comedy, Drama, Action"

In [8]:
le = LabelEncoder()
le.fit(ua_le['label'])

ua_le['label_encoder'] = le.transform(ua_le['label'])
ua_le.head()

,Action,Adventure,Animation,Comedy,Crime,Documentary,Drama,Family,Fantasy,History,...,Music,Mystery,Romance,Science Fiction,TV Movie,Thriller,War,Western,label,label_encoder
Sheldon Jett,0,0,0,1,0,0,0,0,0,0,...,0,0,1,0,0,0,0,0,"Comedy, Romance, Action",138
Jocelyn Ott,0,1,0,1,0,0,1,1,1,0,...,0,0,1,0,0,0,0,0,"Adventure, Comedy, Drama",61
Mel Archer,0,0,0,0,0,0,1,0,0,0,...,0,0,0,0,0,0,0,1,"Drama, Western, Action",253
Tony Aitken,0,0,0,0,0,0,1,0,0,0,...,0,0,1,0,0,0,0,0,"Drama, Romance, Action",234
J.K. Simmons,24,24,12,31,9,2,30,12,9,4,...,3,2,9,12,1,14,0,3,"Comedy, Drama, Action",117

In [11]:
ua_le['label_encoder'].max(), ua_le.shape

(359, (145215, 21))

In [12]:
ua_le.to_csv('data/unique_actors_genres_count_with_labels_SHORTED_VERSION_label_encoder.csv')

## Crew

In [2]:
crew = pd.read_csv('../data/popular_10000_movies/movies_dataset_CLEAN.csv', index_col='id')
crew = crew['crew'].to_frame()
crew.head()

                                                     crew
id
385687  [{'crew_id': 1302, 'name': 'Susie Figgis', 'de...
697843  [{'crew_id': 950, 'name': 'Pietro Scalia', 'de...
603692  [{'crew_id': 3615, 'name': 'Manfred Banach', '...
569094  [{'crew_id': 7624, 'name': 'Stan Lee', 'depart...
502356  [{'crew_id': 70851, 'name': 'Jack Black', 'dep...

In [53]:
crew.drop(crew[crew['crew']=='[]'].index, inplace=True)

In [ ]:
# production, directing, writing

In [8]:
crew.loc[385687].to_list()

['[{\'crew_id\': 1302, \'name\': \'Susie Figgis\', \'department\': \'Production\'}, {\'crew_id\': 2519, \'name\': \'Sanja Milković Hays\', \'department\': \'Costume & Make-Up\'}, {\'crew_id\': 7239, \'name\': \'Peter Brown\', \'department\': \'Sound\'}, {\'crew_id\': 7239, \'name\': \'Peter Brown\', \'department\': \'Sound\'}, {\'crew_id\': 10570, \'name\': \'Joseph M. Caracciolo Jr.\', \'department\': \'Production\'}, {\'crew_id\': 10570, \'name\': \'Joseph M. Caracciolo Jr.\', \'department\': \'Production\'}, {\'crew_id\': 6041, \'name\': \'Brian Tyler\', \'department\': \'Sound\'}, {\'crew_id\': 8162, \'name\': \'Gary Scott Thompson\', \'department\': \'Writing\'}, {\'crew_id\': 11874, \'name\': \'Neal H. Moritz\', \'department\': \'Production\'}, {\'crew_id\': 13162, \'name\': \'Dov Samuel\', \'department\': \'Editing\'}, {\'crew_id\': 12835, \'name\': \'Vin Diesel\', \'department\': \'Production\'}, {\'crew_id\': 15227, \'name\': \'Sharon Smith Holley\', \'department\': \'Visual Effects\'}, {\'crew_id\': 15355, \'name\': \'Daniel Acon\', \'department\': \'Visual Effects\'}, {\'crew_id\': 15911, \'name\': \'Franco Maria Salamon\', \'department\': \'Crew\'}, {\'crew_id\': 18189, \'name\': \'Mark Bomback\', \'department\': \'Production\'}, {\'crew_id\': 17649, \'name\': \'Alexander Witt\', \'department\': \'Camera\'}, {\'crew_id\': 17649, \'name\': \'Alexander Witt\', \'department\': \'Directing\'}, {\'crew_id\': 18865, \'name\': \'Louis Leterrier\', \'department\': \'Directing\'}, {\'crew_id\': 20292, \'name\': \'Jan Roelfs\', \'department\': \'Art\'}, {\'crew_id\': 24969, \'name\': \'Henry Kingi\', \'department\': \'Crew\'}, {\'crew_id\': 29400, \'name\': \'Jeff Kirschenbaum\', \'department\': \'Production\'}, {\'crew_id\': 29474, \'name\': \'Simon McGuire\', \'department\': \'Art\'}, {\'crew_id\': 58191, \'name\': \'Chris Morgan\', \'department\': \'Production\'}, {\'crew_id\': 57029, \'name\': \'Amanda Lewis\', \'department\': \'Production\'}, {\'crew_id\': 58189, \'name\': \'Justin Lin\', \'department\': \'Writing\'}, {\'crew_id\': 58189, \'name\': \'Justin Lin\', \'department\': \'Production\'}, {\'crew_id\': 58189, \'name\': \'Justin Lin\', \'department\': \'Writing\'}, {\'crew_id\': 58192, \'name\': \'Stephen F. Windon\', \'department\': \'Camera\'}, {\'crew_id\': 58193, \'name\': \'Kelly Matsumoto\', \'department\': \'Editing\'}, {\'crew_id\': 67695, \'name\': \'Paul Rabjohns\', \'department\': \'Sound\'}, {\'crew_id\': 90635, \'name\': \'Samantha Vincent\', \'department\': \'Production\'}, {\'crew_id\': 75636, \'name\': \'Jalil Jay Lynch\', \'department\': \'Crew\'}, {\'crew_id\': 30737, \'name\': \'Bolek Polívka\', \'department\': \'Crew\'}, {\'crew_id\': 83090, \'name\': \'Todd Toon\', \'department\': \'Sound\'}, {\'crew_id\': 112682, \'name\': \'Spiro Razatos\', \'department\': \'Crew\'}, {\'crew_id\': 112682, \'name\': \'Spiro Razatos\', \'department\': \'Directing\'}, {\'crew_id\': 119183, \'name\': \'Giorgio Antonini\', \'department\': \'Crew\'}, {\'crew_id\': 122274, \'name\': \'Peter Chiang\', \'department\': \'Visual Effects\'}, {\'crew_id\': 122464, \'name\': \'David Kern\', \'department\': \'Editing\'}, {\'crew_id\': 154668, \'name\': \'Lee Spencer\', \'department\': \'Crew\'}, {\'crew_id\': 221636, \'name\': \'Patrick Vo\', \'department\': \'Crew\'}, {\'crew_id\': 223238, \'name\': \'Hal Couzens\', \'department\': \'Visual Effects\'}, {\'crew_id\': 228881, \'name\': \'Olivier Schneider\', \'department\': \'Crew\'}, {\'crew_id\': 228881, \'name\': \'Olivier Schneider\', \'department\': \'Directing\'}, {\'crew_id\': 563403, \'name\': \'Jack Anderson\', \'department\': \'Crew\'}, {\'crew_id\': 937234, \'name\': \'Dan Mazeau\', \'department\': \'Writing\'}, {\'crew_id\': 937234, \'name\': \'Dan Mazeau\', \'department\': \'Writing\'}, {\'crew_id\': 968316, \'name\': \'Andy Gill\', \'department\': \'Crew\'}, {\'crew_id\': 1014026, \'name\': \'Zach Dean\', \'department\': \'Writing\'}, {\'crew_id\': 1157595, \'name\': \'Nick McKinless\', \'department\': \'Crew\'}, {\'crew_id\': 1203510, \'name\': \'Maurizio Salvatori\', \'department\': \'Camera\'}, {\'crew_id\': 1204245, \'name\': \'Dylan Highsmith\', \'department\': \'Editing\'}, {\'crew_id\': 1230574, \'name\': \'Peter Miles\', \'department\': \'Crew\'}, {\'crew_id\': 1301638, \'name\': \'Lee Charles\', \'department\': \'Crew\'}, {\'crew_id\': 1321750, \'name\': \'Kurt D. Lott\', \'department\': \'Crew\'}, {\'crew_id\': 1328758, \'name\': \'Matthew Llewellyn\', \'department\': \'Sound\'}, {\'crew_id\': 1338230, \'name\': \'Meg Guidon\', \'department\': \'Visual Effects\'}, {\'crew_id\': 1338372, \'name\': "Dan O\'Connell", \'department\': \'Sound\'}, {\'crew_id\': 1367493, \'name\': \'John T. Cucci\', \'department\': \'Sound\'}, {\'crew_id\': 1367499, \'name\': \'Troy Robinson\', \'department\': \'Crew\'}, {\'crew_id\': 1385516, \'name\': \'Victoria Conte\', \'department\': \'Costume & Make-Up\'}, {\'crew_id\': 1390367, \'name\': \'Perry Evans\', \'department\': \'Lighting\'}, {\'crew_id\': 1390524, \'name\': \'Jay Wilkinson\', \'department\': \'Sound\'}, {\'crew_id\': 1392908, \'name\': \'Karen M. Murphy\', \'department\': \'Visual Effects\'}, {\'crew_id\': 1393883, \'name\': \'Peter Mountain\', \'department\': \'Camera\'}, {\'crew_id\': 1394130, \'name\': \'Frank A. Montaño\', \'department\': \'Sound\'}, {\'crew_id\': 1394131, \'name\': \'Jon Taylor\', \'department\': \'Sound\'}, {\'crew_id\': 1399865, \'name\': \'Chad Wiebe\', \'department\': \'Visual Effects\'}, {\'crew_id\': 1408293, \'name\': \'Linda D. Flowers\', \'department\': \'Costume & Make-Up\'}, {\'crew_id\': 1413453, \'name\': \'Stephen P. Robinson\', \'department\': \'Sound\'}, {\'crew_id\': 1417685, \'name\': \'Gregory J. Barnett\', \'department\': \'Crew\'}, {\'crew_id\': 1418001, \'name\': \'Ben Howdeshell\', \'department\': \'Visual Effects\'}, {\'crew_id\': 1426845, \'name\': \'Aleksandar Pejic\', \'department\': \'Visual Effects\'}, {\'crew_id\': 1427849, \'name\': \'Zoe Morgan\', \'department\': \'Directing\'}, {\'crew_id\': 1435703, \'name\': \'Glynna Grimala\', \'department\': \'Sound\'}, {\'crew_id\': 1436199, \'name\': \'Carol McConnaughey\', \'department\': \'Crew\'}, {\'crew_id\': 1437798, \'name\': "Roxy D\'Alonzo", \'department\': \'Costume & Make-Up\'}, {\'crew_id\': 1439735, \'name\': \'Corbin Mehl\', \'department\': \'Editing\'}, {\'crew_id\': 1439747, \'name\': \'Andrew Hunt\', \'department\': \'Costume & Make-Up\'}, {\'crew_id\': 1439749, \'name\': \'Laura Steiger\', \'department\': \'Editing\'}, {\'crew_id\': 1441365, \'name\': \'Peter Wilke\', \'department\': \'Camera\'}, {\'crew_id\': 1450955, \'name\': \'Lex Donovan\', \'department\': \'Production\'}, {\'crew_id\': 1451649, \'name\': \'Paul Drenning\', \'department\': \'Sound\'}, {\'crew_id\': 1460571, \'name\': \'Jeremiah Kent\', \'department\': \'Camera\'}, {\'crew_id\': 1470154, \'name\': \'Matthew Clark\', \'department\': \'Art\'}, {\'crew_id\': 1531509, \'name\': \'Stanislas de Lesquen\', \'department\': \'Visual Effects\'}, {\'crew_id\': 1536539, \'name\': \'Deborah Taylor\', \'department\': \'Costume & Make-Up\'}, {\'crew_id\': 1537508, \'name\': \'Craig Grossmueller\', \'department\': \'Camera\'}, {\'crew_id\': 1543196, \'name\': \'Jacqueline Fernandez\', \'department\': \'Costume & Make-Up\'}, {\'crew_id\': 1543254, \'name\': \'Peter Krumov\', \'department\': \'Art\'}, {\'crew_id\': 1546028, \'name\': \'Andrew Palmer\', \'department\': \'Art\'}, {\'crew_id\': 1548455, \'name\': \'Shane Hayes\', \'department\': \'Sound\'}, {\'crew_id\': 1548953, \'name\': \'Dan Clay\', \'department\': \'Art\'}, {\'crew_id\': 1550186, \'name\': \'Benton Jew\', \'department\': \'Art\'}, {\'crew_id\': 1552475, \'name\': \'Taylor Matheson\', \'department\': \'Camera\'}, {\'crew_id\': 1553295, \'name\': \'David Cain\', \'department\': \'Production\'}, {\'crew_id\': 1553295, \'name\': \'David Cain\', \'department\': \'Production\'}, {\'crew_id\': 1581175, \'name\': \'James Doh\', \'department\': \'Art\'}, {\'crew_id\': 1584868, \'name\': \'Chris Heap\', \'department\': \'Art\'}, {\'crew_id\': 1636660, \'name\': \'Jessica Pazdernik\', \'department\': \'Costume & Make-Up\'}, {\'crew_id\': 1669401, \'name\': \'Kirsty Kinnear\', \'department\': \'Production\'}, {\'crew_id\': 1683365, \'name\': \'Josh Sheppard\', \'department\': \'Art\'}, {\'crew_id\': 1685991, \'name\': \'John Casali\', \'department\': \'Sound\'}, {\'crew_id\': 1685994, \'name\': \'Nick Pelham\', \'department\': \'Art\'}, {\'crew_id\': 1711214, \'name\': \'Vincent Lascoumes\', \'department\': \'Directing\'}, {\'crew_id\': 1725775, \'name\': \'Michael Grobe\', \'department\': \'Visual Effects\'}, {\'crew_id\': 1789618, \'name\': \'Adonay Marin Conde\', \'department\': \'Art\'}, {\'crew_id\': 1824262, \'name\': \'Daniele Postiglione\', \'department\': \'Camera\'}, {\'crew_id\': 1829852, \'name\': \'Steve Ellingworth\', \'department\': \'Camera\'}, {\'crew_id\': 1834185, \'name\': \'Jade-Eleena Dregorius\', \'department\': \'Crew\'}, {\'crew_id\': 1844654, \'name\': \'Anthony Liberatore\', \'department\': \'Art\'}, {\'crew_id\': 1897684, \'name\': \'Estelle Darnault\', \'department\': \'Crew\'}, {\'crew_id\': 1946990, \'name\': \'Paul Jones\', \'department\': \'Visual Effects\'}, {\'crew_id\': 1962597, \'name\': \'Carlo Postiglione\', \'department\': \'Camera\'}, {\'crew_id\': 1981994, \'name\': \'Mariluz Noto\', \'department\': \'Visual Effects\'}, {\'crew_id\': 2020341, \'name\': \'François Lambert\', \'department\': \'Visual Effects\'}, {\'crew_id\': 2046906, \'name\': \'Tulio Duenas\', \'department\': \'Camera\'}, {\'crew_id\': 2069440, \'name\': \'Dave Kneath\', \'department\': \'Crew\'}, {\'crew_id\': 2094554, \'name\': \'Sean Kisch\', \'department\': \'Camera\'}, {\'crew_id\': 2095074, \'name\': \'Kathryn Pyle\', \'department\': \'Art\'}, {\'crew_id\': 2116196, \'name\': \'L. Dillon Thomas\', \'department\': \'Editing\'}, {\'crew_id\': 2116242, \'name\': \'Andy Young\', \'department\': \'Art\'}, {\'crew_id\': 2117037, \'name\': "Declan O\'Donnell", \'department\': \'Crew\'}, {\'crew_id\': 2127274, \'name\': \'Jack Cucci\', \'department\': \'Sound\'}, {\'crew_id\': 2136902, \'name\': \'Bryan Mendoza\', \'department\': \'Sound\'}, {\'crew_id\': 2146964, \'name\': \'Tom Wade\', \'department\': \'Camera\'}, {\'crew_id\': 2256436, \'name\': \'Tom Connelly\', \'department\': \'Crew\'}, {\'crew_id\': 2258650, \'name\': \'Christopher McGovern\', \'department\': \'Camera\'}, {\'crew_id\': 2272446, \'name\': \'Kim Fardy\', \'department\': \'Crew\'}, {\'crew_id\': 2331651, \'name\': \'Mark Button\', \'department\': \'Art\'}, {\'crew_id\': 2363529, \'name\': \'Richard Frazer\', \'department\': \'Visual Effects\'}, {\'crew_id\': 2378823, \'name\': \'Brenda Lorena Garcia\', \'department\': \'Crew\'}, {\'crew_id\': 2396253, \'name\': \'Matt Craufurd\', \'department\': \'Production\'}, {\'crew_id\': 2396256, \'name\': \'Matt Risebrow\', \'department\': \'Production\'}, {\'crew_id\': 2423284, \'name\': \'Billy Clements\', \'department\': \'Crew\'}, {\'crew_id\': 2441229, \'name\': \'Oleg Podobin\', \'department\': \'Crew\'}, {\'crew_id\': 2441460, \'name\': \'Alistair Williams\', \'department\': \'Visual Effects\'}, {\'crew_id\': 2477289, \'name\': \'Samantha Arnold\', \'department\': \'Directing\'}, {\'crew_id\': 2487281, \'name\': \'Chloe Kletsa\', \'department\': \'Art\'}, {\'crew_id\': 2580099, \'name\': \'Alan MacFeely\', \'department\': \'Sound\'}, {\'crew_id\': 2757911, \'name\': \'Tania Couper\', \'department\': \'Costume & Make-Up\'}, {\'crew_id\': 2833420, \'name\': \'John P. Husky\', \'department\': \'Visual Effects\'}, {\'crew_id\': 2881848, \'name\': \'Aurélia Agel\', \'department\': \'Crew\'}, {\'crew_id\': 2897052, \'name\': \'Mike Lerma\', \'department\': \'Sound\'}, {\'crew_id\': 3090492, \'name\': \'Lance Ashton Slaton\', \'department\': \'Art\'}, {\'crew_id\': 3104797, \'name\': \'Trixie Gardner\', \'department\': \'Art\'}, {\'crew_id\': 3114050, \'name\': \'Luís Sérgio\', \'department\': \'Directing\'}, {\'crew_id\': 3140713, \'name\': \'Jack Dorst\', \'department\': \'Visual Effects\'}, {\'crew_id\': 3167141, \'name\': \'Katie Byles\', \'department\': \'Production\'}, {\'crew_id\': 3167155, \'name\': \'Alex Caldow\', \'department\': \'Art\'}, {\'crew_id\': 3171603, \'name\': \'Tavish Grade\', \'department\': \'Sound\'}, {\'crew_id\': 3231760, \'name\': \'Danny Khoudary\', \'department\': \'Production\'}, {\'crew_id\': 3258510, \'name\': \'Carlos Castillo\', \'department\': \'Crew\'}, {\'crew_id\': 3397648, \'name\': \'Mike Azevedo\', \'department\': \'Editing\'}, {\'crew_id\': 3446430, \'name\': \'James Apps\', \'department\': \'Crew\'}, {\'crew_id\': 3448760, \'name\': \'Peter Hayley-Barker\', \'department\': \'Camera\'}, {\'crew_id\': 3455960, \'name\': \'Dayaliyah Lopez\', \'department\': \'Visual Effects\'}, {\'crew_id\': 3480232, \'name\': \'Kyle Williams\', \'department\': \'Directing\'}, {\'crew_id\': 3485650, \'name\': \'Matthew Bouchard\', \'department\': \'Crew\'}, {\'crew_id\': 3491157, \'name\': \'Mikel Parraga-Wills\', \'department\': \'Sound\'}, {\'crew_id\': 3526390, \'name\': \'Lee Godfrey\', \'department\': \'Camera\'}, {\'crew_id\': 3532449, \'name\': \'Julia Schunevitsch\', \'department\': \'Crew\'}, {\'crew_id\': 3572158, \'name\': \'Giulia Romolini\', \'department\': \'Art\'}, {\'crew_id\': 3593550, \'name\': \'Eleri Coulten\', \'department\': \'Production\'}, {\'crew_id\': 3596370, \'name\': \'Delaney Del Vecchio\', \'department\': \'Visual Effects\'}, {\'crew_id\': 3650884, \'name\': \'James Schembri\', \'department\': \'Visual Effects\'}, {\'crew_id\': 3665887, \'name\': \'Ricardo Coelho\', \'department\': \'Crew\'}, {\'crew_id\': 3665900, \'name\': \'Valter Évora\', \'department\': \'Crew\'}, {\'crew_id\': 3693862, \'name\': \'Danielle Stanners\', \'department\': \'Production\'}, {\'crew_id\': 3734578, \'name\': \'Aaron Parrott\', \'department\': \'Crew\'}, {\'crew_id\': 3804025, \'name\': \'Brunella De Cola\', \'department\': \'Art\'}, {\'crew_id\': 3812676, \'name\': \'Tommy Leigh\', \'department\': \'Visual Effects\'}, {\'crew_id\': 3845493, \'name\': \'David Clifton\', \'department\': \'Visual Effects\'}, {\'crew_id\': 3852774, \'name\': \'Nathan Grant\', \'department\': \'Costume & Make-Up\'}, {\'crew_id\': 3880571, \'name\': \'Olivia Dibs\', \'department\': \'Art\'}, {\'crew_id\': 3897577, \'name\': \'Joshua Benedetti\', \'department\': \'Production\'}, {\'crew_id\': 4062789, \'name\': \'Miranda Keeble\', \'department\': \'Art\'}, {\'crew_id\': 4074776, \'name\': \'Jourdan McKee\', \'department\': \'Art\'}, {\'crew_id\': 4074777, \'name\': \'Morena Trevisiol\', \'department\': \'Art\'}, {\'crew_id\': 4075433, \'name\': \'Brittany Marcotte\', \'department\': \'Crew\'}, {\'crew_id\': 4075434, \'name\': \'Caitlin McNerney\', \'department\': \'Crew\'}, {\'crew_id\': 4075444, \'name\': \'Anastajah Stearns\', \'department\': \'Crew\'}, {\'crew_id\': 4075447, \'name\': \'Arttu Stenberg\', \'department\': \'Crew\'}, {\'crew_id\': 4075451, \'name\': \'Oli Ward\', \'department\': \'Crew\'}, {\'crew_id\': 4075464, \'name\': \'Chiara Ciotti\', \'department\': \'Costume & Make-Up\'}, {\'crew_id\': 4075469, \'name\': \'Virgilio Leandro\', \'department\': \'Art\'}, {\'crew_id\': 4075492, \'name\': \'Joshua Connaway\', \'department\': \'Crew\'}, {\'crew_id\': 4075493, \'name\': \'Andrea Ghellere\', \'department\': \'Crew\'}, {\'crew_id\': 4075494, \'name\': \'Stuart Lovelock\', \'department\': \'Crew\'}, {\'crew_id\': 4075495, \'name\': \'Leon Van Der Walt\', \'department\': \'Crew\'}, {\'crew_id\': 4075506, \'name\': \'Renée MacCarthy\', \'department\': \'Visual Effects\'}, {\'crew_id\': 4104243, \'name\': \'Annabel Gibb\', \'department\': \'Art\'}, {\'crew_id\': 4104274, \'name\': \'Fiona Cousins\', \'department\': \'Crew\'}, {\'crew_id\': 4104520, \'name\': \'Nick White\', \'department\': \'Directing\'}, {\'crew_id\': 4105289, \'name\': \'Holden Miller\', \'department\': \'Camera\'}, {\'crew_id\': 4105290, \'name\': \'Augustus Bechtold\', \'department\': \'Camera\'}, {\'crew_id\': 4105293, \'name\': \'Madie Ramser\', \'department\': \'Camera\'}, {\'crew_id\': 4105310, \'name\': \'Michael Serr\', \'department\': \'Crew\'}]']

In [44]:
kw = crew.iloc[0].to_list()[0][1:-1]
l = re.findall("'name': '[\w()\-,\. ]+', 'department': 'Production'|'name': '[\w()\-,\. ]+', 'department': 'Writing'|'name': '[\w()\-,\. ]+', 'department': 'Directing'", kw)
l2 = [i.replace("'name': ", "").replace("'", '').split(', ')[0] for i in l]
list(set(l2))

['Zach Dean',
 'Amanda Lewis',
 'Gary Scott Thompson',
 'Luís Sérgio',
 'Dan Mazeau',
 'Jeff Kirschenbaum',
 'Katie Byles',
 'Vincent Lascoumes',
 'Danielle Stanners',
 'Alexander Witt',
 'Eleri Coulten',
 'Spiro Razatos',
 'Neal H. Moritz',
 'Joshua Benedetti',
 'Kirsty Kinnear',
 'Chris Morgan',
 'Samantha Vincent',
 'Kyle Williams',
 'David Cain',
 'Louis Leterrier',
 'Justin Lin',
 'Matt Craufurd',
 'Samantha Arnold',
 'Vin Diesel',
 'Matt Risebrow',
 'Joseph M. Caracciolo Jr.',
 'Olivier Schneider',
 'Danny Khoudary',
 'Nick White',
 'Lex Donovan',
 'Mark Bomback',
 'Susie Figgis',
 'Zoe Morgan']

In [73]:
def prepare_crew(row):
    kw = row[1:-1]
    l = re.findall("'name': '[\w()\-,\. ]+', 'department': 'Production'|'name': '[\w()\-,\. ]+', 'department': 'Writing'|'name': '[\w()\-,\. ]+', 'department': 'Directing'", kw)
    l2 = [i.replace("'name': ", "").replace("'", '').split(', ')[0] for i in l]
    return list(set(l2))

In [74]:
crew['crew_'] = crew['crew'].apply(prepare_crew)

In [77]:
crew['crew_'].to_csv('data/crew_list.csv')

### Unique

In [3]:
crew = pd.read_csv('data/crew_list.csv', index_col='id')
crew.head()

                                                    crew_
id
385687  ['Zach Dean', 'Amanda Lewis', 'Gary Scott Thom...
697843  ['Mike Larocca', 'Stephen McFeely', 'Joe Russo...
603692  ['Michael Finch', 'Louise Rosner-Meyer', 'Henn...
569094  ['Griffin Johnston', 'Phil Lord', 'Robert Jonk...
502356  ['David D. Au', 'Michael Jelenic', 'Matt Fogel...

In [4]:
crew.iloc[0].to_list()[0][2:-2].split("', '")

['Zach Dean',
 'Amanda Lewis',
 'Gary Scott Thompson',
 'Luís Sérgio',
 'Dan Mazeau',
 'Jeff Kirschenbaum',
 'Katie Byles',
 'Vincent Lascoumes',
 'Danielle Stanners',
 'Alexander Witt',
 'Eleri Coulten',
 'Spiro Razatos',
 'Neal H. Moritz',
 'Joshua Benedetti',
 'Kirsty Kinnear',
 'Chris Morgan',
 'Samantha Vincent',
 'Kyle Williams',
 'David Cain',
 'Louis Leterrier',
 'Justin Lin',
 'Matt Craufurd',
 'Samantha Arnold',
 'Vin Diesel',
 'Matt Risebrow',
 'Joseph M. Caracciolo Jr.',
 'Olivier Schneider',
 'Danny Khoudary',
 'Nick White',
 'Lex Donovan',
 'Mark Bomback',
 'Susie Figgis',
 'Zoe Morgan']

In [5]:
unique_crew = []
for i in range(crew.shape[0]):
    unique_crew.extend(crew.iloc[i].to_list()[0][2: -2].split("', '"))

unique_crew = list(set(unique_crew))

In [6]:
unique_crew[:10]

['Harmon Kaslow',
 'Gene Patterson',
 'Shirel Kozak',
 'Paul Freiberger',
 'Alex Theurer',
 'David Fountain',
 'Jean Skinner',
 'Gerardo Gatica',
 'Rich Thorne',
 'Iddo Lampton Enochs Jr.']

In [7]:
len(unique_crew)

54769

In [8]:
with open('data/unique_crew_list.pickle', 'wb') as f:
    pk.dump(unique_crew, f, pk.HIGHEST_PROTOCOL)

In [32]:
unique_genres

['Action',
 'Adventure',
 'Animation',
 'Comedy',
 'Crime',
 'Documentary',
 'Drama',
 'Family',
 'Fantasy',
 'History',
 'Horror',
 'Music',
 'Mystery',
 'Romance',
 'Science Fiction',
 'TV Movie',
 'Thriller',
 'War',
 'Western']

In [77]:
crew_vectors = pd.DataFrame(0, index=unique_crew, columns=unique_genres)
crew_vectors.head()

,Action,Adventure,Animation,Comedy,Crime,Documentary,Drama,Family,Fantasy,History,Horror,Music,Mystery,Romance,Science Fiction,TV Movie,Thriller,War,Western
Bob Ogle,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
Michael Mack,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
Stuart Hoole,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
Suzanne Cabot,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
Anastacia C. Nemec,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0

In [108]:
oh_genres = pd.read_csv('data/one-hot_genres.csv', index_col='id')
oh_genres.head()

,Action,Adventure,Animation,Comedy,Crime,Documentary,Drama,Family,Fantasy,History,Horror,Music,Mystery,Romance,Science Fiction,TV Movie,Thriller,War,Western
id,,,,,,,,,,,,,,,,,,,
385687,1,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,1,0,0
697843,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0
603692,1,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,1,0,0
569094,1,1,1,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0
502356,0,1,1,1,0,0,0,1,1,0,0,0,0,0,0,0,0,0,0

In [106]:
oh_genres = oh_genres.loc[crew.index]

In [117]:
oh_genres = oh_genres[~oh_genres.index.duplicated(keep='first')]

In [120]:
for _id in crew.index:
    team = crew.loc[_id].to_list()[0][2: -2].split("', '")
    genres_vector = oh_genres.loc[_id].to_list()
    for person in team:
        crew_vectors.loc[person] += genres_vector

In [122]:
crew_vectors.to_csv('data/crew_vectors.csv')

In [7]:
crew_vectors = pd.read_csv('data/crew_vectors.csv', index_col=0)
crew_vectors.head()

,Action,Adventure,Animation,Comedy,Crime,Documentary,Drama,Family,Fantasy,History,Horror,Music,Mystery,Romance,Science Fiction,TV Movie,Thriller,War,Western
Bob Ogle,0,0,3,3,0,0,0,3,0,0,0,0,0,0,0,0,0,0,0
Michael Mack,0,0,3,3,0,0,0,3,3,0,0,0,0,0,0,0,0,0,0
Stuart Hoole,0,0,0,0,0,3,0,0,0,0,0,0,0,0,0,0,0,0,0
Suzanne Cabot,0,0,0,6,0,0,0,0,6,0,0,0,6,6,0,0,9,0,0
Anastacia C. Nemec,6,0,0,3,6,0,3,0,0,0,6,0,6,3,0,0,6,0,0

In [12]:
def vector_sum(row):
    _id = row.name
    _id_uc = crew_vectors.loc[crew.loc[_id].to_list()[0][2:-2].split("', '")]
    return _id_uc.sum()

In [6]:
crew_vectors_sum = pd.DataFrame(index=crew.index, columns=unique_genres)
crew_vectors_sum.head()

,Action,Adventure,Animation,Comedy,Crime,Documentary,Drama,Family,Fantasy,History,Horror,Music,Mystery,Romance,Science Fiction,TV Movie,Thriller,War,Western
id,,,,,,,,,,,,,,,,,,,
385687,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
697843,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
603692,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
569094,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
502356,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [13]:
crew_vectors_sum = crew.apply(vector_sum, axis=1)

In [14]:
crew_vectors_sum.head()

,Action,Adventure,Animation,Comedy,Crime,Documentary,Drama,Family,Fantasy,History,Horror,Music,Mystery,Romance,Science Fiction,TV Movie,Thriller,War,Western
id,,,,,,,,,,,,,,,,,,,
385687,1197,621,9,345,612,3,447,168,321,75,135,24,87,153,312,0,786,39,3
697843,843,477,12,147,123,0,195,78,174,15,51,0,33,51,375,0,423,9,6
603692,930,414,15,342,462,3,348,18,159,51,144,12,153,120,273,0,816,66,9
569094,1635,1506,1086,585,126,6,262,465,540,37,117,27,78,63,1134,27,261,18,6
502356,69,390,573,540,24,0,12,540,276,0,0,33,3,0,27,3,0,0,0

In [15]:
crew_vectors_sum.to_csv('data/crew_vectors_sum.csv')