# Data Prepare

In [2]:
from collections import Counter
from itertools import combinations
import re

import pandas as pd
import numpy as np

from sklearn.preprocessing import StandardScaler
from sklearn.preprocessing import LabelEncoder
from sklearn.metrics.pairwise import cosine_similarity

import matplotlib.pyplot as plt
import seaborn as sns

import pickle as pk

from jupyterthemes import jtplot
jtplot.style(figsize=(15, 9))

## Genres

### One-Hot Encoding

In [22]:
genres = pd.read_csv('../data/popular_10000_movies/movies_dataset_CLEAN.csv', index_col='id')

genres = genres['genres'].to_frame()
genres.dropna(inplace=True)

genres.head()

                                               genres
id
385687                        Action, Crime, Thriller
697843                               Action, Thriller
603692                        Action, Thriller, Crime
569094  Action, Adventure, Animation, Science Fiction
502356  Animation, Family, Adventure, Fantasy, Comedy

In [23]:
genres.shape

(9144, 1)

In [24]:
genres.isna().sum()

genres    0
dtype: int64

In [25]:
genres['genres'].nunique()

2131

In [26]:
unique_genres = [
    'Action',
    'Adventure',
    'Animation',
    'Comedy',
    'Crime',
    'Documentary',
    'Drama',
    'Family',
    'Fantasy',
    'History',
    'Horror',
    'Music',
    'Mystery',
    'Romance',
    'Science Fiction',
    'TV Movie',
    'Thriller',
    'War',
    'Western'
]

In [27]:
genres_vectors = pd.DataFrame(index=genres.index, columns=unique_genres)
genres_vectors.head()

,Action,Adventure,Animation,Comedy,Crime,Documentary,Drama,Family,Fantasy,History,Horror,Music,Mystery,Romance,Science Fiction,TV Movie,Thriller,War,Western
id,,,,,,,,,,,,,,,,,,,
385687,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
697843,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
603692,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
569094,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
502356,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [28]:
for i in range(genres.shape[0]):
    df = np.full(len(unique_genres), 0)
    
    for j in str(genres['genres'].iloc[i]).split(', '):
        df[unique_genres.index(j)] = 1

    genres_vectors.iloc[i] = df
        
genres_vectors.head()

,Action,Adventure,Animation,Comedy,Crime,Documentary,Drama,Family,Fantasy,History,Horror,Music,Mystery,Romance,Science Fiction,TV Movie,Thriller,War,Western
id,,,,,,,,,,,,,,,,,,,
385687,1,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,1,0,0
697843,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0
603692,1,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,1,0,0
569094,1,1,1,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0
502356,0,1,1,1,0,0,0,1,1,0,0,0,0,0,0,0,0,0,0

### Labels for Genres

In [29]:
# if we have that genre in list it will be dominant, from most to least
labels = [
    'Documentary',
    'Music',
    'Animation',
    'Family',
    'Science Fiction',
    'Horror',
    'History',
    'Thriller',
]

In [30]:
labels_df = pd.DataFrame(index=genres.index, columns=['label'])
labels_df.head()

       label
id
385687   NaN
697843   NaN
603692   NaN
569094   NaN
502356   NaN

In [31]:
for i in range(genres.shape[0]):
    genres_l = str(genres['genres'].iloc[i]).split(', ')
    labels_df.iloc[i] = genres_l[0]
    for j in labels:
        if j in genres_l:
            labels_df.iloc[i] = j
            break
        
labels_df.head()

            label
id
385687   Thriller
697843   Thriller
603692   Thriller
569094  Animation
502356  Animation

In [32]:
le = LabelEncoder()
le.fit(labels_df['label'])

labels_df['label_encoder'] = le.transform(labels_df['label'])
labels_df.head()

            label  label_encoder
id
385687   Thriller             16
697843   Thriller             16
603692   Thriller             16
569094  Animation              2
502356  Animation              2

In [33]:
labels_df.shape

(9144, 2)

### Add Labels to Genres

In [34]:
df = pd.merge(genres_vectors, labels_df, on='id', how='inner')
df.head()

,Action,Adventure,Animation,Comedy,Crime,Documentary,Drama,Family,Fantasy,History,...,Music,Mystery,Romance,Science Fiction,TV Movie,Thriller,War,Western,label,label_encoder
id,,,,,,,,,,,,,,,,,,,,,
385687,1,0,0,0,1,0,0,0,0,0,...,0,0,0,0,0,1,0,0,Thriller,16
697843,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,1,0,0,Thriller,16
603692,1,0,0,0,1,0,0,0,0,0,...,0,0,0,0,0,1,0,0,Thriller,16
569094,1,1,1,0,0,0,0,0,0,0,...,0,0,0,1,0,0,0,0,Animation,2
502356,0,1,1,1,0,0,0,1,1,0,...,0,0,0,0,0,0,0,0,Animation,2

In [35]:
df.shape

(9144, 21)

In [37]:
df.to_csv('data/one-hot_genres_w_labels.csv')

### Cosine Similarity

In [43]:
genres_list = list(genres['genres'].unique())

In [44]:
for i, g in enumerate(genres_list):
    genres_list[i] = g.split(', ')

In [45]:
genres_list[:20]

[['Action', 'Crime', 'Thriller'],
 ['Action', 'Thriller'],
 ['Action', 'Thriller', 'Crime'],
 ['Action', 'Adventure', 'Animation', 'Science Fiction'],
 ['Animation', 'Family', 'Adventure', 'Fantasy', 'Comedy'],
 ['Action', 'Adventure', 'Science Fiction'],
 ['Animation', 'Comedy', 'Family', 'Fantasy', 'Romance'],
 ['Mystery', 'Thriller', 'Science Fiction'],
 ['Science Fiction', 'Action', 'Adventure'],
 ['Action', 'Science Fiction', 'Adventure'],
 ['Science Fiction', 'Adventure', 'Action'],
 ['Action', 'Horror', 'Thriller'],
 ['Adventure', 'Family', 'Fantasy', 'Romance'],
 ['Thriller', 'Horror'],
 ['Horror', 'Thriller'],
 ['War', 'Action', 'Thriller'],
 ['Drama', 'Romance'],
 ['Action', 'Fantasy', 'Thriller'],
 ['Comedy', 'Action', 'Fantasy'],
 ['Comedy', 'Drama']]

In [46]:
un_genres_list = [genre for genres in genres_list for genre in genres]

In [47]:
len(genres_list), len(un_genres_list)

(2131, 7856)

In [48]:
un_genres_list = list(set(un_genres_list))

In [49]:
len(un_genres_list)

19

In [50]:
un_genres_list

['TV Movie',
 'Thriller',
 'Action',
 'Mystery',
 'Crime',
 'Documentary',
 'Adventure',
 'Science Fiction',
 'Drama',
 'Animation',
 'Music',
 'Fantasy',
 'Family',
 'Romance',
 'Western',
 'War',
 'History',
 'Horror',
 'Comedy']

In [51]:
genres_list[:20]

[['Action', 'Crime', 'Thriller'],
 ['Action', 'Thriller'],
 ['Action', 'Thriller', 'Crime'],
 ['Action', 'Adventure', 'Animation', 'Science Fiction'],
 ['Animation', 'Family', 'Adventure', 'Fantasy', 'Comedy'],
 ['Action', 'Adventure', 'Science Fiction'],
 ['Animation', 'Comedy', 'Family', 'Fantasy', 'Romance'],
 ['Mystery', 'Thriller', 'Science Fiction'],
 ['Science Fiction', 'Action', 'Adventure'],
 ['Action', 'Science Fiction', 'Adventure'],
 ['Science Fiction', 'Adventure', 'Action'],
 ['Action', 'Horror', 'Thriller'],
 ['Adventure', 'Family', 'Fantasy', 'Romance'],
 ['Thriller', 'Horror'],
 ['Horror', 'Thriller'],
 ['War', 'Action', 'Thriller'],
 ['Drama', 'Romance'],
 ['Action', 'Fantasy', 'Thriller'],
 ['Comedy', 'Action', 'Fantasy'],
 ['Comedy', 'Drama']]

In [52]:
genres_counter = {}
l = []
for g in un_genres_list:
    for gs in genres_list:
        if g in gs:
            l.extend(gs)
    genres_counter[g] = dict(Counter(l))
    l = []

genres_counter['Animation']

{'Action': 129,
 'Adventure': 216,
 'Animation': 407,
 'Science Fiction': 99,
 'Family': 298,
 'Fantasy': 160,
 'Comedy': 215,
 'Romance': 26,
 'Music': 38,
 'Drama': 31,
 'TV Movie': 36,
 'Crime': 14,
 'Thriller': 12,
 'Horror': 18,
 'Mystery': 40,
 'Western': 7,
 'War': 5,
 'History': 4}

In [53]:
genres_df = pd.DataFrame(columns=un_genres_list, index=un_genres_list)
genres_df.head()

,TV Movie,Thriller,Action,Mystery,Crime,Documentary,Adventure,Science Fiction,Drama,Animation,Music,Fantasy,Family,Romance,Western,War,History,Horror,Comedy
TV Movie,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Thriller,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Action,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Mystery,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Crime,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [54]:
for genre in un_genres_list:
    g = {}
    for u_genre in un_genres_list:
        if u_genre in genres_counter[genre].keys():
            g[u_genre] =  genres_counter[genre][u_genre]
        else:
            g[u_genre] = 0
    genres_df.loc[genre] = g

In [55]:
genres_df.head()

,TV Movie,Thriller,Action,Mystery,Crime,Documentary,Adventure,Science Fiction,Drama,Animation,Music,Fantasy,Family,Romance,Western,War,History,Horror,Comedy
TV Movie,176,25,38,12,10,3,44,39,55,36,23,46,77,22,3,5,10,20,79
Thriller,25,615,264,196,197,1,111,154,285,12,4,73,8,72,19,38,38,159,98
Action,38,264,759,73,153,5,348,234,208,129,8,152,137,52,38,66,50,115,210
Mystery,12,196,73,342,98,3,59,72,141,40,5,52,41,36,6,6,9,84,85
Crime,10,197,153,98,348,3,43,25,166,14,9,15,15,39,13,2,19,36,116

In [56]:
cs_df = pd.DataFrame(columns=genres_df.index, index=genres_df.index)
cs_df.head()

,TV Movie,Thriller,Action,Mystery,Crime,Documentary,Adventure,Science Fiction,Drama,Animation,Music,Fantasy,Family,Romance,Western,War,History,Horror,Comedy
TV Movie,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Thriller,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Action,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Mystery,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Crime,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [69]:
def get_cosine_similarity_mertric(df1, df2):
    return np.dot(df1, df2)/ \
    (np.sqrt(np.power(df1, 2).sum()) * np.sqrt(np.power(df2, 2).sum()))

In [70]:
for i in genres_df.columns:
    for j in genres_df.columns:
        cs_df.loc[i][j] = get_cosine_similarity_mertric(genres_df[i], genres_df[j])

In [71]:
cs_df

,TV Movie,Thriller,Action,Mystery,Crime,Documentary,Adventure,Science Fiction,Drama,Animation,Music,Fantasy,Family,Romance,Western,War,History,Horror,Comedy
TV Movie,1.0,0.394733,0.513236,0.39673,0.364897,0.273702,0.592527,0.53523,0.511371,0.599006,0.580721,0.61596,0.676505,0.495483,0.354297,0.326719,0.332524,0.410583,0.677208
Thriller,0.394733,1.0,0.717784,0.803086,0.803562,0.252943,0.478655,0.632004,0.747659,0.276127,0.26195,0.419476,0.280956,0.495854,0.468874,0.527351,0.504018,0.717057,0.440748
Action,0.513236,0.717784,1.0,0.554684,0.650536,0.291962,0.797106,0.781199,0.623967,0.589238,0.364484,0.625936,0.571553,0.473524,0.555539,0.573059,0.479258,0.612385,0.641312
Mystery,0.39673,0.803086,0.554684,1.0,0.702164,0.263122,0.456686,0.554591,0.662259,0.365163,0.314863,0.449878,0.36879,0.471931,0.387748,0.379926,0.384377,0.646352,0.491783
Crime,0.364897,0.803562,0.650536,0.702164,1.0,0.289151,0.422055,0.450467,0.70113,0.281047,0.310511,0.34936,0.297321,0.481107,0.460968,0.420063,0.462907,0.507797,0.503363
Documentary,0.273702,0.252943,0.291962,0.263122,0.289151,1.0,0.247916,0.216827,0.337446,0.169529,0.257017,0.192158,0.198267,0.221919,0.214639,0.240606,0.312933,0.220365,0.274301
Adventure,0.592527,0.478655,0.797106,0.456686,0.422055,0.247916,1.0,0.719617,0.537524,0.801408,0.530574,0.794288,0.831916,0.530338,0.53405,0.451217,0.386237,0.464983,0.784823
Science Fiction,0.53523,0.632004,0.781199,0.554591,0.450467,0.216827,0.719617,1.0,0.512783,0.598825,0.354121,0.613756,0.575048,0.428716,0.385528,0.382743,0.295121,0.641385,0.601664
Drama,0.511371,0.747659,0.623967,0.662259,0.70113,0.337446,0.537524,0.512783,1.0,0.351065,0.497333,0.496137,0.432878,0.725442,0.603654,0.706889,0.748685,0.516213,0.542533
Animation,0.599006,0.276127,0.589238,0.365163,0.281047,0.169529,0.801408,0.598825,0.351065,1.0,0.590689,0.775147,0.926371,0.421453,0.339857,0.239284,0.19883,0.339585,0.789651
Music,0.580721,0.26195,0.364484,0.314863,0.310511,0.257017,0.530574,0.354121,0.497333,0.590689,1.0,0.609684,0.677975,0.59703,0.319886,0.277159,0.303492,0.281107,0.711368
Fantasy,0.61596,0.419476,0.625936,0.449878,0.34936,0.192158,0.794288,0.613756,0.496137,0.775147,0.609684,1.0,0.827836,0.550375,0.382767,0.303073,0.259801,0.54539,0.781311
Family,0.676505,0.280956,0.571553,0.36879,0.297321,0.198267,0.831916,0.575048,0.432878,0.926371,0.677975,0.827836,1.0,0.521147,0.373618,0.264771,0.244276,0.334294,0.857971
Romance,0.495483,0.495854,0.473524,0.471931,0.481107,0.221919,0.530338,0.428716,0.725442,0.421453,0.59703,0.550375,0.521147,1.0,0.498564,0.486483,0.473519,0.373366,0.641448
Western,0.354297,0.468874,0.555539,0.387748,0.460968,0.214639,0.53405,0.385528,0.603654,0.339857,0.319886,0.382767,0.373618,0.498564,1.0,0.429411,0.433182,0.347704,0.455509
War,0.326719,0.527351,0.573059,0.379926,0.420063,0.240606,0.451217,0.382743,0.706889,0.239284,0.277159,0.303073,0.264771,0.486483,0.429411,1.0,0.799357,0.335557,0.334201
History,0.332524,0.504018,0.479258,0.384377,0.462907,0.312933,0.386237,0.295121,0.748685,0.19883,0.303492,0.259801,0.244276,0.473519,0.433182,0.799357,1.0,0.285758,0.298909
Horror,0.410583,0.717057,0.612385,0.646352,0.507797,0.220365,0.464983,0.641385,0.516213,0.339585,0.281107,0.54539,0.334294,0.373366,0.347704,0.335557,0.285758,1.0,0.46611
Comedy,0.677208,0.440748,0.641312,0.491783,0.503363,0.274301,0.784823,0.601664,0.542533,0.789651,0.711368,0.781311,0.857971,0.641448,0.455509,0.334201,0.298909,0.46611,1.0

In [72]:
cs_df.to_csv('data/genres_cosine_similarity.csv')

---

## Keywords

In [2]:
keywords = pd.read_csv('../data/popular_10000_movies/movies_dataset_CLEAN.csv', index_col='id')
keywords = keywords['keywords'].to_frame()

In [3]:
keywords.head()

                                                 keywords
id
385687  [{'id': 9663, 'name': 'sequel'}, {'id': 9748, ...
697843  [{'id': 3070, 'name': 'mercenary'}, {'id': 966...
603692  [{'id': 242, 'name': 'new york city'}, {'id': ...
569094  [{'id': 2858, 'name': 'sacrifice'}, {'id': 328...
502356  [{'id': 282, 'name': 'video game'}, {'id': 690...

In [4]:
keywords.iloc[22]

keywords    [{'id': 160130, 'name': 'invisible person'}, {...
Name: 1131438, dtype: object

In [5]:
keywords.iloc[3398] = "[{'id': 5424, 'name': 'women's prison'}]"
keywords.iloc[8550] = "[{'id': 15101, 'name': 'based on children's book'}]"
keywords.iloc[9035] = "[{'id': 210450, 'name': 'noah's ark'}]"

In [6]:
keywords.iloc[2709].to_list()[0], keywords.iloc[4485].to_list()[0]

("[{'id': 18021, 'name': 'detroit, michigan'}]",
 "[{'id': 588, 'name': 'rome, italy'}]")

In [7]:
kw = keywords.iloc[2709].to_list()[0][1:-1]
l = re.findall("'name': '[\w()\-,\. ]+'", kw)
l2 = [i.replace("'name': ", "").replace("'", '') for i in l]
l, l2

(["'name': 'detroit, michigan'"], ['detroit, michigan'])

In [9]:
full_keywords_l = []
keywords_list_of_list = []
for i in range(keywords.shape[0]):
    kw = keywords.iloc[i].to_list()[0][1:-1]
    l = re.findall("'name': '[\w()\-,\. ]+'", kw)
    l2 = [i.replace("'name': ", "").replace("'", '') for i in l]
    if not l2:
        print(i)
    full_keywords_l.extend(l2)
    keywords_list_of_list.append(l2)

In [10]:
keywords_list_of_list[:5]

[['sequel', 'revenge', 'racing', 'family', 'cars'],
 ['mercenary',
  'sequel',
  'rescue mission',
  'long take',
  'based on graphic novel'],
 ['new york city',
  'martial arts',
  'hitman',
  'sequel',
  'organized crime',
  'osaka, japan',
  'aftercreditsstinger',
  'hunted',
  'professional assassin',
  'neo-noir',
  'berlin'],
 ['sacrifice',
  'villain',
  'comic book',
  'sequel',
  'superhero',
  'based on comic',
  'alternate dimension',
  'alternate version',
  'super power',
  'brooklyn, new york city',
  'superhero team',
  'spider bite',
  'super villain',
  'cliffhanger',
  'teen superhero',
  'alternate universe',
  'female superhero',
  'cartoon spider'],
 ['video game',
  'gorilla',
  'plumber',
  'magic mushroom',
  'anthropomorphism',
  'based on video game',
  'toad',
  'aftercreditsstinger',
  'duringcreditsstinger',
  'damsel in distress',
  'piano',
  'white gloves',
  'brother brother relationship',
  'evil king']]

In [160]:
keywords_list_of_str = [', '.join(l) for l in keywords_list_of_list] # bad idea with ', '
keywords_list_of_str[0]

'sequel, revenge, racing, family, cars'

In [20]:
len(full_keywords_l), len(keywords_list_of_list)

(82292, 9144)

In [21]:
unique_keywords = list(set(full_keywords_l))

In [22]:
for i in unique_keywords:
    if len(i)<3:
        print(i)

pc
gi
ax
ya
dj
بظ
3d
bp
iq
vr
rv
k2
살인
青春
uk

In [23]:
len(unique_keywords)

14239

In [24]:
keywords_counter = {}
l = []
for k in list(set(full_keywords_l)):
    for ks in keywords_list_of_list:
        if k in ks:
            l.extend(ks)
    keywords_counter[k] = dict(Counter(l))
    l = []

keywords_counter['sequel']

{'sequel': 457,
 'revenge': 31,
 'racing': 2,
 'family': 11,
 'cars': 1,
 'mercenary': 6,
 'rescue mission': 7,
 'long take': 1,
 'based on graphic novel': 1,
 'new york city': 12,
 'martial arts': 20,
 'hitman': 5,
 'organized crime': 2,
 'osaka, japan': 1,
 'aftercreditsstinger': 37,
 'hunted': 1,
 'professional assassin': 2,
 'neo-noir': 7,
 'berlin': 1,
 'sacrifice': 2,
 'villain': 10,
 'comic book': 1,
 'superhero': 31,
 'based on comic': 30,
 'alternate dimension': 5,
 'alternate version': 1,
 'super power': 16,
 'brooklyn, new york city': 2,
 'superhero team': 7,
 'spider bite': 1,
 'super villain': 2,
 'cliffhanger': 1,
 'teen superhero': 1,
 'alternate universe': 1,
 'female superhero': 1,
 'cartoon spider': 1,
 'hero': 7,
 'mad scientist': 4,
 'space opera': 5,
 'raccoon': 1,
 'duringcreditsstinger': 44,
 'marvel cinematic universe (mcu)': 12,
 'cosmic': 1,
 'outer space': 1,
 'chosen family': 1,
 'loss of loved one': 10,
 'dying and death': 3,
 'alien life-form': 4,
 'resurrection': 9,
 'dysfunctional family': 2,
 'alien planet': 3,
 'distant future': 1,
 'adopted child': 1,
 'rebirth': 1,
 'family dynamics': 1,
 'adopted son': 1,
 'stronger villain': 1,
 'war': 1,
 'machete': 3,
 'murder': 42,
 'gore': 17,
 'diner': 3,
 'dog': 6,
 'blood': 1,
 'terrorists': 1,
 'sibling relationship': 8,
 'earthquake': 3,
 'pregnancy': 7,
 'los angeles, california': 16,
 'demon': 5,
 'evil': 6,
 'necronomicon': 2,
 'reboot': 4,
 'demonic possession': 3,
 'motherhood': 1,
 'sisterhood': 2,
 'sister sister relationship': 4,
 'body horror': 1,
 'apartment': 1,
 'ant': 2,
 'philadelphia, pennsylvania': 1,
 'husband wife relationship': 4,
 'deaf': 1,
 'sports': 8,
 'orphan': 2,
 'former best friend': 1,
 'ex-con': 1,
 'childhood friends': 1,
 'juvenile detention center': 1,
 'boxing': 2,
 'prodigy': 1,
 'mask': 9,
 'trauma': 3,
 'halloween': 17,
 'college': 9,
 'fake identity': 3,
 'public murder': 1,
 'serial killer': 19,
 'conspiracy theory': 1,
 'social commentary': 1,
 'police corruption': 2,
 'slasher': 34,
 'whodunit': 4,
 'multiple stabbings': 1,
 'brutality': 5,
 'killing spree': 1,
 'self-referential': 2,
 'crime spree': 3,
 'movie fan': 1,
 'copycat killer': 2,
 'masked villain': 2,
 'stabbed to death': 2,
 'fbi agent': 1,
 'post credit scene': 1,
 'masked killer': 1,
 'feminism': 1,
 'flashback': 6,
 'prologue': 1,
 'knife fight': 1,
 'archaeologist': 2,
 'adventurer': 5,
 '1960s': 1,
 'relic hunter': 1,
 'showdown': 7,
 'secret identity': 4,
 'magic': 14,
 'dangerous': 2,
 'vigilante': 6,
 'portal': 1,
 'alternate reality': 1,
 'masked vigilante': 1,
 'spider web': 1,
 'teenage hero': 2,
 'fight for justice': 1,
 'superhero teamup': 1,
 'returning hero': 1,
 'crossover': 1,
 'teamwork': 2,
 'royal family': 2,
 'royalty': 4,
 'underwater': 7,
 'death in family': 1,
 'mourning': 1,
 'death of brother': 1,
 'death of king': 1,
 'hidden civilization': 1,
 'yucatan': 1,
 'mayans': 1,
 'music video': 1,
 'alien': 14,
 'based on toy': 2,
 'giant robot': 2,
 'robot': 7,
 'fighter pilot': 1,
 'u.s. navy': 2,
 'nuclear weapons': 2,
 'military': 5,
 'franchise': 1,
 'insidious': 1,
 'supernatural horror': 13,
 'directorial debut': 1,
 'fifth part': 1,
 'clown': 4,
 'killer': 9,
 'killer clown': 1,
 'evil clown': 2,
 'halloween night': 2,
 'graphic violence': 1,
 'megaslasher': 1,
 'based on video game': 3,
 'hedgehog': 1,
 'live action and animation': 4,
 'ex-girlfriend': 1,
 'greek mythology': 1,
 'shadow': 1,
 'norse mythology': 3,
 'heroes': 1,
 'norse god': 2,
 'god of thunder': 1,
 'colorless': 1,
 'child abduction': 1,
 'thor': 1,
 'nude male lead': 1,
 'giant monster': 2,
 'dinosaur': 7,
 'child kidnapping': 1,
 'jurassic': 1,
 'animal sanctuary': 1,
 'exorcism': 1,
 'supernatural': 15,
 'connecticut': 1,
 'paranormal investigation': 2,
 '1980s': 2,
 'religious horror': 1,
 'misfit': 1,
 'space': 8,
 'anti hero': 4,
 'psychopath': 18,
 'creature': 27,
 'fear': 2,
 'symbiote': 2,
 'carnage': 2,
 'venom character': 1,
 '1970s': 2,
 'spin off': 2,
 'minions': 2,
 'gentleminions': 1,
 'undercover': 3,
 'fbi': 5,
 'disguise': 3,
 'impersonation': 1,
 'obsession': 1,
 'experiment': 6,
 'electrocution': 1,
 'italy': 2,
 'assassin': 6,
 'gun': 5,
 'roof': 1,
 'secret organization': 3,
 'shootout': 12,
 'gun fu': 1,
 'handshake': 1,
 'dark': 1,
 'fight scenes': 1,
 'dogs': 1,
 'based on novel or book': 38,
 'carnival': 1,
 'remake': 3,
 'maine': 1,
 'ancient evil': 3,
 'loss of a friend': 1,
 '2016': 1,
 'speed': 1,
 'family relationships': 5,
 'fast car': 1,
 'brother brother relationship': 1,
 'casablanca': 1,
 'morocco': 2,
 'secret society': 1,
 'black humor': 1,
 'sahara desert': 2,
 'russian mafia': 1,
 'one man army': 2,
 'baba yaga': 1,
 'dog man friendship': 1,
 'space travel': 5,
 'time travel': 9,
 'time machine': 2,
 'alien invasion': 5,
 'alternate timeline': 1,
 'father daughter relationship': 5,
 'artificial intelligence': 6,
 'fictitious country': 1,
 'evil robot': 1,
 'saving the world': 8,
 'cyborg': 5,
 'killer robot': 1,
 'future': 3,
 'dystopia': 20,
 'terminator': 2,
 'clock': 1,
 'queen': 1,
 'dark fantasy': 2,
 'mad hatter': 1,
 'live action remake': 2,
 'venice, italy': 1,
 'europe': 5,
 'school trip': 2,
 'destruction': 1,
 'tower of london': 1,
 'eroticism': 2,
 'bdsm': 4,
 'civil war': 1,
 'united states': 1,
 'submarine': 2,
 'street race': 3,
 'betrayal': 5,
 'criminal mastermind': 1,
 'mysterious woman': 1,
 'sperm bank': 1,
 'buddy': 5,
 'courthouse': 1,
 'teddy bear': 2,
 'toy comes to life': 4,
 'android': 4,
 'spacecraft': 5,
 'infection': 2,
 'engineer': 1,
 'scientist': 9,
 'genocide': 1,
 'creation': 1,
 'acid': 1,
 'xenomorph': 3,
 'alien technology': 1,
 'genetic mutation': 2,
 'prison': 14,
 'wife': 1,
 'accidental death': 1,
 'fighting': 3,
 'fight': 7,
 'maze': 1,
 'imprisonment': 3,
 'post-apocalyptic future': 9,
 'terminal illness': 1,
 'survival': 3,
 'trial': 1,
 'zombie': 6,
 'doctor': 5,
 'battle': 4,
 'vaccine': 1,
 'desert': 4,
 'labyrinth': 2,
 'combat': 3,
 'illness': 1,
 'cure': 1,
 'zombie apocalypse': 1,
 'runner': 1,
 'universal cure': 1,
 'based on young adult novel': 8,
 'island': 7,
 'radio transmission': 1,
 'child in peril': 1,
 'psychological thriller': 1,
 'parenting': 2,
 'survival horror': 8,
 'alien monster': 2,
 'human vs alien': 1,
 'sign languages': 2,
 'alien attack': 1,
 'hearing impaired': 1,
 'fairy tale': 4,
 'musical': 10,
 'wish': 3,
 'princess': 7,
 'streaming': 1,
 'liberation': 3,
 'honeymoon': 1,
 'prince': 7,
 'parents-in-law': 1,
 'kingdom': 5,
 'enchantment': 1,
 'transformation': 6,
 'anthropomorphism': 10,
 'dragon': 7,
 'ogre': 3,
 'cartoon donkey': 2,
 'child abuse': 1,
 'kidnapping': 8,
 'stalking': 1,
 'teenage girl': 4,
 'mental illness': 4,
 'multiple personality': 2,
 'traumatic childhood': 1,
 'dissociative identity disorder': 2,
 'mutant': 5,
 'dual identity': 2,
 'amnesia': 5,
 'sandstorm': 3,
 'forgiveness': 1,
 'spider': 1,
 'wretch': 2,
 'egomania': 1,
 'sand': 1,
 'narcism': 1,
 'hostility': 1,
 'car race': 5,
 'best friend': 5,
 'museum': 2,
 'prosecution': 2,
 'identity crisis': 2,
 'airplane': 6,
 'flea market': 1,
 'collector': 1,
 'friendship': 10,
 'rescue team': 1,
 'garage sale': 1,
 'personification': 3,
 'inanimate objects come to life': 2,
 'sea': 1,
 'ship': 3,
 'artifact': 1,
 'treasure map': 1,
 'pirate': 2,
 'period drama': 1,
 'monkey': 2,
 'swashbuckler': 1,
 'ghost': 8,
 'caribbean sea': 2,
 'trident': 1,
 'cướp biển': 1,
 'hải tặc': 1,
 'baby': 6,
 'boss': 1,
 'sibling': 1,
 'prehistory': 1,
 'flying': 4,
 'overpopulation': 1,
 'viking': 3,
 'love interest': 1,
 'dna': 1,
 'tyrannosaurus rex': 2,
 'velociraptor': 1,
 'animal attack': 9,
 'primal fear': 1,
 'disaster': 3,
 'escape': 7,
 'park': 1,
 'amusement park': 4,
 'theme park': 3,
 'genetic engineering': 3,
 'raptor': 1,
 'animal horror': 2,
 'mosasaurus': 1,
 'witch': 7,
 'sister': 2,
 'high school': 7,
 'salem, massachusetts': 1,
 'trainer': 1,
 'travel': 2,
 'high tech': 1,
 'resistance': 1,
 'female protagonist': 3,
 'bow and arrow': 2,
 'game': 1,
 'future war': 1,
 'revolt': 1,
 'class prejudice': 1,
 'human subjugation': 1,
 'small town': 2,
 'ghostbuster': 1,
 'nostalgia': 1,
 'afterlife': 1,
 'dead grandfather': 1,
 'otherworldly beings': 1,
 'paranormal events': 1,
 'father absence': 1,
 'ghostbusters': 1,
 'werewolf': 2,
 'supernatural creature': 2,
 'based on movie': 2,
 'banshee': 1,
 'northern california': 1,
 'based on tv series': 2,
 '2020s': 1,
 'shotgun': 1,
 'prison cell': 1,
 'champion': 1,
 'fighter': 3,
 'blood splatter': 3,
 'beating': 1,
 'jail': 1,
 'tournament': 3,
 'jail cell': 1,
 'prison fight': 2,
 'carrot': 1,
 'female villain': 2,
 'loki': 1,
 'cartoon': 6,
 'cowboy': 2,
 'psychiatric hospital': 1,
 'comic book shop': 1,
 'surveillance specialist': 1,
 'bounty hunter': 3,
 'genetics': 1,
 'cyberpunk': 3,
 'las vegas': 3,
 'tech noir': 1,
 'blade runner': 1,
 '2040s': 2,
 'self-destruction': 1,
 'immortality': 2,
 'road trip': 7,
 'neo-western': 1,
 'troubled past': 1,
 'aging superhero': 1,
 'life on the margin': 1,
 'detective': 11,
 'greece': 3,
 'mona lisa (la gioconda)': 1,
 'investigation': 7,
 'satire': 3,
 'billionaire': 2,
 'puzzle box': 2,
 'clue': 1,
 'identical twin': 1,
 'murder mystery': 1,
 'arrested development': 1,
 'covid-19': 2,
 'texas': 3,
 'prequel': 3,
 'purge': 3,
 'family surviving alone': 1,
 'guns and weapons': 1,
 'california': 5,
 'gas station': 2,
 'suspicion of murder': 1,
 'golf': 1,
 'bodyguard': 2,
 'funeral': 2,
 'penthouse apartment': 1,
 'car crash': 3,
 'morgue': 2,
 'on the run': 2,
 'confusion': 1,
 'fugitive': 3,
 'police chase': 1,
 'explosion': 13,
 'foot chase': 6,
 'anger': 1,
 'group of friends': 2,
 'death of mother': 2,
 'surveillance camera': 1,
 'murder investigation': 1,
 'failing marriage': 1,
 'ex-husband ex-wife relationship': 1,
 'police surveillance': 1,
 'wanted man': 1,
 'police inspector': 1,
 'framed for murder': 1,
 'protective father': 1,
 'gps': 1,
 'money problems': 1,
 'elevator': 1,
 'prime suspect': 1,
 'college student': 1,
 'rich husband': 1,
 'ex special forces': 1,
 'ex-cia agent': 1,
 'unhappy marriage': 1,
 'unplanned pregnancy': 1,
 'spetsnaz': 1,
 'secret hideout': 1,
 'innocent suspect': 1,
 'lost money': 1,
 'army veteran': 2,
 'associates': 1,
 'secret investigation': 1,
 'homicide investigation': 1,
 'russian': 1,
 'deep sadness': 1,
 'enemy': 1,
 'evasion': 1,
 'in love with ex': 1,
 'mystery': 1,
 'tense': 1,
 'honorable': 1,
 'stepfather stepdaughter relationship': 1,
 'death of ex': 1,
 'spy tech': 1,
 'outsmart': 1,
 'special skills': 1,
 'owe money to criminals': 1,
 'ice age': 2,
 'bridge': 1,
 'insanity': 2,
 'prehistoric': 3,
 'jungle': 6,
 'birth': 2,
 'london, england': 7,
 'dancehall girl': 1,
 'male stripper': 1,
 'bar dancer': 1,
 'dancefilm': 1,
 'abusive relationship': 1,
 'rivalry': 3,
 'dedicated': 1,
 'box ring': 1,
 'ukraine': 1,
 'hostage': 4,
 'daycare': 1,
 'ambush': 2,
 'sadness': 1,
 'stage': 1,
 'liberation of prisoners': 2,
 'traitor': 1,
 'shipwreck': 1,
 'theater play': 1,
 'conciliation': 1,
 'tricks': 1,
 'heir to the throne': 2,
 'assault': 1,
 'boarding school': 2,
 'teacher': 2,
 'cowardliness': 1,
 'capture': 2,
 'victorian england': 1,
 'female detective': 1,
 'sherlock holmes': 3,
 'paris, france': 5,
 'spy': 6,
 'helicopter': 8,
 'plutonium': 2,
 'norway': 1,
 'countdown': 1,
 'race against time': 1,
 'motorcycle': 3,
 'bomb remote detonator': 1,
 'handgun': 3,
 'hand to hand combat': 4,
 'kashmir': 1,
 'monster': 12,
 'damage': 1,
 'army': 1,
 'kaiju': 1,
 'robot suits': 1,
 'mount fuji': 1,
 'secret government organization': 1,
 'agent': 2,
 'statesman': 1,
 'rape': 8,
 'cia': 3,
 'hurricane': 1,
 'drug dealer': 1,
 'gang': 5,
 'massacre': 3,
 'elite forces': 1,
 'vigilante justice': 6,
 'competition': 4,
 'dynamite': 1,
 'forest': 6,
 'west virginia': 2,
 'woods': 8,
 'road accident': 1,
 'cannibal': 5,
 'incest': 2,
 'ex soldier': 1,
 'voyeur': 4,
 'ballet dancer': 1,
 'parody': 2,
 'spoof': 5,
 'horror spoof': 1,
 'paranormal activity': 3,
 'horror parody': 1,
 'married couple': 3,
 'detective story': 1,
 'missing person': 3,
 'found footage': 7,
 'abuse': 1,
 'amateur sleuth': 1,
 'mother daughter relationship': 3,
 'screenlife': 1,
 'colombia': 1,
 'boat': 5,
 'kiss': 1,
 'budapest, hungary': 1,
 'terrorist': 1,
 'skyscraper': 1,
 'seattle, washington': 1,
 'secret intelligence service': 1,
 'satellite': 2,
 'mumbai (bombay), india': 1,
 'secret agent': 5,
 'dubai': 1,
 'prison escape': 3,
 'bombing': 1,
 'jet': 1,
 'nuclear threat': 1,
 'moscow, russia': 3,
 'field agent': 1,
 'analyst': 1,
 'nuclear submarine': 1,
 'kremlin': 1,
 'disavowed': 1,
 'nuclear launch codes': 1,
 'burj khalifa': 1,
 'scaling a building': 1,
 'leader': 1,
 'colony': 1,
 'ape': 2,
 'medical research': 1,
 'plague': 1,
 '2030s': 2,
 'bus': 1,
 'assault rifle': 1,
 'sniper': 4,
 'rampage': 3,
 'masked man': 1,
 'death': 11,
 'martyr': 1,
 'gatling gun': 1,
 'shotguns': 1,
 'arms dealer': 1,
 'hospital': 5,
 'sledgehammer': 1,
 'revolver': 2,
 'book of the dead': 1,
 'interracial friendship': 1,
 'supernatural power': 6,
 'china': 1,
 'kung fu': 2,
 'village': 3,
 'panda': 1,
 'wuxia': 2,
 'woman director': 12,
 'mexico city, mexico': 1,
 'plane crash': 1,
 'volcano': 3,
 'wild animal': 1,
 'prehistoric creature': 2,
 'monster island': 1,
 'parent child relationship': 4,
 'rescue': 5,
 'death of father': 2,
 'death of husband': 1,
 'warrior': 4,
 'mother son relationship': 2,
 'austria': 1,
 'mission': 1,
 'conspiracy': 5,
 'vienna, austria': 1,
 'vienna opera': 1,
 'mammoth': 2,
 'sloth': 1,
 'barrier ice': 1,
 'ice melting': 1,
 'iceberg': 1,
 'flooding': 1,
 'lovers': 1,
 'deluge': 1,
 'saber-toothed tiger': 1,
 'murder spree': 3,
 'sexuality': 1,
 'bondage': 1,
 'whip': 1,
 'masochism': 1,
 'sex therapy': 1,
 'chapter': 1,
 'sadomasochism': 1,
 'love': 2,
 'nymphomaniac': 1,
 'romance': 3,
 'loneliness': 1,
 'tragedy': 1,
 'sexual violence': 2,
 'masturbation': 2,
 'therapy': 1,
 'addict': 1,
 'story telling': 1,
 'sexual pleasure': 1,
 'sexually aggressive woman': 1,
 'unhappy': 1,
 'pleasure': 1,
 'virginity': 1,
 'abortion': 1,
 'extreme pain': 1,
 'sex': 2,
 'corruption': 2,
 'drugs': 3,
 'cartel': 1,
 'mexican cartel': 2,
 'tattoo': 2,
 'extreme sports': 1,
 'parachute': 1,
 'swimming pool': 5,
 'back from the dead': 4,
 'dominican republic': 1,
 'free fall': 1,
 'police officer': 4,
 'power plant': 1,
 'usa president': 2,
 'secret service': 2,
 'framed for a crime': 1,
 'terrorist plot': 1,
 'assassination attempt': 2,
 'survivalism': 1,
 'u.s. secret service agent': 1,
 'manhunt': 1,
 'father son relationship': 4,
 'falsely accused': 1,
 'opium': 1,
 'homicide': 1,
 'new orleans, louisiana': 1,
 'false accusations': 1,
 'hdd': 1,
 'holiday': 10,
 'burglar': 2,
 'slapstick comedy': 7,
 'little boy': 2,
 'home invasion': 4,
 'precocious child': 2,
 'home alone': 2,
 'mischievous child': 3,
 'christmas': 9,
 'kids on their own': 2,
 'child rescue': 2,
 'police': 18,
 'body count': 1,
 'procedural': 1,
 'mystery killings': 2,
 'murder of a policeman': 1,
 'propaganda': 1,
 'games': 1,
 'president': 1,
 'uprising': 1,
 'rebellion': 1,
 'video game': 2,
 'internet': 1,
 'lethal virus': 1,
 'online gaming': 1,
 'family reunion': 1,
 'scat': 1,
 'high school reunion': 2,
 'quitting a job': 1,
 'milf': 1,
 'africa': 6,
 'jealousy': 1,
 'dance': 2,
 'hunger': 1,
 'lion': 2,
 'zoo': 2,
 'hippopotamus': 1,
 'giraffe': 1,
 'chimp': 1,
 'penguin': 1,
 'madagascar': 1,
 'zebra': 1,
 'friends': 1,
 'shark': 12,
 'animal': 7,
 'lemur': 1,
 'talking animal': 1,
 'bunker': 1,
 'space battle': 1,
 'failure': 1,
 'defeat': 1,
 'military operation': 1,
 'hunter': 1,
 'predator': 2,
 'yakuza': 1,
 'hunting human beings': 2,
 'soldier': 2,
 'fairy': 3,
 'home': 4,
 'invasion': 1,
 'sin': 1,
 'gunfight': 5,
 'blind': 1,
 'criminal': 3,
 'blind man': 1,
 'hammer': 1,
 'new jersey': 6,
 'church': 3,
 'social media': 1,
 'staten island, new york city': 1,
 'abuse of power': 1,
 'apartment buildings': 1,
 'insect': 2,
 'dream': 7,
 'nuclear missile': 2,
 'chase': 4,
 'van': 1,
 'shrinking': 1,
 'giant insect': 1,
 'house arrest': 1,
 'tragic villain': 1,
 'laboratory': 3,
 'school': 1,
 'miniaturization': 1,
 'montage': 1,
 'toy car': 1,
 'giant man': 1,
 'giant': 2,
 'action hero': 15,
 'anthology': 1,
 'cartoon mouse': 1,
 'fairy godmother': 2,
 'baker': 1,
 'seal (animal)': 1,
 'prehistoric times': 1,
 'melting ice': 1,
 'floating ice': 1,
 'land bridge': 1,
 'era': 1,
 'glaciale': 1,
 'deriva': 1,
 'vietnam veteran': 3,
 'submachine gun': 1,
 'prisoner': 2,
 'prisoner of war': 1,
 'leech': 1,
 'vietnam': 1,
 'vietnam war': 1,
 'machinegun': 1,
 'us army': 2,
 'photography': 1,
 'government': 2,
 'torture': 12,
 'exploding body': 1,
 'russian army': 1,
 'electrical torture': 1,
 'denunciation': 1,
 'post traumatic stress disorder': 3,
 'arizona': 1,
 'human trafficking': 1,
 'father figure': 1,
 'last stand': 1,
 'horse ranch': 1,
 'mexican american border': 1,
 'revenge plot': 1,
 'revolution': 2,
 'missionary': 1,
 'river': 2,
 'pastor': 1,
 'snake': 2,
 'border': 1,
 'thailand': 1,
 'burma': 1,
 'campus': 1,
 'slaughter': 8,
 'university': 3,
 'police detective': 3,
 'buddy cop': 8,
 'buddy comedy': 3,
 'buddy film': 2,
 'mass murder': 2,
 'decapitation': 3,
 'leatherface': 3,
 'chainsaw': 5,
 'body mutilation': 2,
 'gentrification': 1,
 'skinning': 1,
 'massacres': 1,
 'simulation': 1,
 'super computer': 3,
 'utopia': 1,
 'computer program': 1,
 'computer simulation': 1,
 'deception': 4,
 'computer game': 1,
 '80s style': 1,
 'autocracy': 1,
 'light cycle': 1,
 'animal kingdom': 1,
 'authority': 1,
 'ninja': 2,
 'underground fighting': 1,
 'centaur': 1,
 'good versus evil': 8,
 'route 66': 1,
 'grand canyon': 1,
 'vacation': 1,
 'family vacation': 1,
 'truck driver': 2,
 'roller coaster': 2,
 'bipolar disorder': 1,
 'plano texas': 1,
 'airplane pilot': 1,
 'murderer': 2,
 'house fire': 2,
 'vigilantism': 1,
 'escaped killer': 3,
 'prostitute': 2,
 'horse race': 1,
 'heart': 1,
 'cigarette': 1,
 'strip club': 2,
 'electric shock': 4,
 'tourette syndrome': 1,
 'mansion': 1,
 'surgery': 1,
 'taser': 1,
 'absurdism': 1,
 'ultraviolence': 1,
 'mechanic': 1,
 'around the world': 1,
 'moon': 2,
 'space marine': 1,
 'coffee': 1,
 'bomb planting': 1,
 'anarchic comedy': 1,
 'calvary': 1,
 'legalized murder': 1,
 'attack on politician': 1,
 'military attack': 1,
 'suicide': 3,
 'slavery': 1,
 'avalanche': 1,
 'virus': 3,
 'avatar': 1,
 'detention': 2,
 'explorer': 1,
 'gaming': 1,
 'quest': 1,
 'cartographer': 1,
 'zoologist': 1,
 'chipmunk': 1,
 'cruise ship': 1,
 'overboard': 1,
 'haunted house': 4,
 'psychic power': 1,
 'sadism': 16,
 'death match': 1,
 'suicide by hanging': 1,
 'mind game': 1,
 'abduction': 1,
 'no escape': 1,
 'escape room': 1,
 'amazon rainforest': 2,
 'audition': 2,
 'parrots': 1,
 ...}

In [25]:
[] in keywords_list_of_list

False

In [50]:
with open('data/keywords_list_of_list.pickle', 'wb') as f:
    pk.dump(keywords_list_of_list, f, pk.HIGHEST_PROTOCOL)

In [51]:
with open('data/keywords_counter.pickle', 'wb') as f:
    pk.dump(keywords_counter, f, pk.HIGHEST_PROTOCOL)

In [28]:
df = pd.DataFrame(index=keywords.index, columns=['keywords_list'], data=np.array(keywords_list_of_list, dtype=object))
df.head()

                                            keywords_list
id
385687            [sequel, revenge, racing, family, cars]
697843  [mercenary, sequel, rescue mission, long take,...
603692  [new york city, martial arts, hitman, sequel, ...
569094  [sacrifice, villain, comic book, sequel, super...
502356  [video game, gorilla, plumber, magic mushroom,...

In [29]:
df.shape

(9144, 1)

In [140]:
df.to_csv('data/keywords_list.csv')

In [142]:
df = pd.DataFrame(index=keywords.index, columns=['keywords_str'], data=np.array(keywords_list_of_str))
df.head()

                                             keywords_str
id
385687              sequel, revenge, racing, family, cars
697843  mercenary, sequel, rescue mission, long take, ...
603692  new york city, martial arts, hitman, sequel, o...
569094  sacrifice, villain, comic book, sequel, superh...
502356  video game, gorilla, plumber, magic mushroom, ...

In [143]:
df.to_csv('data/keywords_str.csv')

### One-Hot Labeling

In [31]:
keywords_ind = pd.read_csv('data/keywords_list.csv', index_col='id')
kw_vectors = pd.DataFrame(index=keywords_ind.index, columns=unique_keywords)
kw_vectors.shape

(9144, 14239)

In [32]:
keywords_ind.head()

                                            keywords_list
id
385687  ['sequel', 'revenge', 'racing', 'family', 'cars']
697843  ['mercenary', 'sequel', 'rescue mission', 'lon...
603692  ['new york city', 'martial arts', 'hitman', 's...
569094  ['sacrifice', 'villain', 'comic book', 'sequel...
502356  ['video game', 'gorilla', 'plumber', 'magic mu...

In [146]:
keywords_ind.isna().sum()

keywords_str    0
dtype: int64

In [30]:
'osaka, japan' in unique_keywords

True

In [41]:
keywords_ind['keywords_list'].iloc[2][2:-2].split("', '")

['new york city',
 'martial arts',
 'hitman',
 'sequel',
 'organized crime',
 'osaka, japan',
 'aftercreditsstinger',
 'hunted',
 'professional assassin',
 'neo-noir',
 'berlin']

In [42]:
len_kw_v = len(unique_keywords)

for i in range(kw_vectors.shape[0]):
    df = np.array(np.array([0]*len_kw_v))
    
    for j in keywords_ind['keywords_list'].iloc[i][2:-2].split("', '"):
        df[unique_keywords.index(j)] = 1

    kw_vectors.iloc[i] = df
        
kw_vectors.iloc[0:10, 0:10]

,sea world,expulsion,storm at sea,one-sided love,mobile home,muscular dystrophy,street art,undead,classic,rude male lead
id,,,,,,,,,,
385687,0,0,0,0,0,0,0,0,0,0
697843,0,0,0,0,0,0,0,0,0,0
603692,0,0,0,0,0,0,0,0,0,0
569094,0,0,0,0,0,0,0,0,0,0
502356,0,0,0,0,0,0,0,0,0,0
667538,0,0,0,0,0,0,0,0,0,0
976573,0,0,0,0,0,0,0,0,0,0
536437,0,0,0,0,0,0,0,0,0,0
298618,0,0,0,0,0,0,0,0,0,0
447365,0,0,0,0,0,0,0,0,0,0

In [47]:
kw_vectors['martial arts'].sum()

200

In [48]:
kw_vectors.to_csv('data/one-hot_keywords.csv')

### Cosine Similarity

In [39]:
kw_vectors = pd.DataFrame(index=unique_keywords, )

array(['dangerous', 'dancefilm', 'antiquary', ..., 'sinkhole', 'guilty',
       'incident'], dtype='<U20')

---

## Cast

In [9]:
cast = pd.read_csv('../data/popular_10000_movies/movies_dataset_CLEAN.csv', index_col='id')
cast.head()

,genre_ids,overview,popularity,release_date,title,vote_average,vote_count,genres,cast,crew,keywords
id,,,,,,,,,,,
385687,"[28, 80, 53]",Over many missions and against impossible odds...,4654.279,2023-05-17,Fast X,7.3,2093,"Action, Crime, Thriller","[{'cast_id': 12835, 'name': 'Vin Diesel', 'cha...","[{'crew_id': 1302, 'name': 'Susie Figgis', 'de...","[{'id': 9663, 'name': 'sequel'}, {'id': 9748, ..."
697843,"[28, 53]",Tasked with extracting a family who is at the ...,2494.010,2023-06-09,Extraction 2,7.7,910,"Action, Thriller","[{'cast_id': 74568, 'name': 'Chris Hemsworth',...","[{'crew_id': 950, 'name': 'Pietro Scalia', 'de...","[{'id': 3070, 'name': 'mercenary'}, {'id': 966..."
603692,"[28, 53, 80]","With the price on his head ever increasing, Jo...",1920.127,2023-03-22,John Wick: Chapter 4,7.9,3344,"Action, Thriller, Crime","[{'cast_id': 6384, 'name': 'Keanu Reeves', 'ch...","[{'crew_id': 3615, 'name': 'Manfred Banach', '...","[{'id': 242, 'name': 'new york city'}, {'id': ..."
569094,"[28, 12, 16, 878]","After reuniting with Gwen Stacy, Brooklyn’s fu...",2013.795,2023-05-31,Spider-Man: Across the Spider-Verse,8.6,1796,"Action, Adventure, Animation, Science Fiction","[{'cast_id': 587506, 'name': 'Shameik Moore', ...","[{'crew_id': 7624, 'name': 'Stan Lee', 'depart...","[{'id': 2858, 'name': 'sacrifice'}, {'id': 328..."
502356,"[16, 10751, 12, 14, 35]","While working underground to fix a water main,...",1539.037,2023-04-05,The Super Mario Bros. Movie,7.8,5165,"Animation, Family, Adventure, Fantasy, Comedy","[{'cast_id': 73457, 'name': 'Chris Pratt', 'ch...","[{'crew_id': 70851, 'name': 'Jack Black', 'dep...","[{'id': 282, 'name': 'video game'}, {'id': 690..."

In [13]:
cast = cast['cast'].to_frame()
cast.head()

                                                     cast
id
385687  [{'cast_id': 12835, 'name': 'Vin Diesel', 'cha...
697843  [{'cast_id': 74568, 'name': 'Chris Hemsworth',...
603692  [{'cast_id': 6384, 'name': 'Keanu Reeves', 'ch...
569094  [{'cast_id': 587506, 'name': 'Shameik Moore', ...
502356  [{'cast_id': 73457, 'name': 'Chris Pratt', 'ch...

In [23]:
cast.drop(cast[cast['cast']=='[]'].index, inplace=True)

In [24]:
cast[cast['cast']=='[]']

Empty DataFrame
Columns: [cast]
Index: []

In [20]:
cast.iloc[978].to_list()

['[]']

In [18]:
kw = cast.iloc[0].to_list()[0][1:-1]
l = re.findall("'name': '[\w()\-,\. ]+'", kw)
l2 = [i.replace("'name': ", "").replace("'", '') for i in l]
l2

['Vin Diesel',
 'Michelle Rodriguez',
 'Tyrese Gibson',
 'Ludacris',
 'John Cena',
 'Nathalie Emmanuel',
 'Jordana Brewster',
 'Sung Kang',
 'Jason Momoa',
 'Scott Eastwood',
 'Daniela Melchior',
 'Alan Ritchson',
 'Helen Mirren',
 'Brie Larson',
 'Jason Statham',
 'Charlize Theron',
 'Rita Moreno',
 'Joaquim de Almeida',
 'Leo A. Perry',
 'Luis Da Silva Jr.',
 'Jaz Hutchins',
 'Luka Hays',
 'Alexander Capon',
 'Pete Davidson',
 'Shadrach Agozino',
 'Ludmilla',
 'Miraj Grbić',
 'Meadow Walker Thornton-Allan',
 'Michael Irby',
 'Shahir Figueira',
 'Ben-Hur Santos',
 'Debby Ryan',
 'Josh Dun',
 'Robert Bastens',
 'Dwayne Johnson',
 'Gal Gadot']

In [25]:
full_cast_l = []
cast_list_of_list = []
for i in range(cast.shape[0]):
    kw = cast.iloc[i].to_list()[0][1:-1]
    l = re.findall("'name': '[\w()\-,\. ]+'", kw)
    l2 = [i.replace("'name': ", "").replace("'", '') for i in l]
    if not l2:
        print(i)
    full_cast_l.extend(l2)
    cast_list_of_list.append(l2)

In [26]:
len(full_cast_l), len(cast_list_of_list)

(311707, 9133)

In [27]:
unique_actors = list(set(full_cast_l))
len(unique_actors)

145215

In [ ]:
actors_counter = {}
l = []
for k in list(set(full_cast_l)):
    for ks in cast_list_of_list:
        if k in ks:
            l.extend(ks)
    actors_counter[k] = dict(Counter(l))
    l = []

actors_counter['Jordana Brewster']

In [32]:
with open('data/cast_list_of_list.pickle', 'wb') as f:
    pk.dump(cast_list_of_list, f, pk.HIGHEST_PROTOCOL)

In [31]:
with open('data/actors_counter.pickle', 'wb') as f:
    pk.dump(actors_counter, f, pk.HIGHEST_PROTOCOL)

In [35]:
df = pd.DataFrame(index=cast.index, columns=['cast_list'], data=np.array(cast_list_of_list, dtype=object))

In [37]:
df.to_csv('data/cast_list.csv')