# Data Prepare

In [1]:
from collections import Counter
from itertools import combinations

import pandas as pd
import numpy as np

from sklearn.preprocessing import StandardScaler
from sklearn.preprocessing import LabelEncoder
from sklearn.metrics.pairwise import cosine_similarity

import matplotlib.pyplot as plt
import seaborn as sns

from jupyterthemes import jtplot
jtplot.style(figsize=(15, 9))

## Genres

### One-Hot Encoding

In [22]:
genres = pd.read_csv('../data/popular_10000_movies/movies_dataset_CLEAN.csv', index_col='id')

genres = genres['genres'].to_frame()
genres.dropna(inplace=True)

genres.head()

                                               genres
id
385687                        Action, Crime, Thriller
697843                               Action, Thriller
603692                        Action, Thriller, Crime
569094  Action, Adventure, Animation, Science Fiction
502356  Animation, Family, Adventure, Fantasy, Comedy

In [23]:
genres.shape

(9144, 1)

In [24]:
genres.isna().sum()

genres    0
dtype: int64

In [25]:
genres['genres'].nunique()

2131

In [26]:
unique_genres = [
    'Action',
    'Adventure',
    'Animation',
    'Comedy',
    'Crime',
    'Documentary',
    'Drama',
    'Family',
    'Fantasy',
    'History',
    'Horror',
    'Music',
    'Mystery',
    'Romance',
    'Science Fiction',
    'TV Movie',
    'Thriller',
    'War',
    'Western'
]

In [27]:
genres_vectors = pd.DataFrame(index=genres.index, columns=unique_genres)
genres_vectors.head()

,Action,Adventure,Animation,Comedy,Crime,Documentary,Drama,Family,Fantasy,History,Horror,Music,Mystery,Romance,Science Fiction,TV Movie,Thriller,War,Western
id,,,,,,,,,,,,,,,,,,,
385687,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
697843,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
603692,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
569094,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
502356,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [28]:
for i in range(genres.shape[0]):
    df = np.full(len(unique_genres), 0)
    
    for j in str(genres['genres'].iloc[i]).split(', '):
        df[unique_genres.index(j)] = 1

    genres_vectors.iloc[i] = df
        
genres_vectors.head()

,Action,Adventure,Animation,Comedy,Crime,Documentary,Drama,Family,Fantasy,History,Horror,Music,Mystery,Romance,Science Fiction,TV Movie,Thriller,War,Western
id,,,,,,,,,,,,,,,,,,,
385687,1,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,1,0,0
697843,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0
603692,1,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,1,0,0
569094,1,1,1,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0
502356,0,1,1,1,0,0,0,1,1,0,0,0,0,0,0,0,0,0,0

### Labels for Genres

In [29]:
# if we have that genre in list it will be dominant, from most to least
labels = [
    'Documentary',
    'Music',
    'Animation',
    'Family',
    'Science Fiction',
    'Horror',
    'History',
    'Thriller',
]

In [30]:
labels_df = pd.DataFrame(index=genres.index, columns=['label'])
labels_df.head()

       label
id
385687   NaN
697843   NaN
603692   NaN
569094   NaN
502356   NaN

In [31]:
for i in range(genres.shape[0]):
    genres_l = str(genres['genres'].iloc[i]).split(', ')
    labels_df.iloc[i] = genres_l[0]
    for j in labels:
        if j in genres_l:
            labels_df.iloc[i] = j
            break
        
labels_df.head()

            label
id
385687   Thriller
697843   Thriller
603692   Thriller
569094  Animation
502356  Animation

In [32]:
le = LabelEncoder()
le.fit(labels_df['label'])

labels_df['label_encoder'] = le.transform(labels_df['label'])
labels_df.head()

            label  label_encoder
id
385687   Thriller             16
697843   Thriller             16
603692   Thriller             16
569094  Animation              2
502356  Animation              2

In [33]:
labels_df.shape

(9144, 2)

### Add Labels to Genres

In [34]:
df = pd.merge(genres_vectors, labels_df, on='id', how='inner')
df.head()

,Action,Adventure,Animation,Comedy,Crime,Documentary,Drama,Family,Fantasy,History,...,Music,Mystery,Romance,Science Fiction,TV Movie,Thriller,War,Western,label,label_encoder
id,,,,,,,,,,,,,,,,,,,,,
385687,1,0,0,0,1,0,0,0,0,0,...,0,0,0,0,0,1,0,0,Thriller,16
697843,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,1,0,0,Thriller,16
603692,1,0,0,0,1,0,0,0,0,0,...,0,0,0,0,0,1,0,0,Thriller,16
569094,1,1,1,0,0,0,0,0,0,0,...,0,0,0,1,0,0,0,0,Animation,2
502356,0,1,1,1,0,0,0,1,1,0,...,0,0,0,0,0,0,0,0,Animation,2

In [35]:
df.shape

(9144, 21)

In [37]:
df.to_csv('data/one-hot_genres_w_labels.csv')

### Cosine Similarity

In [43]:
genres_list = list(genres['genres'].unique())

In [44]:
for i, g in enumerate(genres_list):
    genres_list[i] = g.split(', ')

In [45]:
genres_list[:20]

[['Action', 'Crime', 'Thriller'],
 ['Action', 'Thriller'],
 ['Action', 'Thriller', 'Crime'],
 ['Action', 'Adventure', 'Animation', 'Science Fiction'],
 ['Animation', 'Family', 'Adventure', 'Fantasy', 'Comedy'],
 ['Action', 'Adventure', 'Science Fiction'],
 ['Animation', 'Comedy', 'Family', 'Fantasy', 'Romance'],
 ['Mystery', 'Thriller', 'Science Fiction'],
 ['Science Fiction', 'Action', 'Adventure'],
 ['Action', 'Science Fiction', 'Adventure'],
 ['Science Fiction', 'Adventure', 'Action'],
 ['Action', 'Horror', 'Thriller'],
 ['Adventure', 'Family', 'Fantasy', 'Romance'],
 ['Thriller', 'Horror'],
 ['Horror', 'Thriller'],
 ['War', 'Action', 'Thriller'],
 ['Drama', 'Romance'],
 ['Action', 'Fantasy', 'Thriller'],
 ['Comedy', 'Action', 'Fantasy'],
 ['Comedy', 'Drama']]

In [46]:
un_genres_list = [genre for genres in genres_list for genre in genres]

In [47]:
len(genres_list), len(un_genres_list)

(2131, 7856)

In [48]:
un_genres_list = list(set(un_genres_list))

In [49]:
len(un_genres_list)

19

In [50]:
un_genres_list

['TV Movie',
 'Thriller',
 'Action',
 'Mystery',
 'Crime',
 'Documentary',
 'Adventure',
 'Science Fiction',
 'Drama',
 'Animation',
 'Music',
 'Fantasy',
 'Family',
 'Romance',
 'Western',
 'War',
 'History',
 'Horror',
 'Comedy']

In [51]:
genres_list[:20]

[['Action', 'Crime', 'Thriller'],
 ['Action', 'Thriller'],
 ['Action', 'Thriller', 'Crime'],
 ['Action', 'Adventure', 'Animation', 'Science Fiction'],
 ['Animation', 'Family', 'Adventure', 'Fantasy', 'Comedy'],
 ['Action', 'Adventure', 'Science Fiction'],
 ['Animation', 'Comedy', 'Family', 'Fantasy', 'Romance'],
 ['Mystery', 'Thriller', 'Science Fiction'],
 ['Science Fiction', 'Action', 'Adventure'],
 ['Action', 'Science Fiction', 'Adventure'],
 ['Science Fiction', 'Adventure', 'Action'],
 ['Action', 'Horror', 'Thriller'],
 ['Adventure', 'Family', 'Fantasy', 'Romance'],
 ['Thriller', 'Horror'],
 ['Horror', 'Thriller'],
 ['War', 'Action', 'Thriller'],
 ['Drama', 'Romance'],
 ['Action', 'Fantasy', 'Thriller'],
 ['Comedy', 'Action', 'Fantasy'],
 ['Comedy', 'Drama']]

In [52]:
genres_counter = {}
l = []
for g in un_genres_list:
    for gs in genres_list:
        if g in gs:
            l.extend(gs)
    genres_counter[g] = dict(Counter(l))
    l = []

genres_counter['Animation']

{'Action': 129,
 'Adventure': 216,
 'Animation': 407,
 'Science Fiction': 99,
 'Family': 298,
 'Fantasy': 160,
 'Comedy': 215,
 'Romance': 26,
 'Music': 38,
 'Drama': 31,
 'TV Movie': 36,
 'Crime': 14,
 'Thriller': 12,
 'Horror': 18,
 'Mystery': 40,
 'Western': 7,
 'War': 5,
 'History': 4}

In [53]:
genres_df = pd.DataFrame(columns=un_genres_list, index=un_genres_list)
genres_df.head()

,TV Movie,Thriller,Action,Mystery,Crime,Documentary,Adventure,Science Fiction,Drama,Animation,Music,Fantasy,Family,Romance,Western,War,History,Horror,Comedy
TV Movie,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Thriller,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Action,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Mystery,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Crime,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [54]:
for genre in un_genres_list:
    g = {}
    for u_genre in un_genres_list:
        if u_genre in genres_counter[genre].keys():
            g[u_genre] =  genres_counter[genre][u_genre]
        else:
            g[u_genre] = 0
    genres_df.loc[genre] = g

In [55]:
genres_df.head()

,TV Movie,Thriller,Action,Mystery,Crime,Documentary,Adventure,Science Fiction,Drama,Animation,Music,Fantasy,Family,Romance,Western,War,History,Horror,Comedy
TV Movie,176,25,38,12,10,3,44,39,55,36,23,46,77,22,3,5,10,20,79
Thriller,25,615,264,196,197,1,111,154,285,12,4,73,8,72,19,38,38,159,98
Action,38,264,759,73,153,5,348,234,208,129,8,152,137,52,38,66,50,115,210
Mystery,12,196,73,342,98,3,59,72,141,40,5,52,41,36,6,6,9,84,85
Crime,10,197,153,98,348,3,43,25,166,14,9,15,15,39,13,2,19,36,116

In [56]:
cs_df = pd.DataFrame(columns=genres_df.index, index=genres_df.index)
cs_df.head()

,TV Movie,Thriller,Action,Mystery,Crime,Documentary,Adventure,Science Fiction,Drama,Animation,Music,Fantasy,Family,Romance,Western,War,History,Horror,Comedy
TV Movie,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Thriller,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Action,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Mystery,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Crime,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [69]:
def get_cosine_similarity_mertric(df1, df2):
    return np.dot(df1, df2)/ \
    (np.sqrt(np.power(df1, 2).sum()) * np.sqrt(np.power(df2, 2).sum()))

In [70]:
for i in genres_df.columns:
    for j in genres_df.columns:
        cs_df.loc[i][j] = get_cosine_similarity_mertric(genres_df[i], genres_df[j])

In [71]:
cs_df

,TV Movie,Thriller,Action,Mystery,Crime,Documentary,Adventure,Science Fiction,Drama,Animation,Music,Fantasy,Family,Romance,Western,War,History,Horror,Comedy
TV Movie,1.0,0.394733,0.513236,0.39673,0.364897,0.273702,0.592527,0.53523,0.511371,0.599006,0.580721,0.61596,0.676505,0.495483,0.354297,0.326719,0.332524,0.410583,0.677208
Thriller,0.394733,1.0,0.717784,0.803086,0.803562,0.252943,0.478655,0.632004,0.747659,0.276127,0.26195,0.419476,0.280956,0.495854,0.468874,0.527351,0.504018,0.717057,0.440748
Action,0.513236,0.717784,1.0,0.554684,0.650536,0.291962,0.797106,0.781199,0.623967,0.589238,0.364484,0.625936,0.571553,0.473524,0.555539,0.573059,0.479258,0.612385,0.641312
Mystery,0.39673,0.803086,0.554684,1.0,0.702164,0.263122,0.456686,0.554591,0.662259,0.365163,0.314863,0.449878,0.36879,0.471931,0.387748,0.379926,0.384377,0.646352,0.491783
Crime,0.364897,0.803562,0.650536,0.702164,1.0,0.289151,0.422055,0.450467,0.70113,0.281047,0.310511,0.34936,0.297321,0.481107,0.460968,0.420063,0.462907,0.507797,0.503363
Documentary,0.273702,0.252943,0.291962,0.263122,0.289151,1.0,0.247916,0.216827,0.337446,0.169529,0.257017,0.192158,0.198267,0.221919,0.214639,0.240606,0.312933,0.220365,0.274301
Adventure,0.592527,0.478655,0.797106,0.456686,0.422055,0.247916,1.0,0.719617,0.537524,0.801408,0.530574,0.794288,0.831916,0.530338,0.53405,0.451217,0.386237,0.464983,0.784823
Science Fiction,0.53523,0.632004,0.781199,0.554591,0.450467,0.216827,0.719617,1.0,0.512783,0.598825,0.354121,0.613756,0.575048,0.428716,0.385528,0.382743,0.295121,0.641385,0.601664
Drama,0.511371,0.747659,0.623967,0.662259,0.70113,0.337446,0.537524,0.512783,1.0,0.351065,0.497333,0.496137,0.432878,0.725442,0.603654,0.706889,0.748685,0.516213,0.542533
Animation,0.599006,0.276127,0.589238,0.365163,0.281047,0.169529,0.801408,0.598825,0.351065,1.0,0.590689,0.775147,0.926371,0.421453,0.339857,0.239284,0.19883,0.339585,0.789651
Music,0.580721,0.26195,0.364484,0.314863,0.310511,0.257017,0.530574,0.354121,0.497333,0.590689,1.0,0.609684,0.677975,0.59703,0.319886,0.277159,0.303492,0.281107,0.711368
Fantasy,0.61596,0.419476,0.625936,0.449878,0.34936,0.192158,0.794288,0.613756,0.496137,0.775147,0.609684,1.0,0.827836,0.550375,0.382767,0.303073,0.259801,0.54539,0.781311
Family,0.676505,0.280956,0.571553,0.36879,0.297321,0.198267,0.831916,0.575048,0.432878,0.926371,0.677975,0.827836,1.0,0.521147,0.373618,0.264771,0.244276,0.334294,0.857971
Romance,0.495483,0.495854,0.473524,0.471931,0.481107,0.221919,0.530338,0.428716,0.725442,0.421453,0.59703,0.550375,0.521147,1.0,0.498564,0.486483,0.473519,0.373366,0.641448
Western,0.354297,0.468874,0.555539,0.387748,0.460968,0.214639,0.53405,0.385528,0.603654,0.339857,0.319886,0.382767,0.373618,0.498564,1.0,0.429411,0.433182,0.347704,0.455509
War,0.326719,0.527351,0.573059,0.379926,0.420063,0.240606,0.451217,0.382743,0.706889,0.239284,0.277159,0.303073,0.264771,0.486483,0.429411,1.0,0.799357,0.335557,0.334201
History,0.332524,0.504018,0.479258,0.384377,0.462907,0.312933,0.386237,0.295121,0.748685,0.19883,0.303492,0.259801,0.244276,0.473519,0.433182,0.799357,1.0,0.285758,0.298909
Horror,0.410583,0.717057,0.612385,0.646352,0.507797,0.220365,0.464983,0.641385,0.516213,0.339585,0.281107,0.54539,0.334294,0.373366,0.347704,0.335557,0.285758,1.0,0.46611
Comedy,0.677208,0.440748,0.641312,0.491783,0.503363,0.274301,0.784823,0.601664,0.542533,0.789651,0.711368,0.781311,0.857971,0.641448,0.455509,0.334201,0.298909,0.46611,1.0

In [72]:
cs_df.to_csv('data/genres_cosine_similarity.csv')

---

## Keywords

In [2]:
keywords = pd.read_csv('../data/popular_10000_movies/movies_dataset_CLEAN.csv', index_col='id')
keywords = keywords['keywords'].to_frame()

In [3]:
keywords.head()

                                                 keywords
id
385687  [{'id': 9663, 'name': 'sequel'}, {'id': 9748, ...
697843  [{'id': 3070, 'name': 'mercenary'}, {'id': 966...
603692  [{'id': 242, 'name': 'new york city'}, {'id': ...
569094  [{'id': 2858, 'name': 'sacrifice'}, {'id': 328...
502356  [{'id': 282, 'name': 'video game'}, {'id': 690...

In [4]:
keywords.iloc[0].to_list()[0][1:-1]

"{'id': 9663, 'name': 'sequel'}, {'id': 9748, 'name': 'revenge'}, {'id': 10039, 'name': 'racing'}, {'id': 18035, 'name': 'family'}, {'id': 286354, 'name': 'cars'}"

In [12]:
import re

In [45]:
kw = keywords.iloc[0].to_list()[0]

In [47]:
l = re.findall("'name': '\w+'", kw)

In [55]:
l

["'name': 'sequel'",
 "'name': 'revenge'",
 "'name': 'racing'",
 "'name': 'family'",
 "'name': 'cars'"]

In [59]:
l2 = [i.replace("'name': ", "").replace("'", '') for i in l]

In [60]:
l2

['sequel', 'revenge', 'racing', 'family', 'cars']

In [87]:
full_keywords_l = []
keywords_list_of_list = []
for i in range(keywords.shape[0]):
    kw = keywords.iloc[i].to_list()[0][1:-1]
    l = re.findall("'name': '\w+'", kw)
    l2 = [i.replace("'name': ", "").replace("'", '') for i in l]
    full_keywords_l.extend(l2)
    keywords_list_of_list.append(l2)

In [90]:
keywords_list_of_list[:10]

[['sequel', 'revenge', 'racing', 'family', 'cars'],
 ['mercenary', 'sequel'],
 ['hitman', 'sequel', 'aftercreditsstinger', 'hunted', 'berlin'],
 ['sacrifice', 'villain', 'sequel', 'superhero', 'cliffhanger'],
 ['gorilla',
  'plumber',
  'anthropomorphism',
  'toad',
  'aftercreditsstinger',
  'duringcreditsstinger',
  'piano'],
 ['peru', 'alien', 'robot', 'duringcreditsstinger', '1990s'],
 ['fire', 'elements', 'water', 'city'],
 ['hypnotism'],
 ['hero', 'superhero', 'superhuman', 'aftercreditsstinger'],
 ['hero',
  'sequel',
  'superhero',
  'raccoon',
  'aftercreditsstinger',
  'duringcreditsstinger',
  'cosmic']]

In [88]:
len(full_keywords_l)

45508

In [76]:
len(set(full_keywords_l))

5889

In [86]:
full_keywords_l[0]

'sequel'

In [92]:
keywords_counter = {}
l = []
for k in list(set(full_keywords_l)):
    for ks in keywords_list_of_list:
        if k in ks:
            l.extend(ks)
    keywords_counter[k] = dict(Counter(l))
    l = []

keywords_counter['sequel']

{'sequel': 457,
 'revenge': 31,
 'racing': 2,
 'family': 11,
 'cars': 1,
 'mercenary': 6,
 'hitman': 5,
 'aftercreditsstinger': 37,
 'hunted': 1,
 'berlin': 1,
 'sacrifice': 2,
 'villain': 10,
 'superhero': 31,
 'cliffhanger': 1,
 'hero': 7,
 'raccoon': 1,
 'duringcreditsstinger': 44,
 'cosmic': 1,
 'resurrection': 9,
 'rebirth': 1,
 'war': 1,
 'machete': 3,
 'murder': 42,
 'gore': 17,
 'diner': 3,
 'dog': 6,
 'blood': 1,
 'terrorists': 1,
 'earthquake': 3,
 'pregnancy': 7,
 'demon': 5,
 'evil': 6,
 'necronomicon': 2,
 'reboot': 4,
 'motherhood': 1,
 'sisterhood': 2,
 'apartment': 1,
 'ant': 2,
 'deaf': 1,
 'sports': 8,
 'orphan': 2,
 'boxing': 2,
 'prodigy': 1,
 'mask': 9,
 'trauma': 3,
 'halloween': 17,
 'college': 9,
 'slasher': 34,
 'whodunit': 4,
 'brutality': 5,
 'feminism': 1,
 'flashback': 6,
 'prologue': 1,
 'archaeologist': 2,
 'adventurer': 5,
 '1960s': 1,
 'showdown': 7,
 'magic': 14,
 'dangerous': 2,
 'vigilante': 6,
 'portal': 1,
 'crossover': 1,
 'teamwork': 2,
 'royalty': 4,
 'underwater': 7,
 'mourning': 1,
 'yucatan': 1,
 'mayans': 1,
 'alien': 14,
 'robot': 7,
 'military': 5,
 'franchise': 1,
 'insidious': 1,
 'clown': 4,
 'killer': 9,
 'megaslasher': 1,
 'hedgehog': 1,
 'shadow': 1,
 'heroes': 1,
 'colorless': 1,
 'thor': 1,
 'dinosaur': 7,
 'jurassic': 1,
 'exorcism': 1,
 'supernatural': 15,
 'connecticut': 1,
 '1980s': 2,
 'misfit': 1,
 'space': 8,
 'psychopath': 18,
 'creature': 27,
 'fear': 2,
 'symbiote': 2,
 'carnage': 2,
 '1970s': 2,
 'minions': 2,
 'gentleminions': 1,
 'undercover': 3,
 'fbi': 5,
 'disguise': 3,
 'impersonation': 1,
 'obsession': 1,
 'experiment': 6,
 'electrocution': 1,
 'italy': 2,
 'assassin': 6,
 'gun': 5,
 'roof': 1,
 'shootout': 12,
 'handshake': 1,
 'dark': 1,
 'dogs': 1,
 'carnival': 1,
 'remake': 3,
 'maine': 1,
 '2016': 1,
 'speed': 1,
 'casablanca': 1,
 'morocco': 2,
 'cyborg': 5,
 'future': 3,
 'dystopia': 20,
 'terminator': 2,
 'clock': 1,
 'queen': 1,
 'europe': 5,
 'destruction': 1,
 'eroticism': 2,
 'bdsm': 4,
 'submarine': 2,
 'betrayal': 5,
 'buddy': 5,
 'courthouse': 1,
 'android': 4,
 'spacecraft': 5,
 'infection': 2,
 'engineer': 1,
 'scientist': 9,
 'genocide': 1,
 'creation': 1,
 'acid': 1,
 'xenomorph': 3,
 'prison': 14,
 'wife': 1,
 'fighting': 3,
 'fight': 7,
 'maze': 1,
 'imprisonment': 3,
 'survival': 3,
 'trial': 1,
 'zombie': 6,
 'doctor': 5,
 'battle': 4,
 'vaccine': 1,
 'desert': 4,
 'labyrinth': 2,
 'combat': 3,
 'illness': 1,
 'cure': 1,
 'runner': 1,
 'island': 7,
 'parenting': 2,
 'musical': 10,
 'wish': 3,
 'princess': 7,
 'streaming': 1,
 'liberation': 3,
 'honeymoon': 1,
 'prince': 7,
 'kingdom': 5,
 'enchantment': 1,
 'transformation': 6,
 'anthropomorphism': 10,
 'dragon': 7,
 'ogre': 3,
 'kidnapping': 8,
 'stalking': 1,
 'mutant': 5,
 'amnesia': 5,
 'sandstorm': 3,
 'forgiveness': 1,
 'spider': 1,
 'wretch': 2,
 'egomania': 1,
 'sand': 1,
 'narcism': 1,
 'hostility': 1,
 'museum': 2,
 'prosecution': 2,
 'airplane': 6,
 'collector': 1,
 'friendship': 10,
 'personification': 3,
 'sea': 1,
 'ship': 3,
 'artifact': 1,
 'pirate': 2,
 'monkey': 2,
 'swashbuckler': 1,
 'ghost': 8,
 'trident': 1,
 'baby': 6,
 'boss': 1,
 'sibling': 1,
 'prehistory': 1,
 'flying': 4,
 'overpopulation': 1,
 'viking': 3,
 'dna': 1,
 'velociraptor': 1,
 'disaster': 3,
 'escape': 7,
 'park': 1,
 'raptor': 1,
 'mosasaurus': 1,
 'witch': 7,
 'sister': 2,
 'trainer': 1,
 'travel': 2,
 'resistance': 1,
 'game': 1,
 'revolt': 1,
 'ghostbuster': 1,
 'nostalgia': 1,
 'afterlife': 1,
 'ghostbusters': 1,
 'werewolf': 2,
 'banshee': 1,
 '2020s': 1,
 'shotgun': 1,
 'champion': 1,
 'fighter': 3,
 'beating': 1,
 'jail': 1,
 'tournament': 3,
 'carrot': 1,
 'loki': 1,
 'cartoon': 6,
 'cowboy': 2,
 'genetics': 1,
 'cyberpunk': 3,
 '2040s': 2,
 'immortality': 2,
 'detective': 11,
 'greece': 3,
 'investigation': 7,
 'satire': 3,
 'billionaire': 2,
 'clue': 1,
 'texas': 3,
 'prequel': 3,
 'purge': 3,
 'california': 5,
 'golf': 1,
 'bodyguard': 2,
 'funeral': 2,
 'morgue': 2,
 'confusion': 1,
 'fugitive': 3,
 'explosion': 13,
 'anger': 1,
 'gps': 1,
 'elevator': 1,
 'spetsnaz': 1,
 'associates': 1,
 'russian': 1,
 'enemy': 1,
 'evasion': 1,
 'mystery': 1,
 'tense': 1,
 'honorable': 1,
 'outsmart': 1,
 'bridge': 1,
 'insanity': 2,
 'prehistoric': 3,
 'jungle': 6,
 'birth': 2,
 'dancefilm': 1,
 'rivalry': 3,
 'dedicated': 1,
 'ukraine': 1,
 'hostage': 4,
 'daycare': 1,
 'ambush': 2,
 'sadness': 1,
 'stage': 1,
 'traitor': 1,
 'shipwreck': 1,
 'conciliation': 1,
 'tricks': 1,
 'assault': 1,
 'teacher': 2,
 'cowardliness': 1,
 'capture': 2,
 'spy': 6,
 'helicopter': 8,
 'plutonium': 2,
 'norway': 1,
 'countdown': 1,
 'motorcycle': 3,
 'handgun': 3,
 'kashmir': 1,
 'monster': 12,
 'damage': 1,
 'army': 1,
 'kaiju': 1,
 'agent': 2,
 'statesman': 1,
 'rape': 8,
 'cia': 3,
 'hurricane': 1,
 'gang': 5,
 'massacre': 3,
 'competition': 4,
 'dynamite': 1,
 'forest': 6,
 'woods': 8,
 'cannibal': 5,
 'incest': 2,
 'voyeur': 4,
 'parody': 2,
 'spoof': 5,
 'abuse': 1,
 'screenlife': 1,
 'colombia': 1,
 'boat': 5,
 'kiss': 1,
 'terrorist': 1,
 'skyscraper': 1,
 'satellite': 2,
 'dubai': 1,
 'bombing': 1,
 'jet': 1,
 'analyst': 1,
 'kremlin': 1,
 'disavowed': 1,
 'leader': 1,
 'colony': 1,
 'ape': 2,
 'plague': 1,
 '2030s': 2,
 'bus': 1,
 'sniper': 4,
 'rampage': 3,
 'death': 11,
 'martyr': 1,
 'shotguns': 1,
 'hospital': 5,
 'sledgehammer': 1,
 'revolver': 2,
 'china': 1,
 'village': 3,
 'panda': 1,
 'wuxia': 2,
 'volcano': 3,
 'rescue': 5,
 'warrior': 4,
 'austria': 1,
 'mission': 1,
 'conspiracy': 5,
 'mammoth': 2,
 'sloth': 1,
 'iceberg': 1,
 'flooding': 1,
 'lovers': 1,
 'deluge': 1,
 'sexuality': 1,
 'bondage': 1,
 'whip': 1,
 'masochism': 1,
 'chapter': 1,
 'sadomasochism': 1,
 'love': 2,
 'nymphomaniac': 1,
 'romance': 3,
 'loneliness': 1,
 'tragedy': 1,
 'masturbation': 2,
 'therapy': 1,
 'addict': 1,
 'unhappy': 1,
 'pleasure': 1,
 'virginity': 1,
 'abortion': 1,
 'sex': 2,
 'corruption': 2,
 'drugs': 3,
 'cartel': 1,
 'tattoo': 2,
 'parachute': 1,
 'survivalism': 1,
 'manhunt': 1,
 'opium': 1,
 'homicide': 1,
 'hdd': 1,
 'holiday': 10,
 'burglar': 2,
 'christmas': 9,
 'police': 18,
 'procedural': 1,
 'propaganda': 1,
 'games': 1,
 'president': 1,
 'uprising': 1,
 'rebellion': 1,
 'internet': 1,
 'scat': 1,
 'milf': 1,
 'africa': 6,
 'jealousy': 1,
 'dance': 2,
 'hunger': 1,
 'lion': 2,
 'zoo': 2,
 'hippopotamus': 1,
 'giraffe': 1,
 'chimp': 1,
 'penguin': 1,
 'madagascar': 1,
 'zebra': 1,
 'friends': 1,
 'shark': 12,
 'animal': 7,
 'lemur': 1,
 'bunker': 1,
 'failure': 1,
 'defeat': 1,
 'hunter': 1,
 'predator': 2,
 'yakuza': 1,
 'soldier': 2,
 'fairy': 3,
 'home': 4,
 'invasion': 1,
 'sin': 1,
 'gunfight': 5,
 'blind': 1,
 'criminal': 3,
 'hammer': 1,
 'church': 3,
 'insect': 2,
 'dream': 7,
 'chase': 4,
 'van': 1,
 'shrinking': 1,
 'laboratory': 3,
 'school': 1,
 'miniaturization': 1,
 'montage': 1,
 'giant': 2,
 'anthology': 1,
 'baker': 1,
 'era': 1,
 'glaciale': 1,
 'deriva': 1,
 'prisoner': 2,
 'leech': 1,
 'vietnam': 1,
 'machinegun': 1,
 'photography': 1,
 'government': 2,
 'torture': 12,
 'denunciation': 1,
 'arizona': 1,
 'revolution': 2,
 'missionary': 1,
 'river': 2,
 'pastor': 1,
 'snake': 2,
 'border': 1,
 'thailand': 1,
 'burma': 1,
 'campus': 1,
 'slaughter': 8,
 'university': 3,
 'decapitation': 3,
 'leatherface': 3,
 'chainsaw': 5,
 'gentrification': 1,
 'skinning': 1,
 'massacres': 1,
 'simulation': 1,
 'utopia': 1,
 'deception': 4,
 'autocracy': 1,
 'authority': 1,
 'ninja': 2,
 'centaur': 1,
 'vacation': 1,
 'murderer': 2,
 'vigilantism': 1,
 'prostitute': 2,
 'heart': 1,
 'cigarette': 1,
 'mansion': 1,
 'surgery': 1,
 'taser': 1,
 'absurdism': 1,
 'ultraviolence': 1,
 'mechanic': 1,
 'moon': 2,
 'coffee': 1,
 'calvary': 1,
 'suicide': 3,
 'slavery': 1,
 'avalanche': 1,
 'virus': 3,
 'avatar': 1,
 'detention': 2,
 'explorer': 1,
 'gaming': 1,
 'quest': 1,
 'cartographer': 1,
 'zoologist': 1,
 'chipmunk': 1,
 'overboard': 1,
 'sadism': 16,
 'abduction': 1,
 'audition': 2,
 'parrots': 1,
 'graceland': 1,
 'minivan': 1,
 'pig': 1,
 'hacker': 2,
 'bomb': 1,
 'taxi': 1,
 'riddle': 3,
 'robbery': 4,
 'gold': 4,
 'fistfight': 2,
 'aqueduct': 1,
 'fire': 6,
 'fireworks': 2,
 'singing': 1,
 'cavemen': 1,
 'sword': 2,
 'vampire': 5,
 'ambition': 1,
 'hybrid': 1,
 'gothic': 4,
 'uzi': 1,
 'reincarnation': 1,
 'pets': 1,
 'futuristic': 1,
 'planet': 2,
 'spaceship': 1,
 'egypt': 2,
 'pyramid': 1,
 'mummy': 1,
 'nile': 1,
 'son': 3,
 'tomb': 1,
 '1930s': 2,
 'illinois': 1,
 'knife': 3,
 'boogeyman': 2,
 'paranormal': 1,
 'fish': 1,
 'octopus': 1,
 'clownfish': 1,
 'governor': 1,
 'exploitation': 6,
 'model': 1,
 'despicable': 1,
 'stranded': 2,
 'hatred': 1,
 'lgbt': 1,
 'gay': 1,
 'puppy': 1,
 'dalmatian': 1,
 'diary': 1,
 'nightmare': 7,
 'possession': 2,
 'premonition': 1,
 'disfigurement': 5,
 'sleepwalking': 2,
 'whump': 1,
 'summer': 2,
 'orient': 1,
 'genie': 1,
 'turtle': 3,
 'rat': 1,
 'lake': 5,
 'redneck': 1,
 'hunting': 1,
 'voyeurism': 1,
 'stream': 1,
 'singer': 2,
 'acapella': 2,
 'skateboarding': 1,
 'lightning': 3,
 'guitar': 3,
 'inventor': 3,
 'thunderstorm': 1,
 'tunnel': 1,
 'hoverboard': 2,
 '2010s': 1,
 'aladdin': 1,
 'tentacle': 1,
 'nurse': 2,
 'journalist': 3,
 'airport': 2,
 'cop': 3,
 'snow': 1,
 'terrorism': 1,
 'sabotage': 1,
 'commando': 2,
 'snowmobile': 1,
 'food': 1,
 'hades': 1,
 'laser': 1,
 'routine': 1,
 'chechnya': 1,
 'hacking': 3,
 'zookeeper': 1,
 'warden': 1,
 'firewall': 1,
 'arrogance': 1,
 'hopeless': 1,
 'sanctuary': 1,
 'disgrace': 1,
 'guns': 1,
 'intuition': 1,
 'patience': 1,
 'unpredictable': 1,
 'futility': 1,
 'hostages': 1,
 'asset': 1,
 'hate': 1,
 'callback': 1,
 'layout': 1,
 'mapping': 1,
 'foolproof': 1,
 'specs': 1,
 'beatdown': 1,
 'surfboard': 1,
 'wedding': 4,
 'interrogation': 1,
 'invisibility': 1,
 'forcefield': 1,
 'elasticity': 1,
 'diving': 2,
 'mexico': 4,
 'altar': 1,
 'ruins': 1,
 'sadistic': 2,
 'wound': 1,
 'suffering': 1,
 'victim': 1,
 'tools': 1,
 'controversy': 1,
 'sexploitation': 2,
 'mute': 1,
 'sadist': 4,
 'cruelty': 1,
 'captive': 2,
 'centipede': 1,
 'mouth': 1,
 'onanism': 1,
 'perverted': 1,
 'feces': 1,
 'sandpaper': 1,
 'pervert': 1,
 'humiliation': 1,
 'rapist': 1,
 'defecation': 1,
 'crowbar': 1,
 'funnel': 1,
 'diarrhea': 1,
 'paraphilia': 1,
 'vile': 1,
 'coprophagia': 1,
 'scatology': 1,
 'dehumanization': 1,
 'atlantis': 1,
 'steampunk': 1,
 '1910s': 1,
 'góry': 1,
 'sawing': 1,
 'hewitt': 1,
 'japan': 1,
 'underdog': 1,
 'okinawa': 1,
 'feud': 1,
 'biography': 1,
 'faith': 1,
 'lie': 1,
 'espionage': 2,
 'bourne': 2,
 'revelation': 1,
 'interpol': 1,
 'warlord': 1,
 'ocean': 4,
 'drone': 1,
 'mozambique': 1,
 'invulnerability': 1,
 'kryptonite': 1,
 'cloning': 1,
 'flamethrower': 1,
 'breeding': 1,
 'regeneration': 1,
 'bear': 4,
 'train': 2,
 'retired': 1,
 'mi6': 1,
 'truck': 2,
 'vision': 3,
 'hunt': 1,
 'generational': 1,
 'hallucination': 1,
 'curse': 1,
 'vhs': 1,
 'maggot': 1,
 'babysitter': 2,
 'religion': 3,
 'symbology': 1,
 'wizard': 2,
 '1920s': 1,
 'follower': 1,
 'mayor': 1,
 'sailing': 1,
 'panic': 2,
 'current': 1,
 'tourism': 1,
 'ghetto': 1,
 'gangster': 3,
 'parkour': 1,
 'snuff': 2,
 'deputy': 1,
 'disappearance': 1,
 'investigator': 1,
 'twins': 1,
 'rural': 1,
 'dictator': 2,
 'dwarf': 1,
 'arena': 1,
 'camel': 1,
 'australia': 4,
 'oasis': 1,
 'tribe': 1,
 'wasteland': 2,
 'niece': 2,
 'politics': 1,
 'blonde': 1,
 'lawyer': 1,
 'chihuahua': 1,
 'locomotive': 1,
 'saloon': 1,
 'outlaw': 2,
 'cavalry': 1,
 '1950s': 1,
 'prophecy': 2,
 'occult': 1,
 'raven': 1,
 'wolf': 1,
 'goat': 1,
 'ohio': 4,
 'memory': 1,
 'psychologist': 2,
 'bullying': 2,
 'fawn': 1,
 'transporter': 1,
 'uso': 1,
 'superdetective': 1,
 'bee': 1,
 'mirror': 2,
 'psychology': 2,
 'cooking': 1,
 'incompetence': 1,
 'treasure': 3,
 'hawaii': 1,
 'breast': 2,
 'rottweiler': 1,
 'redemption': 2,
 'impregnation': 1,
 'furnace': 1,
 'addiction': 2,
 'undead': 3,
 'cannibalism': 2,
 'tourist': 1,
 'ransom': 1,
 'representation': 1,
 'abandonment': 1,
 'victory': 1,
 'nascar': 1,
 'explosive': 1,
 'boomerang': 1,
 'pilot': 3,
 'deal': 1,
 'community': 1,
 'oil': 1,
 'desolate': 1,
 'wanderer': 1,
 'sailboat': 1,
 'palace': 1,
 'guru': 1,
 'novelist': 1,
 'archeology': 2,
 'counterfeit': 1,
 'framed': 1,
 'lapd': 3,
 'misadventure': 1,
 'piranha': 2,
 'telekinesis': 3,
 'psychiatrist': 2,
 'sheriff': 7,
 'barn': 2,
 'kitten': 1,
 'scythe': 1,
 'heroine': 1,
 'pitchfork': 1,
 'psychotronic': 2,
 'winter': 1,
 'bravery': 1,
 'mountain': 1,
 'convertible': 1,
 'disarmament': 1,
 'nun': 2,
 'asylum': 2,
 'fetus': 1,
 'womb': 1,
 'kayak': 1,
 'kayaking': 1,
 'ozploitation': 1,
 'glasses': 1,
 'cemetery': 1,
 'meta': 1,
 'heist': 2,
 'goon': 1,
 'dolphin': 2,
 'florida': 4,
 'swimming': 2,
 'crocodile': 1,
 'anaconda': 1,
 'slaughtering': 1,
 'haunting': 3,
 'alcohol': 1,
 'sorority': 2,
 'neighbor': 1,
 'fraternity': 1,
 'sheep': 2,
 'claymation': 1,
 'plasticine': 1,
 'killing': 2,
 'leprechaun': 6,
 'ireland': 2,
 'folklore': 1,
 'girl': 1,
 'scissors': 1,
 'ambulance': 1,
 'twist': 1,
 'october': 1,
 'tiger': 1,
 'videotape': 1,
 'firefighter': 2,
 'patriotism': 1,
 'mockery': 1,
 'kazakhstan': 1,
 'prank': 1,
 'mockumentary': 1,
 'sewerage': 1,
 'sweden': 1,
 'millennium': 1,
 'adversary': 1,
 'bullied': 1,
 'rappelling': 1,
 'bullies': 1,
 'stranger': 1,
 'brothel': 2,
 'motel': 2,
 'corpse': 3,
 'maniac': 1,
 'ax': 2,
 'graboids': 2,
 'infiltration': 1,
 'brother': 1,
 'uncle': 1,
 'principal': 1,
 'innocence': 1,
 'volkswagon': 1,
 'käfer': 1,
 'nanny': 1,
 'housekeeper': 1,
 'discipline': 1,
 'reading': 1,
 'sorceress': 1,
 'yuppie': 1,
 'chili': 1,
 'deer': 1,
 'dachshund': 1,
 'hitchhike': 1,
 'casino': 1,
 'surfer': 2,
 'alcoholic': 2,
 'bahamas': 1,
 'stewardess': 2,
 'hijacking': 1,
 'painting': 1,
 'millionaire': 2,
 'philanthropist': 1,
 'airliner': 1,
 'jupiter': 1,
 'astronaut': 1,
 'monolith': 1,
 'narration': 1,
 'tarzan': 1,
 'hunters': 1,
 'industrialist': 1,
 'mutation': 1,
 'professor': 2,
 'critters': 1,
 'colorado': 1,
 'beer': 1,
 'cannabis': 1,
 'vulgarity': 1,
 'seduction': 2,
 'pain': 1,
 'stepmother': 1,
 'hell': 2,
 'pinhead': 2,
 'skin': 1,
 'mattress': 1,
 'cenobite': 1,
 'baseball': 1,
 'coronation': 1,
 'miracle': 1,
 'raid': 1,
 'fashion': 1,
 'modeling': 1,
 'fashionista': 1,
 'donkey': 1,
 'pumpkin': 1,
 'mechanical': 1,
 'dormitory': 1,
 'spirit': 1,
 'vlogger': 1,
 'surveillance': 1,
 'yugoslavia': 1,
 'partisan': 1,
 '1940s': 1,
 'chetniks': 1,
 'webcam': 1,
 'skype': 1,
 'manipulation': 1,
 'slave': 2,
 'luxury': 1,
 'stepfather': 1,
 'money': 1,
 'threesome': 1,
 'hallucinogen': 1,
 'pacifism': 1,
 'cage': 1,
 'politician': 1,
 'chimpanzee': 1,
 'tease': 1,
 'caving': 1,
 'diamond': 1,
 'hustler': 1,
 'ranch': 2,
 'invention': 1,
 'entrepreneur': 1,
 'druid': 1,
 'armageddon': 1,
 'warlock': 1,
 'grimoire': 1,
 'georgia': 1,
 '1990s': 2,
 'firefly': 1,
 'rejects': 1,
 'arson': 1,
 'chinatown': 1,
 'media': 1,
 'stalker': 2,
 'mafia': 1,
 'reporter': 1,
 'policeman': 1,
 'skeleton': 1,
 'prom': 1,
 'weightlifting': 1,
 'crow': 3,
 'duel': 2,
 'confidence': 1,
 'aging': 1,
 'daughter': 1,
 'contraception': 1,
 'gynecologist': 1,
 'stabbing': 1,
 'videography': 1,
 'buffalo': 1,
 'stunt': 1,
 'stuntman': 1,
 'stupidity': 1,
 'trumpet': 1,
 'priest': 3,
 'corn': 4,
 'harvest': 1,
 '2090s': 1,
 'hologram': 1,
 'nazi': 2,
 'beach': 1,
 ...}

In [102]:
df = pd.DataFrame(index=keywords.index, columns=['keywords_list'], data=np.array(keywords_list_of_list, dtype=object))
df.head()

                                            keywords_list
id
385687            [sequel, revenge, racing, family, cars]
697843                                [mercenary, sequel]
603692  [hitman, sequel, aftercreditsstinger, hunted, ...
569094  [sacrifice, villain, sequel, superhero, cliffh...
502356  [gorilla, plumber, anthropomorphism, toad, aft...

In [96]:
df.shape

(9144, 1)

In [107]:
df.to_csv('data/keywords_list.csv')