# Recommendation System

In [2]:
from collections import Counter
from itertools import combinations
import re

import pandas as pd
import numpy as np

from sklearn.metrics.pairwise import cosine_similarity

import matplotlib.pyplot as plt
import seaborn as sns

import pickle as pk

from jupyterthemes import jtplot
jtplot.style(figsize=(15, 9))

## Data

In [70]:
movies = pd.read_csv('data/movies_dataset_CLEAN_noNaN.csv', index_col='id')

# Vectors
vectors_keywords = pd.read_csv('data/keywords_vectors.csv', index_col=0)
vectors_cast     = pd.read_csv('data/cast_vectors.csv', index_col=0)
vectors_crew     = pd.read_csv('data/crew_vectors.csv', index_col=0)
vectors_genres   = pd.read_csv('data/genres_vectors.csv', index_col=0)

# Sum of Vectors
sum_vectors_keywords = pd.read_csv('data/keywords_sum_vectors.csv', index_col='id')
sum_vectors_cast     = pd.read_csv('data/cast_sum_vectors.csv', index_col='id')
sum_vectors_crew     = pd.read_csv('data/crew_sum_vectors.csv', index_col='id')

# Genres cosine similarity
genres_cs = pd.read_csv('DRAFT/data/cosine_similarity_genres.csv', index_col=0)

## Movies choice

In [4]:
like = [
    'From Dusk Till Dawn',
    'Alien',
    'The Descent',
]

In [5]:
like_df = movies[movies['title'].isin(like)]

In [24]:
like_df

,genre_ids,overview,popularity,release_date,title,vote_average,vote_count,genres,cast,crew,keywords,label,label_encoder
id,,,,,,,,,,,,,
348,"[27, 878]","During its return to the earth, commercial spa...",62.215,1979-05-25,Alien,8.1,12914,"Horror, Science Fiction","[{'cast_id': 10205, 'name': 'Sigourney Weaver'...","[{'crew_id': 578, 'name': 'Ridley Scott', 'dep...","[{'id': 803, 'name': 'android'}, {'id': 1612, ...",Science Fiction,14
755,"[27, 28, 53, 80]",Seth Gecko and his younger brother Richard are...,27.675,1996-01-19,From Dusk Till Dawn,7.0,5301,"Horror, Action, Thriller, Crime","[{'cast_id': 1461, 'name': 'George Clooney', '...","[{'crew_id': 2294, 'name': 'Robert Rodriguez',...","[{'id': 246, 'name': 'dancing'}, {'id': 380, '...",Horror,10
9392,"[12, 27]","After a tragic accident, six friends reunite f...",22.417,2005-07-08,The Descent,7.0,3394,"Adventure, Horror","[{'cast_id': 57574, 'name': 'Shauna Macdonald'...","[{'crew_id': 558, 'name': 'David Julyan', 'dep...","[{'id': 1852, 'name': 'mutant'}, {'id': 1963, ...",Horror,10

In [85]:
class IWantToWatchSomethingLike:
    def __init__(self, like:list):
        self.like = like
        self.like_df = movies[movies['title'].isin(self.like)]
        
        self.cs_THRESHOLD = 0.95
        self.MIN_VOTE_COUNT = 1000
        self.MIN_POPULARITY = 14
        self.MIN_RATING = self.gather_like_info()

        self.similar_movies = self.get_similar_movies()
        self.cosine_similarity = {
            'keywords': pd.DataFrame([]),
            'cast'    : pd.DataFrame([]),
            'crew'    : pd.DataFrame([]),
        }
        self.get_cosine_similarity()
        
    def get_cosine_similarity(self):
        keywords_cs = cosine_similarity(
            sum_vectors_keywords.loc[self.like_df.index],
            sum_vectors_keywords.loc[self.similar_movies.index]
        )
        cast_cs = cosine_similarity(
            sum_vectors_cast.loc[self.like_df.index],
            sum_vectors_cast.loc[self.similar_movies.index]
        )
        crew_cs = cosine_similarity(
            sum_vectors_crew.loc[self.like_df.index],
            sum_vectors_crew.loc[self.similar_movies.index]
        )
        
        self.cosine_similarity['keywords'] = pd.DataFrame(
            index=self.similar_movies.index,
            columns=self.like_df['title'],
            data=keywords_cs.transpose()
        )
        
        self.cosine_similarity['cast'] = pd.DataFrame(
            index=self.similar_movies.index,
            columns=self.like_df['title'],
            data=keywords_cs.transpose()
        )
        
        self.cosine_similarity['crew'] = pd.DataFrame(
            index=self.similar_movies.index,
            columns=self.like_df['title'],
            data=keywords_cs.transpose()
        )
    
    def gather_inds_by_cs(self)->list:
        inds = []
        for title in like:
            inds += self.cosine_similarity['keywords'][
                self.cosine_similarity['keywords'][title]>self.cs_THRESHOLD
            ][title].index.to_list()\
            + self.cosine_similarity['cast'][
                self.cosine_similarity['cast'][title]>self.cs_THRESHOLD
            ][title].index.to_list()\
            + self.cosine_similarity['crew'][
                self.cosine_similarity['crew'][title]>self.cs_THRESHOLD
            ][title].index.to_list()
        
        return list(set(inds))
    
    def flatten_list(self, list_of_lists:list)->list:
        return [l for ll in list_of_lists for l in ll]
    
    def reduce_genres(self)->list:
        genres_list_of_lists = [gl.split(', ') for gl in self.like_df['genres'].to_list()]
        genres_flat_list = self.flatten_list(genres_list_of_lists)
        
        genres_list = set(genres_flat_list)
        genres_list = list(genres_list - set(like_df['label'].to_list()))
        
        neariest_genres = []
        for g in genres_list:
            neariest_genres.append(genres_cs.loc[:, genres_list][genres_cs[g]>0.8].index.to_list())
        
        neariest_genres = self.flatten_list(neariest_genres)

        neariest_genres_counter = dict(Counter(neariest_genres_fl))

        genres_more_than_1_apperance = [k for k, v in neariest_genres_counter.items() if v>2]
        
        genres_list.extend(genres_more_than_1_apperance)
        
        return genres_list
    
    def show_recommendation(self, amount=10, sorted_by='vote_average', reduce_genres=False)->pd.DataFrame:
        inds = self.gather_inds_by_cs()
        recommendation = self.similar_movies.loc[inds]
        
        if reduce_genres:
            genres_list = self.reduce_genres()
            s = vectors_genres.loc[recommendation.index, genres_list].sum(axis=1)>0
            recommendation = recommendation.loc[s[s].index]

        if sorted_by in recommendation.columns and amount < recommendation.shape[0]:
            return recommendation.sort_values([sorted_by], ascending=False)[:amount]
        
        return recommendation
        
    def get_similar_movies(self)->pd.DataFrame:
        return movies[
                         (~movies['title'].isin(like))
                         & (movies['vote_average'] >= self.MIN_RATING)
                         & (movies['vote_count'] >= self.MIN_VOTE_COUNT)
                         & (movies['popularity'] > self.MIN_POPULARITY)
                         & (movies['label'].isin(self.like_df['label'].to_list()))
                     ]

    def gather_like_info(self)->float:
        return self.like_df['vote_average'].min()-0.2
    
    def show_what_i_like(self)->pd.DataFrame:
        return self.like_df

In [86]:
what_to_watch = IWantToWatchSomethingLike(like)

what_to_watch.show_what_i_like()

,genre_ids,overview,popularity,release_date,title,vote_average,vote_count,genres,cast,crew,keywords,label,label_encoder
id,,,,,,,,,,,,,
348,"[27, 878]","During its return to the earth, commercial spa...",62.215,1979-05-25,Alien,8.1,12914,"Horror, Science Fiction","[{'cast_id': 10205, 'name': 'Sigourney Weaver'...","[{'crew_id': 578, 'name': 'Ridley Scott', 'dep...","[{'id': 803, 'name': 'android'}, {'id': 1612, ...",Science Fiction,14
755,"[27, 28, 53, 80]",Seth Gecko and his younger brother Richard are...,27.675,1996-01-19,From Dusk Till Dawn,7.0,5301,"Horror, Action, Thriller, Crime","[{'cast_id': 1461, 'name': 'George Clooney', '...","[{'crew_id': 2294, 'name': 'Robert Rodriguez',...","[{'id': 246, 'name': 'dancing'}, {'id': 380, '...",Horror,10
9392,"[12, 27]","After a tragic accident, six friends reunite f...",22.417,2005-07-08,The Descent,7.0,3394,"Adventure, Horror","[{'cast_id': 57574, 'name': 'Shauna Macdonald'...","[{'crew_id': 558, 'name': 'David Julyan', 'dep...","[{'id': 1852, 'name': 'mutant'}, {'id': 1963, ...",Horror,10

In [87]:
what_to_watch.show_recommendation(sorted_by='release_date')

,genre_ids,overview,popularity,release_date,title,vote_average,vote_count,genres,cast,crew,keywords,label,label_encoder
id,,,,,,,,,,,,,
713704,"[53, 27]",A reunion between two estranged sisters gets c...,754.930,2023-04-12,Evil Dead Rise,7.0,1765,"Thriller, Horror","[{'cast_id': 1186659, 'name': 'Lily Sullivan',...","[{'crew_id': 7623, 'name': 'Sam Raimi', 'depar...","[{'id': 380, 'name': 'sibling relationship'}, ...",Horror,10
934433,"[27, 9648, 53]","Following the latest Ghostface killings, the f...",315.504,2023-03-08,Scream VI,7.2,1418,"Horror, Mystery, Thriller","[{'cast_id': 1373659, 'name': 'Melissa Barrera...","[{'crew_id': 409, 'name': 'Cathy Konrad', 'dep...","[{'id': 242, 'name': 'new york city'}, {'id': ...",Horror,10
76600,"[878, 12, 28]",Set more than a decade after the events of the...,899.251,2022-12-14,Avatar: The Way of Water,7.7,8861,"Science Fiction, Adventure, Action","[{'cast_id': 65731, 'name': 'Sam Worthington',...","[{'crew_id': 1721, 'name': 'Stephen E. Rivkin'...","[{'id': 697, 'name': 'loss of loved one'}, {'i...",Science Fiction,14
663712,"[27, 53]","After being resurrected by a sinister entity, ...",197.173,2022-10-06,Terrifier 2,6.9,1268,"Horror, Thriller","[{'cast_id': 1882502, 'name': 'Lauren LaVera',...","[{'crew_id': 83331, 'name': 'Steven Barton', '...","[{'id': 3199, 'name': 'clown'}, {'id': 3335, '...",Horror,10
913290,"[27, 9648, 53]","In town for a job interview, a young woman arr...",40.927,2022-09-08,Barbarian,6.9,1530,"Horror, Mystery, Thriller","[{'cast_id': 1335315, 'name': 'Georgina Campbe...","[{'crew_id': 376, 'name': 'Arnon Milchan', 'de...","[{'id': 739, 'name': 'sexual abuse'}, {'id': 1...",Horror,10
756999,"[27, 53]","Finney Blake, a shy but clever 13-year-old boy...",77.743,2022-06-22,The Black Phone,7.7,3946,"Horror, Thriller","[{'cast_id': 2803710, 'name': 'Mason Thames', ...","[{'crew_id': 494, 'name': 'Terri Taylor', 'dep...","[{'id': 380, 'name': 'sibling relationship'}, ...",Horror,10
696806,"[12, 878]","After accidentally crash-landing in 2022, time...",54.317,2022-03-11,The Adam Project,7.1,3652,"Adventure, Science Fiction","[{'cast_id': 10859, 'name': 'Ryan Reynolds', '...","[{'crew_id': 10956, 'name': 'Josh McLaglen', '...","[{'id': 4379, 'name': 'time travel'}, {'id': 1...",Science Fiction,14
522402,"[878, 18, 12]","On a post-apocalyptic Earth, a robot, built to...",57.570,2021-11-04,Finch,7.9,2945,"Science Fiction, Drama, Adventure","[{'cast_id': 31, 'name': 'Tom Hanks', 'charact...","[{'crew_id': 24, 'name': 'Robert Zemeckis', 'd...","[{'id': 14544, 'name': 'robot'}, {'id': 189092...",Science Fiction,14
576845,"[27, 9648, 53]","A young girl, passionate about fashion design,...",33.303,2021-10-21,Last Night in Soho,7.4,2608,"Horror, Mystery, Thriller","[{'cast_id': 1356758, 'name': 'Thomasin McKenz...","[{'crew_id': 2236, 'name': 'Tim Bevan', 'depar...","[{'id': 212, 'name': 'london, england'}, {'id'...",Horror,10
588228,"[28, 878, 12]",The world is stunned when a group of time trav...,75.953,2021-09-03,The Tomorrow War,7.6,2612,"Action, Science Fiction, Adventure","[{'cast_id': 73457, 'name': 'Chris Pratt', 'ch...","[{'crew_id': 3893, 'name': 'David S. Goyer', '...","[{'id': 1477, 'name': 'world cup'}, {'id': 437...",Science Fiction,14

In [88]:
what_to_watch.show_recommendation(sorted_by='vote_average', amount=5, reduce_genres=True)

,genre_ids,overview,popularity,release_date,title,vote_average,vote_count,genres,cast,crew,keywords,label,label_encoder
id,,,,,,,,,,,,,
1891,"[12, 28, 878]","The epic saga continues as Luke Skywalker, in ...",31.938,1980-05-20,The Empire Strikes Back,8.4,15460,"Adventure, Action, Science Fiction","[{'cast_id': 2, 'name': 'Mark Hamill', 'charac...","[{'crew_id': 1, 'name': 'George Lucas', 'depar...","[{'id': 526, 'name': 'rebel'}, {'id': 803, 'na...",Science Fiction,14
157336,"[12, 18, 878]",The adventures of a group of explorers who mak...,130.980,2014-11-05,Interstellar,8.4,31699,"Adventure, Drama, Science Fiction","[{'cast_id': 10297, 'name': 'Matthew McConaugh...","[{'crew_id': 947, 'name': 'Hans Zimmer', 'depa...","[{'id': 310, 'name': 'artificial intelligence'...",Science Fiction,14
280,"[28, 53, 878]",Nearly 10 years have passed since Sarah Connor...,69.226,1991-07-03,Terminator 2: Judgment Day,8.1,11448,"Action, Thriller, Science Fiction","[{'cast_id': 1100, 'name': 'Arnold Schwarzeneg...","[{'crew_id': 563, 'name': 'Dody Dorn', 'depart...","[{'id': 679, 'name': 'cyborg'}, {'id': 1366, '...",Science Fiction,14
679,"[28, 53, 878]",When Ripley's lifepod is found by a salvage cr...,59.005,1986-07-18,Aliens,7.9,8542,"Action, Thriller, Science Fiction","[{'cast_id': 10205, 'name': 'Sigourney Weaver'...","[{'crew_id': 8380, 'name': 'Michael Lamont', '...","[{'id': 803, 'name': 'android'}, {'id': 1603, ...",Science Fiction,14
522402,"[878, 18, 12]","On a post-apocalyptic Earth, a robot, built to...",57.570,2021-11-04,Finch,7.9,2945,"Science Fiction, Drama, Adventure","[{'cast_id': 31, 'name': 'Tom Hanks', 'charact...","[{'crew_id': 24, 'name': 'Robert Zemeckis', 'd...","[{'id': 14544, 'name': 'robot'}, {'id': 189092...",Science Fiction,14

In [90]:
what_to_watch.show_recommendation(amount=10000, reduce_genres=True)

,genre_ids,overview,popularity,release_date,title,vote_average,vote_count,genres,cast,crew,keywords,label,label_encoder
id,,,,,,,,,,,,,
1547,"[27, 35, 53]",A mother and her two teenage sons move to a se...,20.128,1987-07-31,The Lost Boys,7.1,1732,"Horror, Comedy, Thriller","[{'cast_id': 12261, 'name': 'Jason Patric', 'c...","[{'crew_id': 153, 'name': 'Thomas Newman', 'de...","[{'id': 387, 'name': 'california'}, {'id': 542...",Horror,10
17431,"[878, 18]",With only three weeks left in his three year c...,19.520,2009-06-12,Moon,7.6,5130,"Science Fiction, Drama","[{'cast_id': 6807, 'name': 'Sam Rockwell', 'ch...","[{'crew_id': 5497, 'name': 'Aleksandar Jovanov...","[{'id': 305, 'name': 'moon'}, {'id': 310, 'nam...",Science Fiction,14
19995,"[28, 12, 14, 878]","In the 22nd century, a paraplegic Marine is di...",209.916,2009-12-15,Avatar,7.6,29311,"Action, Adventure, Fantasy, Science Fiction","[{'cast_id': 65731, 'name': 'Sam Worthington',...","[{'crew_id': 1721, 'name': 'Stephen E. Rivkin'...","[{'id': 1463, 'name': 'culture clash'}, {'id':...",Science Fiction,14
934433,"[27, 9648, 53]","Following the latest Ghostface killings, the f...",315.504,2023-03-08,Scream VI,7.2,1418,"Horror, Mystery, Thriller","[{'cast_id': 1373659, 'name': 'Melissa Barrera...","[{'crew_id': 409, 'name': 'Cathy Konrad', 'dep...","[{'id': 242, 'name': 'new york city'}, {'id': ...",Horror,10
198184,"[80, 28, 878]",Every child comes into the world full of promi...,46.924,2015-03-04,Chappie,6.8,7317,"Crime, Action, Science Fiction","[{'cast_id': 82191, 'name': 'Sharlto Copley', ...","[{'crew_id': 947, 'name': 'Hans Zimmer', 'depa...","[{'id': 310, 'name': 'artificial intelligence'...",Science Fiction,14
...,...,...,...,...,...,...,...,...,...,...,...,...,...
16320,"[878, 28, 12, 53]",When the renegade crew of Serenity agrees to h...,23.533,2005-09-25,Serenity,7.4,3138,"Science Fiction, Action, Adventure, Thriller","[{'cast_id': 51797, 'name': 'Nathan Fillion', ...","[{'crew_id': 356, 'name': 'Jack Green', 'depar...","[{'id': 779, 'name': 'martial arts'}, {'id': 1...",Science Fiction,14
588228,"[28, 878, 12]",The world is stunned when a group of time trav...,75.953,2021-09-03,The Tomorrow War,7.6,2612,"Action, Science Fiction, Adventure","[{'cast_id': 73457, 'name': 'Chris Pratt', 'ch...","[{'crew_id': 3893, 'name': 'David S. Goyer', '...","[{'id': 1477, 'name': 'world cup'}, {'id': 437...",Science Fiction,14
336843,"[878, 28, 12, 53]",Thomas leads his group of escaped Gladers on t...,87.886,2018-01-10,Maze Runner: The Death Cure,7.1,6989,"Science Fiction, Action, Adventure, Thriller","[{'cast_id': 527393, 'name': ""Dylan O'Brien"", ...","[{'crew_id': 2215, 'name': 'Denise Chamian', '...","[{'id': 818, 'name': 'based on novel or book'}...",Science Fiction,14
696806,"[12, 878]","After accidentally crash-landing in 2022, time...",54.317,2022-03-11,The Adam Project,7.1,3652,"Adventure, Science Fiction","[{'cast_id': 10859, 'name': 'Ryan Reynolds', '...","[{'crew_id': 10956, 'name': 'Josh McLaglen', '...","[{'id': 4379, 'name': 'time travel'}, {'id': 1...",Science Fiction,14
713704,"[53, 27]",A reunion between two estranged sisters gets c...,754.930,2023-04-12,Evil Dead Rise,7.0,1765,"Thriller, Horror","[{'cast_id': 1186659, 'name': 'Lily Sullivan',...","[{'crew_id': 7623, 'name': 'Sam Raimi', 'depar...","[{'id': 380, 'name': 'sibling relationship'}, ...",Horror,10

In [100]:
no_reduced_genres = set(what_to_watch.show_recommendation(amount=10000).index.to_list())
reduced_genres = set(what_to_watch.show_recommendation(amount=10000, reduce_genres=True).index.to_list())

In [105]:
movies.loc[list(no_reduced_genres - reduced_genres)]

,genre_ids,overview,popularity,release_date,title,vote_average,vote_count,genres,cast,crew,keywords,label,label_encoder
id,,,,,,,,,,,,,
30497,[27],When Sally hears that her grandfather's grave ...,27.673,1974-10-01,The Texas Chain Saw Massacre,7.3,2770,Horror,"[{'cast_id': 27798, 'name': 'Marilyn Burns', '...","[{'crew_id': 16296, 'name': 'Ronald M. Bozman'...","[{'id': 625, 'name': 'sadistic'}, {'id': 1420,...",Horror,10
764,[27],Five vacationing college students unwittingly ...,43.335,1981-09-10,The Evil Dead,7.3,3462,Horror,"[{'cast_id': 11357, 'name': 'Bruce Campbell', ...","[{'crew_id': 1223, 'name': 'Joel Coen', 'depar...","[{'id': 769, 'name': 'falsely accused'}, {'id'...",Horror,10
923,[27],During an ever-growing epidemic of zombies tha...,26.619,1978-09-02,Dawn of the Dead,7.5,1816,Horror,"[{'cast_id': 15069, 'name': 'David Emge', 'cha...","[{'crew_id': 14999, 'name': 'George A. Romero'...","[{'id': 720, 'name': 'helicopter'}, {'id': 343...",Horror,10
19908,"[35, 27]",Columbus has made a habit of running from what...,39.697,2009-10-07,Zombieland,7.3,11268,"Comedy, Horror","[{'cast_id': 57755, 'name': 'Woody Harrelson',...","[{'crew_id': 561, 'name': 'John Papsidera', 'd...","[{'id': 291, 'name': 'circus'}, {'id': 380, 'n...",Horror,10
136,"[18, 27]",A circus' beautiful trapeze artist agrees to m...,20.792,1932-02-12,Freaks,7.8,1032,"Drama, Horror","[{'cast_id': 1511, 'name': 'Harry Earles', 'ch...","[{'crew_id': 1496, 'name': 'Tod Browning', 'de...","[{'id': 604, 'name': 'dwarf'}, {'id': 1326, 'n...",Horror,10
474350,"[27, 14]",27 years after overcoming the malevolent super...,121.912,2019-09-04,It Chapter Two,6.9,7821,"Horror, Fantasy","[{'cast_id': 83002, 'name': 'Jessica Chastain'...","[{'crew_id': 2678, 'name': 'Stephanie Gorin', ...","[{'id': 818, 'name': 'based on novel or book'}...",Horror,10
814,"[27, 35]",Two American tourists in England are attacked ...,30.046,1981-08-21,An American Werewolf in London,7.4,2057,"Horror, Comedy","[{'cast_id': 14463, 'name': 'David Naughton', ...","[{'crew_id': 3804, 'name': 'Peter Guber', 'dep...","[{'id': 212, 'name': 'london, england'}, {'id'...",Horror,10
294963,"[37, 27, 18]","During a shootout in a saloon, Sheriff Hunt in...",21.368,2015-10-23,Bone Tomahawk,6.8,1881,"Western, Horror, Drama","[{'cast_id': 6856, 'name': 'Kurt Russell', 'ch...","[{'crew_id': 4584, 'name': 'Robert Jones', 'de...","[{'id': 351, 'name': 'poison'}, {'id': 502, 'n...",Horror,10
346364,"[27, 14]","In a small town in Maine, seven children known...",248.283,2017-09-06,It,7.2,17704,"Horror, Fantasy","[{'cast_id': 1274508, 'name': 'Jaeden Martell'...","[{'crew_id': 2678, 'name': 'Stephanie Gorin', ...","[{'id': 818, 'name': 'based on novel or book'}...",Horror,10
338967,"[35, 27]","Columbus, Tallahassee, Wichita, and Little Roc...",39.657,2019-10-09,Zombieland: Double Tap,7.0,5062,"Comedy, Horror","[{'cast_id': 57755, 'name': 'Woody Harrelson',...","[{'crew_id': 561, 'name': 'John Papsidera', 'd...","[{'id': 833, 'name': 'the white house'}, {'id'...",Horror,10
10779,"[27, 35]","Once an architect, Frank Bannister now passes ...",19.185,1996-07-18,The Frighteners,6.9,1323,"Horror, Comedy","[{'cast_id': 521, 'name': 'Michael J. Fox', 'c...","[{'crew_id': 24, 'name': 'Robert Zemeckis', 'd...","[{'id': 456, 'name': 'mother'}, {'id': 798, 'n...",Horror,10
985,"[14, 27]",First time father Henry Spencer tries to survi...,16.080,1977-03-19,Eraserhead,7.4,2131,"Fantasy, Horror","[{'cast_id': 6718, 'name': 'Jack Nance', 'char...","[{'crew_id': 4434, 'name': 'Frederick Elmes', ...","[{'id': 1009, 'name': 'baby'}, {'id': 1852, 'n...",Horror,10
41402,"[18, 27, 9648]",A bullied young boy befriends a young female v...,15.459,2010-10-01,Let Me In,6.8,1824,"Drama, Horror, Mystery","[{'cast_id': 113505, 'name': 'Kodi Smit-McPhee...","[{'crew_id': 2952, 'name': 'Avy Kaufman', 'dep...","[{'id': 3133, 'name': 'vampire'}, {'id': 9668,...",Horror,10
10331,[27],A disparate group of individuals takes refuge ...,21.106,1968-10-04,Night of the Living Dead,7.6,2122,Horror,"[{'cast_id': 97913, 'name': ""Judith O'Dea"", 'c...","[{'crew_id': 14999, 'name': 'George A. Romero'...","[{'id': 380, 'name': 'sibling relationship'}, ...",Horror,10
763,"[27, 35]",When a Sumatran rat-monkey bites Lionel Cosgro...,19.245,1992-08-13,Braindead,7.4,1410,"Horror, Comedy","[{'cast_id': 11332, 'name': 'Timothy Balme', '...","[{'crew_id': 108, 'name': 'Peter Jackson', 'de...","[{'id': 351, 'name': 'poison'}, {'id': 1326, '...",Horror,10
765,"[27, 35, 14]",Ash Williams and his girlfriend Linda find a l...,34.979,1987-03-13,Evil Dead II,7.6,2696,"Horror, Comedy, Fantasy","[{'cast_id': 11357, 'name': 'Bruce Campbell', ...","[{'crew_id': 7623, 'name': 'Sam Raimi', 'depar...","[{'id': 7946, 'name': 'deer'}, {'id': 8636, 'n...",Horror,10
766,"[14, 27, 35]","Ash, a handsome, shotgun-toting, chainsaw-arme...",32.887,1992-10-31,Army of Darkness,7.3,2749,"Fantasy, Horror, Comedy","[{'cast_id': 11357, 'name': 'Bruce Campbell', ...","[{'crew_id': 531, 'name': 'Danny Elfman', 'dep...","[{'id': 530, 'name': 'prophecy'}, {'id': 616, ...",Horror,10
8408,"[27, 18, 9648]","Trapped in a missile silo, a small team of sci...",15.729,1985-07-03,Day of the Dead,7.0,1049,"Horror, Drama, Mystery","[{'cast_id': 54853, 'name': 'Lori Cardille', '...","[{'crew_id': 14999, 'name': 'George A. Romero'...","[{'id': 1196, 'name': 'florida'}, {'id': 2321,...",Horror,10